<div *ngIf="paths?.length">
    <h3 class="is-h6">Sources</h3>
    <ul class="is-unstyled">
        <li *ngFor="let path of paths;let index = index">
            <a (click)="showSource(path)">
                <code>{{getFileName(path)}}</code>
            </a>
        </li>
    </ul>
    <ec-pop class="dialog-wrapper" #sourcePop>
        <div class="dialog source-pop" data-col="8">
            <div class="dialog-header">
                <h3>{{getFileName(path)}}</h3>
            </div>
            <button (click)="sourcePop.hide()" type="button" class="dialog-dismiss">&times;</button>
            <div *ngFor="let source of paths">
                <ec-github-source *ngIf="path===source" [path]="path" [mode]="getFileMode(path)"></ec-github-source>
            </div>

        </div>
    </ec-pop>
</div>