<ec-notifications></ec-notifications>
<div data-container>
  <h2>ec-asset-select</h2>
  <ec-tabs>
    <ec-tab label="legacy" selected>
      <h4>Legacy Assets</h4>


      <h4>Configless</h4>
      <!-- <strong>solo</strong>
      <ec-asset-select [solo]="true"></ec-asset-select> -->
      <strong>not solo</strong>
      <ec-asset-select></ec-asset-select>
      

      <!-- <h6>useLegacyAssets</h6>
      <strong>solo</strong>
      <ec-asset-select [solo]="true" [config]="{useLegacyAssets:true}"></ec-asset-select>
      <strong>not solo</strong>
      <ec-asset-select [config]="{useLegacyAssets:true}"></ec-asset-select> -->



      <!-- <pre>{{soloAsset.selection?.getValue()}}</pre> -->
      <!--
        <h3>Usage with form</h3>
        <ec-form #fieldTest>
          <ec-asset-select *ngIf="fieldTest.group"
                           [formControl]="fieldTest.group?.get('entries')"
                           model="muffin"></ec-asset-select>
          <ec-input [field]="fieldTest.form?.getField('entries')" [group]="fieldTest.group"></ec-input>
        </ec-form>
        -->
      <!-- TODO -->

      <!-- <b>readOnly</b> -->
      <!-- <ec-asset-select [readOnly]="true" [(ngModel)]="selectedAssets" [config]="{useLegacyAssets:true}"></ec-asset-select> -->
    </ec-tab>


    <!-- <ec-tab label="new assets without assetGroupID" >
      <ec-asset-select [(ngModel)]="selectedNewAssets"></ec-asset-select>
    </ec-tab>
    <ec-tab label="new assets">
      <ec-asset-select assetGroupID="test" [(ngModel)]="selectedNewAssets"></ec-asset-select>

      <pre>{{selectedNewAssets | json}}</pre>
    </ec-tab> -->
  </ec-tabs>

</div>