<ec-notifications></ec-notifications>
<div data-container>
  <h2>ec-asset-select</h2>
  <ec-tabs>
    <ec-tab label="neu" selected>
      <h3>New Assets</h3>
      <ec-asset-select [config]="{customUpload:true}" assetGroupID="test"></ec-asset-select>
      <h4>solo</h4>
      <ec-asset-select [solo]="true" assetGroupID="test"></ec-asset-select>
    </ec-tab>
    <ec-tab label="legacy">
      <h3>Legacy Assets</h3>
      <ec-asset-select></ec-asset-select>
      <h4>solo</h4>
      <ec-asset-select [solo]="true" assetGroupID="legacyAsset"></ec-asset-select>
    </ec-tab>
  </ec-tabs>
</div>