<h2>Entry List</h2>

<ec-entry-list [loader]="loader" (changed)="updateList($event)" #entryList model="muffin" [config]="entryListConfig">
  <div data-ec-list-empty>Noch keine Entries vorhanden!!!!!!!!!</div>
  <div data-ec-list-empty-filtered>
    Filter greift nicht. Rezept: <a (click)="entryList.list?.clearFilter()">Filter aufheben</a>
  </div>
  <div data-ec-list-loading>List versucht gerade zu laden, bitte nicht stören....</div>
</ec-entry-list>
<ec-loader #loader class="ec-loader loader is-global"></ec-loader>
<ec-notifications></ec-notifications>
