.ec-pagination {
  display: flex;

  .ec-pagination-controls {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    .ec-pagination-control {
      display: inline-block;

      &.go-to-last {
        &:after {
          content:"\00bb";
        }
      }
      &.go-to-next {
        &:after {
          content:"\203A";
        }
      }
      &.go-to-prev {
        &:after {
          content:"\2039";
        }
      }
      &.go-to-first {
        &:after {
          content:"\00ab";
        }
      }
    }
  }

  .ec-pagination-pages {
    overflow: hidden;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;

      .ec-pagination-page {

        span {
        }
      }
    }
  }
}