// @param {array} $ec-pop-footer-spacing [0]
// @param {array} $ec-pop-footer-padding [8]

.ec-pop-footer {
  flex-shrink: 0;
  flex-grow: 0;
  margin: arrayMagic($ec-pop-footer-spacing);
  padding: arrayMagic($ec-pop-footer-padding);

  @extend %ec-pop-footer-style !optional;

  .nav {
    .nav__items {
      justify-content: center;
    }
  }
}
