// @param {color} $ec-pop-background [$background]
// @param {color} $ec-pop-color [$text]
// @param {array} $ec-pop-spacing [$base-spacing]
// @param {array} $ec-pop-radius [$xui-overlay-radius]
// @param {array} $ec-pop-shadow [$xui-overlay-shadow]
// @param {array} $ec-pop-style
.ec-pop {
  display: flex;
  flex-direction: column;
  position: relative;
  @include inject-style($ec-pop-style);
  border-radius: arrayMagic($ec-pop-fullscreen-radius);
  background: $ec-pop-fullscreen-background;
  color: $ec-pop-fullscreen-color;
  box-shadow: arrayMagic($ec-pop-shadow);
}
