// @param {color} $ec-pop-background [$background]
// @param {color} $ec-pop-color [$text]
// @param {array} $ec-pop-spacing [$base-spacing]
// @param {array} $ec-pop-radius [$overlay-radius]
// @param {array} $ec-pop-shadow [$overlay-shadow]

.ec-pop {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: arrayMagic($ec-pop-fullscreen-radius);
  background-color: $ec-pop-fullscreen-background;
  color: $ec-pop-fullscreen-color;
  box-shadow: arrayMagic($ec-pop-shadow);

  @extend %ec-pop-style !optional;
}
