// @param {array} $ec-pop-header-spacing [0]
// @param {array} $ec-pop-header-padding [8]
// @param {array} $ec-pop-header-style
.ec-pop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  @include inject-style($ec-pop-header-style);
  margin: arrayMagic($ec-pop-header-spacing);
  padding: arrayMagic($ec-pop-header-padding);

  .ec-pop__dismiss {
    position: relative;
    top: auto;
    right: auto;
  }
}
