@keyframes notification {
  0% {
    transform: translateX(rem(80));
    opacity: 0;
  }

  80% {
    transform: translateX(rem(-16));
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.ec-notifications {
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
}

.ec-notification {
  display: flex;
  flex-direction: column;
  transition: all 0.2s;

  .ec-pop-container {
    .ec-pop {
      background-color: getColor(background);
      padding: rem(8) rem(16);
      box-shadow: 0 8px 16px -4px rgba(#000, 0.2);
      border-radius: arrayMagic(4);
      animation: notification 0.2s;
      margin: rem(4);
      margin-left: auto;
      max-width: rem(320);
      min-width: rem(160);
      position: relative;
      font-size: 0.875em;
      user-select: none;
      cursor: pointer;
    }
  }

  .ec-notification__title {
    font-size: 1em;
    line-height: 1.25em;
    margin: 0;
  }

  .ec-notification__message {
    line-height: 1.25em;
    margin: 0;
  }

  .ec-notification__dismiss {
    position: absolute;
    right: 0;
    top: rem(4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(20);
    height: rem(20);
    text-align: center;
    margin: 0;
    color: getColor(text, light);
  }

  &:hover {
    opacity: 0.8;
  }

  &.is-info {
    .ec-pop {
      border-left: rem(8) solid getColor(state, info);
    }
  }

  &.is-error {
    .ec-pop {
      border-left: rem(8) solid getColor(state, error);
    }
  }

  &.is-success {
    .ec-pop {
      border-left: rem(8) solid getColor(state, success);
    }
  }

  &.is-warning {
    .ec-pop {
      border-left: rem(8) solid getColor(state, warning);
    }
  }
}
