<h2 class="mega">ec-select</h2>

<strong>Default</strong>
<ec-select [list]="products" [(ngModel)]="values"></ec-select>

<strong>Actionbar</strong>
<ec-actionbar [actions]="actions"></ec-actionbar>

<strong>Resource Actionbar</strong>
<ec-resource-actionbar></ec-resource-actionbar>

<ec-notifications></ec-notifications>
<pre><code>{{values | json}}</code></pre>

<!-- 
<strong>Solo</strong>
<ec-select [list]="products" [solo]="true" #ecSelectSolo></ec-select>
<pre><code>{{ecSelectSolo.selection.getValue() | json}}</code></pre>

<strong>Primitive Solo</strong>
<ec-select [values]="['one','two','three']" #primitiveSelectSolo [solo]="true"></ec-select>
<pre><code>{{primitiveSelectSolo.selection.getValue() | json}}</code></pre>

<strong>Primitive</strong>
<ec-select [values]="['one','two','three']" #primitiveSelect></ec-select>
<pre><code>{{primitiveSelect.selection.getValue() | json}}</code></pre>

<strong>Transformed</strong>
<p>This Select has a transform function that hides the item "four", which cannot be removed.</p>
<ec-select [values]="['one','two','three','four']" [(ngModel)]="prefilledFour" [config]="customDisplayConfig"
    #customDisplay></ec-select>
<pre><code>{{customDisplay.selection.getValue() | json}}</code></pre>

<strong>With remove/add outputs</strong>
<ec-select [values]="['one','two','three']" (add)="toggle($event,primitiveSelect?.selection)" (remove)="toggle($event,primitiveSelect?.selection)"
    #outputSelect></ec-select>
<pre><code>{{outputSelect.selection.getValue() | json}}</code></pre>
<ec-tabs>
    <ec-tab label="Inside Tab" selected>
        <ec-select [values]="['one','two','three']"></ec-select>
    </ec-tab>
</ec-tabs>

<ec-notifications></ec-notifications> -->