//
//
// ui/form
// ------------------------------------------------------------------------------------------------------------
//
// EC-CALENDAR
// ------------------------------------------------------
// @param {array} $ec-calendar-spacing [0 0 16]
// @param {array} $ec-calendar-style
$ec-calendar-spacing: 0 0 16 !default;
$ec-calendar-style: () !default;

// @param {array} $ec-calendar-controls-spacing [0 0 8]
// @param {array} $ec-calendar-controls-gutter [0 4]
// @param {array} $ec-calendar-controls-style
$ec-calendar-controls-spacing: 0 0 8 !default;
$ec-calendar-controls-gutter: 0 4 !default;
$ec-calendar-controls-style: () !default;

// @param {px} $ec-calendar-title-size [$base-font-size]
// @param {value} $ec-calendar-title-weight [$is-bold]
// @param {color} $ec-calendar-title-color [$text-light]
// @param {array} $ec-calendar-title-style
$ec-calendar-title-size: $base-font-size !default;
$ec-calendar-title-weight: $is-bold !default;
$ec-calendar-title-color: $text-light !default;
$ec-calendar-title-style: () !default;

// @param {array} $ec-calendar-month-style
$ec-calendar-month-style: () !default;

// @param {px} $ec-calendar-weekdays-size [$base-font-size * 0.875]
// @param {value} $ec-calendar-weekdays-weight [$is-bold]
// @param {color} $ec-calendar-weekdays-color [$text-light]
// @param {array} $ec-calendar-weekdays-style
$ec-calendar-weekdays-size: $base-font-size * 0.875 !default;
$ec-calendar-weekdays-weight: $is-bold !default;
$ec-calendar-weekdays-color: $text-light !default;
$ec-calendar-weekdays-style: () !default;

// @param {array} $ec-calendar-days-style
$ec-calendar-days-style: () !default;

// @param {px} $ec-calendar-day-size [$btn-min-height]
// @param {px} $ec-calendar-font-size [$btn-font-size]
// @param {px} $ec-calendar-line-height [$btn-line-height]
// @param {color} $ec-calendar-day-color [$text]
// @param {color} $ec-calendar-day-background [transparent]
// @param {array} $ec-calendar-day-style
$ec-calendar-day-size: $btn-min-height !default;
$ec-calendar-day-font-size: $btn-font-size !default;
$ec-calendar-day-line-height: $btn-line-height !default;
$ec-calendar-day-color: $text !default;
$ec-calendar-day-background: transparent !default;
$ec-calendar-day-style: () !default;

// @param {color} $ec-calendar-day-hover-color [$link]
// @param {color} $ec-calendar-day-hover-background [$state-hover]
// @param {array} $ec-calendar-day-hoverstyle
$ec-calendar-day-hover-color: $link !default;
$ec-calendar-day-hover-background: $state-hover !default;
$ec-calendar-day-hover-style: () !default;

// @param {color} $ec-calendar-day-is-today-color [$link]
// @param {color} $ec-calendar-day-is-today-background [$state-hover]
// @param {array} $ec-calendar-day-is-today-style
$ec-calendar-day-is-today-color: $link !default;
$ec-calendar-day-is-today-background: $state-hover !default;
$ec-calendar-day-is-today-style: () !default;

// @param {color} $ec-calendar-day-is-other-color [$text-lighter]
// @param {color} $ec-calendar-day-is-other-background [transparent]
// @param {array} $ec-calendar-day-is-other-style
$ec-calendar-day-is-other-color: $text-lighter !default;
$ec-calendar-day-is-other-background: transparent !default;
$ec-calendar-day-is-other-style: () !default;

// @param {color} $ec-calendar-day-is-selected-color [$link-contrast]
// @param {color} $ec-calendar-day-is-selected-background [$link]
// @param {array} $ec-calendar-day-is-selected-style
$ec-calendar-day-is-selected-color: $link-contrast !default;
$ec-calendar-day-is-selected-background: $link !default;
$ec-calendar-day-is-selected-style: () !default;

//
// EC-OUTPUT
// ------------------------------------------------------

// EC-OUTPUT-ASSET
// @param {array} $ec-output-asset-padding [8 16]
// @param {px} $ec-output-asset-radius [$tag-radius]
// @param {color} $ec-output-asset-background [$background-lighter]
// @param {px} $ec-output-asset-font-size [$tag-small-font-size]
// @param {px} $ec-output-asset-line-height [$tag-small-line-height]
// @param {array} $ec-output-asset-style
$ec-output-asset-padding: 8 16 !default;
$ec-output-asset-radius: $tag-radius !default;
$ec-output-asset-background: $background-lighter !default;
$ec-output-asset-font-size: $tag-small-font-size !default;
$ec-output-asset-line-height: $tag-small-line-height !default;
$ec-output-asset-style: () !default;

// EC-OUTPUT-AVATARS
// @param {array} $ec-output-avatars-spacing [0]
// @param {array} $ec-output-avatars-gutter [0 -4 0 0]
// @param {array} $ec-output-avatars-style
$ec-output-avatars-spacing: 0 !default;
$ec-output-avatars-gutter: 0 -4 0 0 !default;
$ec-output-avatars-style: () !default;

// EC-OUTPUT-BOOLEAN
// @param {color} $ec-output-boolean-color [$text-lightest]
// @param {color} $ec-output-boolean-is-true-color [$text]
// @param {array} $ec-output-boolean-style
$ec-output-boolean-color: $text-lightest !default;
$ec-output-boolean-is-true-color: $text !default;
$ec-output-boolean-style: () !default;

// EC-OUTPUT-COLOR
// @param {px} $ec-output-color-size [20]
// @param {array} $ec-output-color-border [0]
// @param {array} $ec-output-color-style
$ec-output-color-size: 20 !default;
$ec-output-color-border: 0 !default;
$ec-output-color-style: () !default;

// EC-OUTPUT-PREVIEW
// @param {array} $ec-output-preview-style
$ec-output-preview-style: () !default;

// EC-OUTPUT-TAGS
// @param {array} $ec-output-tags-spacing [0 -2]
// @param {array} $ec-output-tags-gutter [2]
// @param {array} $ec-output-tags-style
$ec-output-tags-spacing: 0 -2 !default;
$ec-output-tags-gutter: 2 !default;
$ec-output-tags-style: () !default;

//
// EC-INPUT
// ------------------------------------------------------

// EC-INPUT-COLOR
// @param {px} $ec-input-color-size [24]
// @param {array} $ec-input-color-border [$input-border-width solid $input-border-color]
// @param {array} $ec-input-color-style
$ec-input-color-size: 24 !default;
$ec-input-color-border: $input-border-width solid $input-border-color !default;
$ec-input-color-style: () !default;

// @param {boolean} $ec-input-color-round [$input-round]
// @param {px} $ec-input-color-radius [$input-radius]
$ec-input-color-round: $input-round !default;
$ec-input-color-radius: $input-radius !default;

// EC-INPUT-ERRORS
// @param {array} $ec-input-errors-spacing [8 0 0]
// @param {em} $ec-input-errors-size [$base-font-size * 0.875]
// @param {color} $ec-input-errors-color [$state-error]
// @param {array} $ec-input-errors-style
$ec-input-errors-spacing: 8 0 0 !default;
$ec-input-errors-size: $base-font-size * 0.875 !default;
$ec-input-errors-color: $state-error-safe !default;
$ec-input-errors-style: () !default;

//
// EC-DATTIME-PICKER
// ------------------------------------------------------
// @param {array} $ec-datetime-picker-style
$ec-datetime-picker-style: () !default;

// @param {color} $ec-datetime-select-background [$popover-background]
// @param {px} $ec-datetime-select-max-width [320]
// @param {array} $ec-datetime-select-padding [$popover-padding]
// @param {array} $ec-datetime-select-radius [$popover-radius]
// @param {array} $ec-datetime-select-shadow [$popover-shadow]
// @param {array} $ec-datetime-select-style
$ec-datetime-select-background: $popover-background !default;
$ec-datetime-select-max-width: 320 !default;
$ec-datetime-select-padding: $popover-padding !default;
$ec-datetime-select-radius: $popover-radius !default;
$ec-datetime-select-shadow: $popover-shadow !default;
$ec-datetime-select-style: () !default;

//
// ui/list
// ------------------------------------------------------------------------------------------------------------

//
// EC-LIST
// ------------------------------------------------------
// @param {value} $ec-list-background [transparent]
// @param {array} $ec-list-padding [0]
// @param {array} $ec-list-spacing [0]
// @param {array} $ec-list-style
$ec-list-background: transparent !default;
$ec-list-padding: 0 !default;
$ec-list-spacing: 0 !default;
$ec-list-style: () !default;

//
// EC-HEADER
// ------------------------------------------------------
// @param {px} $ec-list-header-size [$base-font-size * 0.875]
// @param {value} $ec-list-header-weight [$is-bold]
// @param {color} $ec-list-header-color [$text-light]
// @param {color} $ec-list-header-background [transparent]
// @param {array} $ec-list-header-padding [0]
// @param {array} $ec-list-header-spacing [0 0 8]
// @param {array} $ec-list-header-style
$ec-list-header-size: $base-font-size * 0.875 !default;
$ec-list-header-weight: $is-bold !default;
$ec-list-header-color: $text-light !default;
$ec-list-header-background: transparent !default;
$ec-list-header-padding: 0 !default;
$ec-list-header-spacing: 0 0 8 !default;
$ec-list-header-style: () !default;

// @param {color} $ec-list-header-hover-color [$text]
$ec-list-header-hover-color: $text !default;

//
// EC-LIST-COLUMN-TITLE
// ------------------------------------------------------
// @param {array} $ec-list-column-title-style
$ec-list-column-title-style: () !default;

//
// EC-LIST-GROUP
// ------------------------------------------------------
// @param {array} $ec-list-group-style
$ec-list-group-style: () !default;

//
// EC-LIST-GROUP-HEADER
// ------------------------------------------------------
// @param {px} $ec-list-group-header-font-size [$base-font-size * 0.875]
// @param {value} $ec-list-group-header-weight [$is-bold]
// @param {array} $ec-list-group-header-spacing [0 0 16]
// @param {array} $ec-list-group-header-style
$ec-list-group-header-font-size: $base-font-size * 0.875 !default;
$ec-list-group-header-weight: $is-bold !default;
$ec-list-group-header-spacing: 0 0 16 !default;
$ec-list-group-header-style: () !default;

//
// IS-FILTERABLE
// ------------------------------------------------------
// @param {color} $ec-list-is-filterable-control-color [$ec-list-header-color]
// @param {array} $ec-list-is-filterable-control-style
$ec-list-is-filterable-control-color: $ec-list-header-color !default;
$ec-list-is-filterable-control-style: () !default;

// @param {array} $ec-list-cell-is-filterable-style
$ec-list-cell-is-filterable-style: () !default;

// @param {color} $ec-list-cell-is-filtered-background [$state-hover]
// @param {color} $ec-list-cell-is-filtered-color [inherit]
// @param {array} $ec-list-cell-is-filtered-style
$ec-list-cell-is-filtered-background: $state-hover !default;
$ec-list-cell-is-filtered-color: inherit !default;
$ec-list-cell-is-filtered-style: () !default;

//
// IS-SORTABLE
// ------------------------------------------------------
// @param {color} $is-sortable-indicator-color [$text-lightest]
// @param {color} $is-sortable-indicator-active-color [$text]
$is-sortable-indicator-color: $text-lightest !default;
$is-sortable-indicator-active-color: $text !default;

// @param {array} $ec-list-cell-is-sortable-style
$ec-list-cell-is-sortable-style: () !default;

// @param {color} $ec-list-cell-is-sorted-background [inherit]
// @param {color} $ec-list-cell-is-sorted-color [inherit]
// @param {array} $ec-list-cell-is-sorted-style
$ec-list-cell-is-sorted-background: inherit !default;
$ec-list-cell-is-sorted-color: inherit !default;
$ec-list-cell-is-sorted-style: () !default;
$ec-list-cell-is-sorted-style: map-merge(
  (
    font-weight: $is-bold,
  ),
  $ec-list-cell-is-sorted-style
);

//
// EC-LIST-ITEMS
// ------------------------------------------------------
// @param {array} $ec-list-items-style
$ec-list-items-style: () !default;

//
// EC-LIST-ITEM
// ------------------------------------------------------
// @param {color} $ec-list-item-background [transparent]
// @param {array} $ec-list-item-padding [0]
// @param {array} $ec-list-item-spacing [0]
// @param {array} $ec-list-item-style
$ec-list-item-background: transparent !default;
$ec-list-item-padding: 0 !default;
$ec-list-item-spacing: 0 !default;
$ec-list-item-style: () !default;

// @param {array} $ec-list-item-even-style
// @param {array} $ec-list-item-odd-style
$ec-list-item-even-style: () !default;
$ec-list-item-odd-style: () !default;

// @param {color} $ec-list-item-is-clickable-color [inherit]
// @param {color} $ec-list-item-is-clickable-background []
// @param {array} $ec-list-item-is-clickable-style
$ec-list-item-is-clickable-color: inherit !default;
$ec-list-item-is-clickable-background: inherit !default;
$ec-list-item-is-clickable-style: () !default;

// @param {color} $ec-list-item-is-clickable-hover-color [$link]
// @param {color} $ec-list-item-is-clickable-hover-background [$state-hover]
// @param {array} $ec-list-item-is-clickable-hover-style
$ec-list-item-is-clickable-hover-color: $link !default;
$ec-list-item-is-clickable-hover-background: $state-hover !default;
$ec-list-item-is-clickable-hover-style: () !default;

// @param {color} $ec-list-item-is-selected-color [$link]
// @param {color} $ec-list-item-is-selected-background [$state-hover]
// @param {array} $ec-list-item-is-selected-style
$ec-list-item-is-selected-color: $link !default;
$ec-list-item-is-selected-background: $state-hover !default;
$ec-list-item-is-selected-style: () !default;

// @param {color} $ec-list-item-is-selected-hover-color [$ec-list-item-is-selected-color]
// @param {color} $ec-list-item-is-selected-hover-background [$ec-list-item-is-selected-background]
// @param {array} $ec-list-item-is-selected-hover-style
$ec-list-item-is-selected-hover-color: $ec-list-item-is-selected-color !default;
$ec-list-item-is-selected-hover-background: $ec-list-item-is-selected-background !default;
$ec-list-item-is-selected-hover-style: () !default;

//
// EC-LIST-CELL
// ------------------------------------------------------
// @param {px} $ec-list-cell-size [$base-font-size]
// @param {value} $ec-list-cell-weight [$is-normal]
// @param {color} $ec-list-cell-color [$text]
// @param {array} $ec-list-cell-padding [8]
// @param {array} $ec-list-cell-style
$ec-list-cell-size: $base-font-size !default;
$ec-list-cell-weight: $is-normal !default;
$ec-list-cell-color: $text !default;
$ec-list-cell-padding: 8 !default;
$ec-list-cell-style: () !default;

//
// EC-LIST-EMPTY
// ------------------------------------------------------
// @param {array} $ec-list-empty-style
// @param {color} $ec-list-empty-background [get-color(background, lightest)]
// @param {color} $ec-list-empty-color [inherit]
// @param {array} $ec-list-empty-padding [8]
// @param {array} $ec-list-empty-spacing [4 0]
// @param {array} $ec-list-empty-radius [4]
$ec-list-empty-background: get-color(background, lightest) !default;
$ec-list-empty-color: inherit !default;
$ec-list-empty-padding: 8 !default;
$ec-list-empty-spacing: 4 0 !default;
$ec-list-empty-radius: 4 !default;
$ec-list-empty-style: () !default;
$ec-list-empty-style: map-merge(
  (
    text-align: center,
  ),
  $ec-list-empty-style
);

//
// EC-PAGINATION
// ------------------------------------------------------
// @param {color} $ec-pagination-background [transparent]
// @param {array} $ec-pagination-padding [0]
// @param {array} $ec-pagination-spacing [8 0]
// @param {array} $ec-pagination-style
$ec-pagination-background: transparent !default;
$ec-pagination-padding: 0 !default;
$ec-pagination-spacing: 8 0 !default;
$ec-pagination-style: () !default;

// @param {number} $ec-pagination-item-padding-ratio [1]
// @param {array} $ec-pagination-item-spacing [$btn-spacing]
// @param {variable} $ec-pagination-item-font-family [$btn-font-family]
// @param {number} $ec-pagination-item-font-size [$btn-font-size]
// @param {number} $ec-pagination-item-line-height [$btn-line-height]
// @param {number} $ec-pagination-item-min-height [$btn-min-height]
// @param {value} $ec-pagination-item-weight [$btn-weight]
// @param {rem} $ec-pagination-item-big-radius [$btn-radius]
$ec-pagination-item-padding-ratio: 1 !default;
$ec-pagination-item-spacing: $btn-spacing !default;
$ec-pagination-item-font-family: $btn-font-family !default;
$ec-pagination-item-font-size: $btn-font-size !default;
$ec-pagination-item-line-height: $btn-line-height !default;
$ec-pagination-item-min-height: $btn-min-height !default;
$ec-pagination-item-weight: $btn-weight !default;
$ec-pagination-item-radius: $btn-radius !default;

// @param {color} $ec-pagination-item-background [transparent]
// @param {color} $ec-pagination-item-color [$link]
// @param {array} $ec-pagination-item-style
$ec-pagination-item-background: transparent !default;
$ec-pagination-item-color: $link !default;
$ec-pagination-item-style: () !default;

// @param {color} $ec-pagination-item-is-active-background [transparent]
// @param {color} $ec-pagination-item-is-active-color [$link-hover]
// @param {array} $ec-pagination-item-is-active-style
$ec-pagination-item-is-active-background: $minor !default;
$ec-pagination-item-is-active-color: $link-hover !default;
$ec-pagination-item-is-active-style: () !default;

// @param {color} $ec-pagination-item-is-disabled-background [transparent]
// @param {color} $ec-pagination-item-is-disabled-color [$text-light]
// @param {array} $ec-pagination-item-is-disabled-style
$ec-pagination-item-is-disabled-background: transparent !default;
$ec-pagination-item-is-disabled-color: $text-light !default;
$ec-pagination-item-is-disabled-style: () !default;

// @param {boolean} $ec-pagination-item-round [$btn-round]
$ec-pagination-item-round: $btn-round !default;

// @param {array} $ec-pagination-control-style
// @param {array} $ec-pagination-control-first-style
// @param {array} $ec-pagination-control-prev-style
// @param {array} $ec-pagination-control-next-style
// @param {array} $ec-pagination-control-last-style
$ec-pagination-control-style: () !default;
$ec-pagination-control-first-style: () !default;
$ec-pagination-control-prev-style: () !default;
$ec-pagination-control-next-style: () !default;
$ec-pagination-control-last-style: () !default;

// @param {px} $ec-pagination-info-size [$base-font-size * 0.875]
// @param {color} $ec-pagination-info-color [$link]
// @param {array} $ec-pagination-info-style
$ec-pagination-info-size: $base-font-size * 0.875 !default;
$ec-pagination-info-color: $text-light !default;
$ec-pagination-info-style: () !default;

//
// EC-NOTIFICATION
// ------------------------------------------------------
// @param {color} $ec-notification-background [$background]
// @param {color} $ec-notification-color [$text]
// @param {array} $ec-notification-padding [8 16]
// @param {array} $ec-notification-spacing [4]
// @param {px} $ec-notification-max-width [320]
// @param {array} $ec-notification-radius [4]
// @param {px} $ec-notification-font-size [$base-font-size * 0.875]
// @param {array} $ec-notification-elevation [8]
// @param {value} $ec-notification-animation [notification 0.2s]
// @param {array} $ec-notification-style
$ec-notification-background: $background !default;
$ec-notification-color: $text !default;
$ec-notification-padding: 8 16 !default;
$ec-notification-spacing: 4 !default;
$ec-notification-max-width: 320 !default;
$ec-notification-radius: 4 !default;
$ec-notification-font-size: $base-font-size * 0.875 !default;
$ec-notification-elevation: 8 !default;
$ec-notification-animation: notification 0.2s !default;
$ec-notification-style: () !default;

// @param {px} $ec-notification-title-font-size [$ec-notification-font-size]
$ec-notification-title-font-size: $ec-notification-font-size !default;

// @param {px} $ec-notification-flag-width [8]
// @param {color} $ec-notification-flag-info [$state-info]
// @param {color} $ec-notification-flag-error [$state-error]
// @param {color} $ec-notification-flag-success [$state-success]
// @param {color} $ec-notification-flag-warning [$state-warning]
$ec-notification-flag-width: 8 !default;
$ec-notification-flag-info: $state-info !default;
$ec-notification-flag-error: $state-error !default;
$ec-notification-flag-success: $state-success !default;
$ec-notification-flag-warning: $state-warning !default;

//
// ui/select
// ------------------------------------------------------------------------------------------------------------

//
// EC-SELECT
// ------------------------------------------------------
// @param {number} $ec-select-padding-ratio [$xui-select-padding-ratio]
// @param {color} $ec-select-background [$xui-select-background ]
// @param {color} $ec-select-color [$xui-select-color]
// @param {array} $ec-select-spacing [$xui-select-spacing]
// @param {px} $ec-select-font-size [$xui-select-font-size]
// @param {px} $ec-select-line-height [$xui-select-line-height]
// @param {px} $ec-select-min-height [$xui-select-min-height]
// @param {color} $ec-select-border-color [$xui-select-border-color]
// @param {px} $ec-select-border-width [$xui-select-border-width]
// @param {value} $ec-select-border-style [$xui-select-border-style]
// @param {array} $ec-select-style [$xui-select-style]
// @param {array} $ec-select-hover-style [$input-hover-style]
$ec-select-background: $xui-select-background !default;
$ec-select-color: $xui-select-color !default;
$ec-select-spacing: $xui-select-spacing !default;
$ec-select-padding-ratio: $xui-select-padding-ratio !default;
$ec-select-font-size: $xui-select-font-size !default;
$ec-select-line-height: $xui-select-line-height !default;
$ec-select-min-height: $xui-select-min-height !default;
$ec-select-border-color: $xui-select-border-color !default;
$ec-select-border-width: $xui-select-border-width !default;
$ec-select-border-style: $xui-select-border-style !default;
$ec-select-style: $xui-select-style !default;
$ec-select-hover-style: $input-hover-style !default;

// @param {boolean} $ec-select-round [$xui-select-round]
// @param {array} $ec-select-radius [$xui-select-radius]
$ec-select-round: $xui-select-round !default;
$ec-select-radius: $xui-select-radius !default;

// @param {array} $ec-select-is-solo-style
$ec-select-solo-style: () !default;

// @param {array} $ec-select-is-empty-style
$ec-select-is-empty-style: () !default;

// @param {color} $ec-select-placeholder-color [$xui-select-placeholder-color]
// @param {array} $ec-select-placeholder-style [$xui-select-placeholder-style]
$ec-select-placeholder-color: $xui-select-placeholder-color !default;
$ec-select-placeholder-style: $xui-select-placeholder-style !default;

// @param {array} $ec-select-placeholder-hover-style [$xui-select-placeholder-hover-style]
$ec-select-placeholder-hover-style: $xui-select-placeholder-hover-style !default;

//
// EC-SELECT-SELECTION
// ------------------------------------------------------
// @param {px} $ec-select-selection-gutter [2]
$ec-select-selection-gutter: 2 !default;

//
// EC-SELECT-SELECTED
// ------------------------------------------------------
// @param {color} $ec-select-selected-background [$tag-background]
// @param {color} $ec-select-selected-color [$tag-color]
// @param {number} $ec-select-selected-padding-ratio [$tag-padding-ratio]
// @param {px} $ec-select-selected-font-size [$tag-font-size]
// @param {px} $ec-select-selected-line-height [$tag-line-height]
// @param {px} $ec-select-selected-min-height [$tag-min-height]
// @param {value} $ec-select-selected-weight [$tag-weight]
// @param {array} $ec-select-selected-style
// @param {array} $ec-select-selected-solo-style
$ec-select-selected-background: $tag-background !default;
$ec-select-selected-color: $tag-color !default;
$ec-select-selected-padding-ratio: $tag-padding-ratio !default;
$ec-select-selected-font-size: $tag-font-size !default;
$ec-select-selected-line-height: $tag-line-height !default;
$ec-select-selected-min-height: $tag-min-height !default;
$ec-select-selected-weight: $tag-weight !default;
$ec-select-selected-style: () !default;
$ec-select-selected-solo-style: () !default;

// @param {boolean} $ec-select-selected-round [$tag-round]
// @param {rem} $ec-select-selected-radius [$tag-radius]
$ec-select-selected-round: $tag-round !default;
$ec-select-selected-radius: $tag-radius !default;

// @param {array} $ec-select-selected-is-dragged-style
$ec-select-selected-is-dragged-style: () !default;

$ec-select-selected-is-dragged-style: map-merge(
  (
    opacity: 0.6,
  ),
  $ec-select-selected-is-dragged-style
);

// @param {array} $drag-placeholder-style
$drag-placeholder-style: () !default;

$drag-placeholder-style: map-merge(
  (
    border: 1px dashed $link,
  ),
  $drag-placeholder-style
);

//
// EC-SELECT-OPTIONS
// ------------------------------------------------------
// @param {color} $ec-select-options-background [$xui-select-options-background]
// @param {array} $ec-select-options-padding [0]
// @param {array} $ec-select-options-spacing [$ec-select-border-width 0 0]
// @param {array} $ec-select-options-radius [$xui-select-options-radius]
// @param {px | null} $ec-select-options-max-height [$xui-select-options-max-height]
// @param {array} $ec-select-options-elevation [$xui-select-options-elevation]
// @param {array} $ec-select-options-style [$xui-select-options-style]
$ec-select-options-background: $xui-select-options-background !default;
$ec-select-options-padding: 0 !default;
$ec-select-options-spacing: $ec-select-border-width 0 0 !default;
$ec-select-options-radius: $xui-select-options-radius !default;
$ec-select-options-max-height: $xui-select-options-max-height !default;
$ec-select-options-elevation: $xui-select-options-elevation !default;
$ec-select-options-style: $xui-select-options-style !default;

// @param {array} $ec-select-option-padding [8 16]
// @param {array} $ec-select-option-spacing [2 0]
// @param {array} $ec-select-option-radius [4]
// @param {color} $ec-select-option-color [$text]
// @param {color} $ec-select-option-background [transparent]
// @param {color} $ec-select-option-focus-color [$link]
// @param {color} $ec-select-option-focus-background [transparent]
// @param {color} $ec-select-option-selected-color [$state-hover-contrast]
// @param {color} $ec-select-option-selected-background [$state-hover]
// @param {array} $ec-select-option-style
$ec-select-option-padding: 8 16 !default;
$ec-select-option-spacing: 2 0 !default;
$ec-select-option-radius: 4 !default;
$ec-select-option-color: $text !default;
$ec-select-option-background: transparent !default;
$ec-select-option-focus-color: $link !default;
$ec-select-option-focus-background: transparent !default;
$ec-select-option-selected-color: $state-hover-contrast !default;
$ec-select-option-selected-background: $state-hover !default;
$ec-select-option-style: () !default;

//
// ui/utility
// ------------------------------------------------------------------------------------------------------------

//
// EC-TABS
// ------------------------------------------------------
// @param {color} $ec-tabs-background [$xui-tabs-background]
// @param {array} $ec-tabs-spacing [$xui-tabs-spacing]
// @param {array} $ec-tabs-padding [$xui-tabs-padding]
// @param {array} $ec-tabs-style [$xui-tabs-style]
$ec-tabs-background: $xui-tabs-background !default;
$ec-tabs-spacing: $xui-tabs-spacing !default;
$ec-tabs-padding: $xui-tabs-padding !default;
$ec-tabs-style: $xui-tabs-style !default;

// @param {color} $ec-tabs-nav-background [$xui-tabs-nav-background]
// @param {array} $ec-tabs-nav-spacing [$xui-tabs-nav-spacing]
// @param {array} $ec-tabs-nav-padding [$xui-tabs-nav-padding]
// @param {array} $ec-tabs-nav-style [$xui-tabs-nav-style]
$ec-tabs-nav-background: $xui-tabs-nav-background !default;
$ec-tabs-nav-spacing: $xui-tabs-nav-spacing !default;
$ec-tabs-nav-padding: $xui-tabs-nav-padding !default;
$ec-tabs-nav-style: $xui-tabs-nav-style !default;

// @param {array} $ec-tabs-nav-items-gutter [$xui-tabs-nav-item-gutter]
$ec-tabs-nav-items-gutter: $xui-tabs-nav-item-gutter !default;

// @param {array} $ec-tabs-nav-item-padding [$xui-tabs-nav-item-padding]
// @param {value} $ec-tabs-nav-item-radius [$xui-tabs-nav-item-radius]
// @param {value} $ec-tabs-nav-item-weight [$xui-tabs-nav-item-weight]
$ec-tabs-nav-item-padding: $xui-tabs-nav-item-padding !default;
$ec-tabs-nav-item-radius: $xui-tabs-nav-item-radius !default;
$ec-tabs-nav-item-weight: $xui-tabs-nav-item-weight !default;

// @param {color} $ec-tabs-nav-item-background [$xui-tabs-nav-item-background]
// @param {color} $ec-tabs-nav-item-color [$xui-tabs-nav-item-color]
// @param {array} $ec-tabs-nav-item-style [$xui-tabs-nav-item-style]
$ec-tabs-nav-item-background: $xui-tabs-nav-item-background !default;
$ec-tabs-nav-item-color: $xui-tabs-nav-item-color !default;
$ec-tabs-nav-item-style: $xui-tabs-nav-item-style !default;

// @param {color} $ec-tabs-nav-item-hover-background [$xui-tabs-nav-item-hover-background]
// @param {color} $ec-tabs-nav-item-hover-color [$xui-tabs-nav-item-hover-color]
// @param {array} $ec-tabs-nav-item-hover-style [$xui-tabs-nav-item-hover-style]
$ec-tabs-nav-item-hover-background: $xui-tabs-nav-item-hover-background !default;
$ec-tabs-nav-item-hover-color: $xui-tabs-nav-item-hover-color !default;
$ec-tabs-nav-item-hover-style: $xui-tabs-nav-item-hover-style !default;

// @param {color} $ec-tabs-nav-item-active-background [$xui-tabs-nav-item-active-background]
// @param {color} $ec-tabs-nav-item-active-color [$xui-tabs-nav-item-active-color]
// @param {array} $ec-tabs-nav-item-active-style [$xui-tabs-nav-item-active-style]
$ec-tabs-nav-item-active-background: $xui-tabs-nav-item-active-background !default;
$ec-tabs-nav-item-active-color: $xui-tabs-nav-item-active-color !default;
$ec-tabs-nav-item-active-style: $xui-tabs-nav-item-active-style !default;

// @param {color} $ec-tab-background [$xui-tab-background]
// @param {array} $ec-tab-spacing [$xui-tab-spacing]
// @param {array} $ec-tab-padding [$xui-tab-padding]
// @param {array} $ec-tab-style [$xui-tab-style]
$ec-tab-background: $xui-tab-background !default;
$ec-tab-spacing: $xui-tab-spacing !default;
$ec-tab-padding: $xui-tab-padding !default;
$ec-tab-style: $xui-tab-style !default;

//
// data/files
// ------------------------------------------------------------------------------------------------------------
//
// EC-DROPZONE
// ------------------------------------------------------
// @param {color} $ec-dropzone-background [$link]
// @param {color} $ec-dropzone-color [$link-contrast]
$ec-dropzone-background: $link !default;
$ec-dropzone-color: $link-contrast !default;
