.ec-pagination {
  user-select: none;
  display: flex;

  &__item {

  }
}

.ec-pagination-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  &_first {
  }

  &_prev {
  }

  &_next {
  }

  &_last {
  }
}

.ec-pagination-pages {
  overflow: hidden;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
}
