//@import "~xlcss/sass/xlcss";

@import "presets/presets";
@import "global/global";
@import "macros/macros";

@import "ec-ui/ec-ui";


code {
  display: inline-block;
  font-size: rem(12);
  line-height: rem(24);
  padding: 0 rem(4);
  margin: rem(4);
  background-color: getColor(background, backdrop);
  color: getColor(text, invert);
  @include border-radius(rem(4));
}

.custom-item-class {
  background-color: getColor(base, super);
}