# See http://help.github.com/ignore-files/ for more about ignoring files.

ssl/server.crt
ssl/server.key
ssl/generate-trusted-ssl-certificate

# package-lock.json
build-packages.log
/.vscode
/.vs
ng-log*.txt
/.vscode/jira.json
# compiled output
/dist

/packages/**/dist

/tmp
!/src/
/src/assets/all.ts

# dependencies
node_modules

*debug.log

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
.vscode/settings.json
