// @param {px} $grid-container-width [1200]
// TODO check if needed
.ec-entry-pop {
  .toast-header,
  .toast-body,
  .toast-footer {
    align-self: center;
    width: 100%;
    max-width: rem($grid-container-width);
  }
}
