// @param {px} $grid-container-width [1200]

.ec-entry-pop {
  .ec-pop-header,
  .ec-pop-body,
  .ec-pop-footer {
    align-self: center;
    width: 100%;
    max-width: rem($grid-container-width);
  }
}
