.ec-entry-list-pop {
  .dialog-header {
    flex-direction: column;
    align-items: stretch;

    .dialog-dismiss {
      align-self: flex-end;
    }

    .dialog-header {
      width: 100%;
    }

    .ec-searchbar {
      margin: getSpace(2) 0;
    }
  }

  .dialog-footer {
    .ec-pagination {
      margin: 0;
    }
  }
}
