.ec-calendar-month-day {
  @extend %btn !optional;
  border-radius: rem($btn-min-height / 2);
  padding-left: 0;
  padding-right: 0;
  transition: all 0.4s;

  &.is-today {
    color: getColor(link);
  }

  &.is-other {
    color: getColor(text, lighter);
  }

  &.is-selected {
    background-color: getColor(link);
    color: setContrast(getColor(link));

    &:hover {
      background-color: setHover(getColor(link));
      color: setContrast(getColor(link));
    }
  }

  &:hover {
    background-color: getColor(state, hover);
    color: getColor(link);
  }
}
