.ec-calendar-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 rem(8);

  @extend %ec-calendar-controls-style !optional;

  .is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .ec-calendar-controls__prev,
  .ec-calendar-controls__current,
  .ec-calendar-controls__next {
    flex-grow: 0;
  }

  // @param {array} $ec-calendar-controls-spacing [0 4]

  .ec-calendar-controls__title,
  .ec-calendar-controls__prev,
  .ec-calendar-controls__current,
  .ec-calendar-controls__next {
    margin: arrayMagic($ec-calendar-controls-spacing);
  }
}

// @param {px} $ec-calendar-title-size [$base-font-size]
// @param {value} $ec-calendar-title-weight [$is-bold]
// @param {color} $ec-calendar-title-color [getColor(text, light)]

.ec-calendar-title {
  font-weight: $ec-calendar-title-weight;
  font-size: arrayMagic($ec-calendar-title-size, xem);
  text-align: center;
  color: $ec-calendar-title-color;
  flex-grow: 1;
  padding-left: rem(40);
}
