//scss-lint:disable NestingDepth

.ec-calendar-month-days {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    cursor: pointer;
    width: 100 / 7 * 1%;
    text-align: center;
    transition: all 0.2s linear;

    .ec-calendar-month-day {
      pointer-events: none;
    }

    &:nth-child(7n) {
      &::after {
        display: none;
      }
    }

    &:nth-child(7n + 1) {
      &::before {
        display: none;
      }
    }
  }

  .is-disabled {
    opacity: 0.2;
  }

  .is-active {
    position: relative;

    .ec-calendar-month-day {
      background-color: getColor(link);
      color: setContrast(getColor(link));
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      background-color: getColor(link);
      top: 0;
      height: 100%;
      width: 50%;
      z-index: -1;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .is-draggable {
    &.is-last,
    &.is-first {
      cursor: move;
    }

    &.is-first {
      &::before {
        display: none;
      }
    }

    &.is-last {
      &::after {
        display: none;
      }
    }
  }
}
