.ec-calendar-month-weekdays {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    flex: 1;
    text-align: center;
    font-size: .875em;
    font-weight: bold;
    line-height: rem($btn-min-height);
    color: getColor(text, light);
  }
}
