// @param {em} $ec-calendar-weekdays-size [.875]
// @param {value} $ec-calendar-weekdays-weight [$is-bold]
// @param {color} $ec-calendar-month-weekdays-color [getColor(text, light)]

.ec-calendar-weekdays {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    flex: 1;
    text-align: center;
    font-size: arrayMagic($ec-calendar-weekdays-size, em);
    line-height: rem($btn-min-height);
    font-weight: $ec-calendar-weekdays-weight;
    color: $ec-calendar-weekdays-color;
  }
}
