@import 'ec-calendar-controls';
@import 'ec-calendar-month';
@import 'ec-calendar-weekdays';
@import 'ec-calendar-days';
@import 'ec-calendar-day';

// @param {array} $ec-calendar-spacing [0 0 16]
// @param {array} $ec-calendar-style
.ec-calendar {
  @include inject-style($ec-calendar-style);
  margin: arrayMagic($ec-calendar-spacing);
  display: flex;
  flex-direction: column;
}
