@import 'ec-calendar-controls';
@import 'ec-calendar-month';
@import 'ec-calendar-weekdays';
@import 'ec-calendar-days';
@import 'ec-calendar-day';

.ec-calendar {
  display: flex;
  flex-direction: column;
  margin-bottom: rem(16);
}
