@import 'ec-calendar-controls';
@import 'ec-calendar-month-day';
@import 'ec-calendar-month-days';
@import 'ec-calendar-month-weekdays';
@import 'ec-calendar-month';

.ec-calendar {
  display: flex;
  flex-direction: column;
  margin-bottom: rem(16);
}
