.ec-default-input {
  &_color {
    display: inline-block;
    width: rem($input-min-height);
    height: rem($input-min-height);
    padding: 0;
    margin: 0;
    border: $input-border-color solid rem($input-border);
    border-radius: rem($input-radius);
    box-shadow: inset 0 0 0 rem(2) getColor(background);
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(black, .04);
      mix-blend-mode: multiply;
      opacity: 0;
      transition: all .2s;
    }

    [type="color"] {
      @extend .is-hidden-input !optional;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}
