.ec-datetime-picker {
  position: relative;

  .datetime-select {

    .ec-pop {
      @extend .is-dropdown;
      position: absolute;
      top: 100%;
      z-index: 10;
      margin-bottom: 1em;
      width: rem(320);
    }
  }

  .ec-calendar {
    margin: rem(8) 0;
  }
}
