<div class="titlebar">
  <h1 class="is-giga">Symbols</h1>
  <div class="xui-select" tabindex="0" data-col="3">
    <div class="xui-select__placeholder">select set</div>
    <ul class="xui-select-options">
      <li class="xui-select-option" *ngFor="let set of sets" tabindex="0">
        <a (click)="symbol.useSet(set)">
          {{ set }}
        </a>
      </li>
    </ul>
  </div>
</div>

<ul data-grid="small">
  <li *ngFor="let symbol of symbol.registry" data-col="12">
    <div class="well has-padding-2">
      <dl data-grid class="has-margin-0">
        <dt data-col="12" class="is-monospace-font is-ink-light">{{ symbol.name }}</dt>
        <dd data-col="12">{{ symbol.name | symbol }}</dd>
      </dl>
    </div>
  </li>
</ul>
