.ec-list-simple {
  > ul {
    margin: 0 rem(-8);
    @include flex-direction(row);
    @include flex-wrap(wrap);

    > li {
      padding: rem(8);
      @include flex(0 0 auto);

      .ec-list-item {
        @include flex-direction(column);
        position: relative;
        border: none;
        @include border-radius(rem($dropdown-radius));

        .ec-list-checkbox {
          position: absolute;
          top: 0;
          right: 0;
        }

        .ec-list-controls {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}