// @param {array} $ec-datetime-picker-style
.ec-datetime-picker {
  @include inject-style($ec-datetime-picker-style);
  position: relative;
}

// @param {color} $ec-datetime-select-background [$xui-overlay-background]
// @param {px} $ec-datetime-select-max-width [320]
// @param {array} $ec-datetime-select-padding [$xui-overlay-padding]
// @param {array} $ec-datetime-select-radius [$xui-overlay-radius]
// @param {array} $ec-datetime-select-shadow [$xui-overlay-shadow]
// @param {array} $ec-datetime-select-style
.ec-datetime-select {
  .ec-pop {
    @include inject-style($ec-datetime-select-style);
    max-width: rem($ec-datetime-select-max-width);
    padding: arrayMagic($ec-datetime-select-padding);
    box-shadow: arrayMagic($ec-datetime-select-shadow);
    border-radius: arrayMagic($ec-datetime-select-radius);
    background: $ec-datetime-select-background;
    position: absolute;
    top: 100%;
    z-index: 10;
    width: 100%;
  }
}
