.partial-header__nav {
  @include flex(0 0 auto);

  > ul {
    @include flexbox;
    margin: 0 rem(-4);

    .partial-header__nav__item {
      padding: 0 rem(4);

      &.partial-header__nav__divider {
        width: rem(16);
      }
    }
  }
}
