.partial-header {
  @include flex(0 0 auto);
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  padding: rem(8) rem(16);
  border-bottom: 1px solid getColor(divider);

  @include headings {
    margin: 0;
  }
}