// @param {px} $ec-list-header-size [$base-font-size * 0.875]
// @param {value} $ec-list-header-weight [$is-bold]
// @param {color} $ec-list-header-color [$text-light]
// @param {color} $ec-list-header-background [$background]
// @param {array} $ec-list-header-padding [0]
// @param {array} $ec-list-header-spacing [0 0 8]

.ec-list-header {
  display: flex;
  position: relative;
  background-color: $ec-list-header-background;
  padding: arrayMagic($ec-list-header-padding);
  margin: arrayMagic($ec-list-header-spacing);

  @extend %ec-list-header-style !optional;

  .ec-list-cell {
    font-size: arrayMagic($ec-list-header-size, xem);
    font-weight: $ec-list-header-weight;
    color: $ec-list-header-color;
    overflow: initial;
  }
}
