.ec-list-group {
  .ec-list-group-header {
    display: flex;
    margin-top: rem($base-spacing);

    .ec-list-group-header__title {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 0.875em;
    }
  }
}
