.is-sortable-indicator {
  margin-left: rem(8);
  height: rem(12);
  position: relative;
  width: rem(12);
  align-self: center;
  flex-grow: 0;

  &::after,
  &::before {
    content: '';
    position: absolute;
    border: rem(4) solid transparent;
    left: 50%;
    margin-left: rem(-4);
  }

  &::before {
    border-bottom-color: getColor(text, lightest);
    top: rem(-4);
  }

  &::after {
    border-top-color: getColor(text, lightest);
    bottom: rem(-4);
  }
}

.is-sorted-asc {
  .is-sortable-indicator {
    &::after {
      border-top-color: getColor(text);
    }
  }
}

.is-sorted-desc {
  .is-sortable-indicator {
    &::before {
      border-bottom-color: getColor(text);
    }
  }
}
