.is-sortable-indicator {
  margin-left: rem(8);
  height: rem(12);
  position: relative;
  width: rem(12);
  align-self: center;
  flex-grow: 0;

  &::after,
  &::before {
    content: '';
    position: absolute;
    border: rem(4) solid transparent;
    left: 50%;
    margin-left: rem(-4);
  }

  // @param {color} $ec-list-sortable-color [$text-lightest]
  &::before {
    border-bottom-color: $ec-list-sortable-color;
    top: rem(-4);
  }

  &::after {
    border-top-color: $ec-list-sortable-color;
    bottom: rem(-4);
  }
}

// @param {color} $ec-list-header-color [$text-light]
.ec-list-header {
  .is-sortable {
    cursor: pointer;

    &:hover {
      color: setHover($ec-list-header-color);
    }
  }
}

// @param {color} $ec-list-sortable-active-color [$text]
.is-sorted-desc {
  .is-sortable-indicator {
    &::before {
      border-bottom-color: $ec-list-sortable-active-color;
    }
  }
}

.is-sorted-asc {
  .is-sortable-indicator {
    &::after {
      border-top-color: $ec-list-sortable-active-color;
    }
  }
}
