//scss-lint:disable NestingDepth

.ec-list-cell {
  // @param {array} $ec-list-cell-is-filtered-style
  &.is-filterable {
    cursor: pointer;
    position: relative;
    @include inject-style($ec-list-cell-is-filtered-style);
  }

  // @param {color} $ec-list-cell-is-filtered-background [$state-hover]
  // @param {color} $ec-list-cell-is-filtered-color [inherit]
  // @param {array} $ec-list-cell-is-filterable-style
  &.is-filtered {
    @include inject-style($ec-list-cell-is-filterable-style);
    background: $ec-list-cell-is-filtered-background;
    color: $ec-list-cell-is-filtered-color;
  }
}

// @param {color} $ec-list-is-filterable-control-color [$ec-list-header-color]
// @param {array} $ec-list-is-filterable-control-style
.is-filterable-control {
  text-align: center;
  min-width: rem(16);
  min-height: rem(16);
  margin-right: rem(8);
  @include inject-style($ec-list-is-filterable-control-style);
  color: $ec-list-is-filterable-control-color;

  &:hover {
    color: setHover($ec-list-is-filterable-control-color);
  }
}

.is-filterable-pop {
  > .ec-pop-container {
    > .ec-pop {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      z-index: 10;
      box-shadow: initial;
      padding: arrayMagic($ec-list-cell-padding);
      font-size: rem($ec-list-header-size);
    }

    &.is-visible {
      > .ec-pop {
        display: flex;
      }
    }
  }

  .is-filterable-filter__reset {
    align-self: center;
    @extend %btn !optional;
  }

  ec-input {
    display: inline-block;
    flex-grow: 1;
    align-self: center;

    .input {
      margin: 0;
    }
  }
}

.is-filter-active {
  .is-filterable-control,
  .ec-list-column-title,
  .is-sortable-indicator {
    visibility: hidden;
  }
}
