// @param {color} $ec-select-options-background [$xui-select-options-background]
// @param {array} $ec-select-options-padding [0]
// @param {array} $ec-select-options-spacing [$ec-select-border-width 0 0]
// @param {array} $ec-select-options-radius [$xui-select-options-radius]
// @param {px | null} $ec-select-options-max-height [$xui-select-options-max-height]
// @param {array} $ec-select-options-shadow [$xui-overlay-shadow]
// @param {array} $ec-select-options-style [$xui-select-options-style]

.ec-select-options {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;
  width: 100%;
  display: none;
  @include inject-style($ec-select-options-style);
  @include is-scrollable(y, contain, auto);
  font-size: rem($base-font-size);
  max-height: rem($ec-select-options-max-height);
  margin: array-magic($ec-select-options-spacing);
  padding: array-magic($ec-select-options-padding);
  box-shadow: array-magic($ec-select-options-shadow);
  border-radius: array-magic($ec-select-options-radius);
  background: $ec-select-options-background;

  &.is-active {
    display: block;
  }

  .ec-pagination-info {
    display: none;
  }

  .ec-list {
    .ec-list-header {
      display: none;
    }

    .ec-list-item__selector {
      display: none;
    }
  }

  // @param {array} $ec-select-option-padding [8 16]
  // @param {array} $ec-select-option-radius [4]
  // @param {color} $ec-select-option-color [$text]
  // @param {color} $ec-select-option-background [transparent]
  // @param {color} $ec-select-option-focus-color [$link]
  // @param {color} $ec-select-option-focus-background [transparent]
  // @param {color} $ec-select-option-selected-color [$state-hover-contrast]
  // @param {color} $ec-select-option-selected-background [$state-hover]
  // @param {array} $ec-select-option-style
  .ec-list-item {
    display: flex;
    width: 100%;
    box-shadow: none;
    outline: none;
    @include inject-style($ec-select-option-style);
    border-radius: array-magic($ec-select-option-radius);
    color: $ec-select-option-color;
    background: $ec-select-option-background;
    padding: array-magic($ec-select-option-padding);
    margin: array-magic($ec-select-option-spacing);

    &:hover,
    &.is-focus {
      color: $ec-select-option-focus-color;
      background: $ec-select-option-focus-background;
    }

    &.is-selected {
      color: $ec-select-option-selected-color;
      background: $ec-select-option-selected-background;

      &.is-focus {
        color: set-hover($ec-select-option-selected-color);
        background: set-hover($ec-select-option-selected-background);
      }
    }
  }

  .ec-list-cell {
    padding: 0;
    color: inherit !important;

    &.is-filtered {
      background: inherit !important;
      color: inherit !important;
    }
  }

  .ec-pagination {
    margin: 0;
    justify-content: inherit;

    .ec-pagination-size-select {
      display: none;
    }

    .ec-pagination-info {
      text-align: right;
    }
  }
}
