@import 'ec-select-selected';
@import 'ec-select-selection';
@import 'ec-select-options';
@import 'has-searchbar';
// scss-lint:disable SelectorDepth NestingDepth
// @param {number} $ec-select-padding-ratio [$xui-select-padding-ratio]
// @param {color} $ec-select-background [$xui-select-background ]
// @param {color} $ec-select-color [$xui-select-color]
// @param {array} $ec-select-spacing [$xui-select-spacing]
// @param {px} $ec-select-font-size [$xui-select-font-size]
// @param {px} $ec-select-line-height [$xui-select-line-height]
// @param {px} $ec-select-min-height [$xui-select-min-height]
// @param {color} $ec-select-border-color [$xui-select-border-color]
// @param {px} $ec-select-border-width [$xui-select-border-width]
// @param {value} $ec-select-border-style [$xui-select-border-style]
// @param {array} $ec-select-style [$xui-select-style]
.ec-select {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  text-align: left;
  width: 100%;
  @include inject-style($ec-select-style);
  @include atom-metrics(
    $ec-select-font-size,
    $ec-select-line-height,
    $ec-select-min-height,
    $padding-ratio: $ec-select-padding-ratio
  );
  background: $ec-select-background;
  color: $ec-select-color;
  border-color: $ec-select-border-color;
  border-width: rem($ec-select-border-width);
  border-style: $ec-select-border-style;
  margin: arrayMagic($ec-select-spacing); // @param {boolean} $ec-select-round [$input-round]
  // @param {array} $ec-select-radius [$xui-select-radius]
  @if $ec-select-round {
    border-radius: arrayMagic($ec-select-min-height / 2);
  } @else {
    border-radius: arrayMagic($ec-select-radius);
  }

  &.is-focus {
    &::after {
      z-index: 11;
      transform: rotate(180deg);
      margin-top: 0;
      margin-bottom: rem(4);
    }
  }

  // @param {array} $ec-select-hover-style [$input-hover-style]
  &:focus {
    @include inject-style($ec-select-hover-style);

    // @param {array} $ec-select-placeholder-hover-style [$xui-select-placeholder-hover-style]
    .ec-select__placeholder {
      @include inject-style($ec-select-placeholder-hover-style);
    }
  }

  // @param {array} $ec-select-solo-style
  &.ec-select_solo {
    @include inject-style($ec-select-solo-style);
    @include atom-metrics(
      $ec-select-font-size,
      $ec-select-line-height,
      $ec-select-min-height,
      $padding-ratio: $ec-select-padding-ratio
    );
    .ec-select-selection {
      > li {
        width: 100%;
      }
    }
  }
}

// @param {color} $ec-select-placeholder-color [$xui-select-placeholder-color]
// @param {array} $ec-select-placeholder-style [$xui-select-placeholder-style]
.ec-select__placeholder {
  @include inject-style($ec-select-placeholder-style);
  color: $ec-select-placeholder-color;
}
