.ec-list-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 100%;

  .ec-list-cell {
    ec-default-output,
    ec-output {
      display: block;
      overflow: hidden;
      flex: 1;
    }
  }
}

.ec-list-item {
  display: flex;
  min-width: 100%;
  &.hidden {
    display:none;
  }
}
