.ec-output_avatar {
  width: rem(32);
  height: rem(32);
  border: rem(2) solid getColor(background);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.ec-output_tags-list {
  list-style: none;
  margin: 0 -4px;
  padding: 0;

  li {
    display: inline-block;
    padding: 4px;
  }
}