:host {
  display: flex;
}

.ec-output_avatar {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.ec-output_tags-list {
  list-style: none;
  margin: -2px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    padding: 2px;
  }
}

.ec-output_asset-preview {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: rem(16);

  img {
    width: 100%;
    height: auto;
  }
}

.ec-output_color-sample {
  width:20px;
  height:20px;
  display: block;
  border-radius:50%;
}

.ec-output_color-property {
  display:none;
}
