.ec-output_avatar {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.ec-output_tags-list {
  list-style: none;
  margin: 0 -4px;
  padding: 0;

  li {
    display: inline-block;

    .tag {
      margin: 4px;
    }
  }
}

.ec-output_asset-preview {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: rem(16);

  img {
    width: 100%;
    height: auto;
  }
}
