<h2 class="mega">ec-entry-select</h2>
<strong>without model</strong>
<ec-entry-select></ec-entry-select>
<strong>solo</strong>
<ec-entry-select model="muffin" [solo]="true"></ec-entry-select>


<!-- 
<hr>

<strong>default usage</strong>
<ec-entry-select model="muffin" #entrySelect [(ngModel)]="selectedMuffins"></ec-entry-select>
<div *ngIf="entrySelect.selection?.items?.length">
  {{selectedMuffins.length}} items in ngModel
  <strong>Manual iteration over selected entry items</strong>
  <ul>
    <li class="pill" *ngFor="let entry of entrySelect.selection?.items">
      {{entry.resolve('name')}}
    </li>
  </ul>
  <strong>selected IDs:</strong>
  <pre>{{entrySelect.selection?.getValue() | json}}</pre>
</div>
<strong>solo with disableSelect</strong>
<ec-entry-select model="muffin" [solo]="true" #soloEntry [config]="{disableSelect:true}"></ec-entry-select>

<pre>{{soloEntry.selection?.getValue()}}</pre>

<strong>solo with disableListPop</strong>
<ec-entry-select model="muffin" [solo]="true" [config]="{disableListPop:true}"></ec-entry-select>

<strong>with disableListPop + disableSelect</strong>
<ec-entry-select model="muffin" [config]="{disableListPop:true,disableSelect:true}"></ec-entry-select>

<strong>solo with deleteOnRemove + safeDelete</strong>
<ec-entry-select model="muffin" [solo]="true" [config]="{deleteOnRemove:true,safeDelete:true}"></ec-entry-select>

<strong>solo with deleteOnRemove</strong>
<ec-entry-select model="muffin" [solo]="true" [config]="{deleteOnRemove:true,safeDelete:false}"></ec-entry-select>

<ec-notifications></ec-notifications>-->