// @param {array} $ec-calendar-controls-spacing [0 4]
// @param {array} $ec-calendar-controls-style
.ec-calendar-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include inject-style($ec-calendar-controls-style);
  margin: arrayMagic($ec-calendar-controls-spacing);

  .is-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  .ec-calendar-controls__prev,
  .ec-calendar-controls__current,
  .ec-calendar-controls__next {
    flex-grow: 0;
  }

  // @param {array} $ec-calendar-controls-gutter [0 4]
  .ec-calendar-controls__title,
  .ec-calendar-controls__prev,
  .ec-calendar-controls__current,
  .ec-calendar-controls__next {
    margin: arrayMagic($ec-calendar-controls-gutter);
  }
}

// @param {px} $ec-calendar-title-size [$base-font-size]
// @param {value} $ec-calendar-title-weight [$is-bold]
// @param {color} $ec-calendar-title-color [$text-light]
// @param {array} $ec-calendar-title-style
.ec-calendar-title {
  text-align: center;
  flex-grow: 1;
  padding-left: rem(40);
  @include inject-style($ec-calendar-title-style);
  font-weight: $ec-calendar-title-weight;
  font-size: arrayMagic($ec-calendar-title-size, xem);
  color: $ec-calendar-title-color;
}
