//scss-lint:disable NestingDepth

// @param {array} $ec-calendar-days-style
.ec-calendar-days {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  @include inject-style($ec-calendar-days-style);

  li {
    cursor: pointer;
    width: 100 / 7 * 1%;
    text-align: center;
    transition: all 0.2s linear;

    &:nth-child(7n) {
      &::after {
        display: none;
      }
    }

    &:nth-child(7n + 1) {
      &::before {
        display: none;
      }
    }
  }

  .is-disabled {
    opacity: 0.2;
  }

  .is-active {
    position: relative;

    // @param {color} $ec-calendar-day-is-selected-color [set-contrast($link)]
    // @param {color} $ec-calendar-day-is-selected-background [$link]

    .ec-calendar-day {
      z-index: 1;
      position: relative;
      background: $ec-calendar-day-is-selected-background;
      color: $ec-calendar-day-is-selected-color;
    }

    &::after,
    &::before {
      background: $ec-calendar-day-is-selected-background;
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 50%;
      z-index: 0;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .is-last,
  .is-first {
    cursor: move;
  }

  .is-first {
    &::before {
      display: none;
    }
  }

  .is-last {
    &::after {
      display: none;
    }
  }
}
