<h2>Form</h2>

<h3>Default Form</h3>
<p>If the ec-form element has no contents, the default form will be rendered, which is a list
  containing all fields and a submit button</p>
<ec-form [item]="mocked.lists.trees.id(0)" (onSubmit)="logValue($event)"></ec-form>

<h3>Custom Content</h3>
<p>As soon as you put something inside the ec-form element, the default content will be omitted.
  You can utilize the ec-input element to automatically render certain fields.</p>

<ec-form [item]="mocked.lists.trees.id(0)" (onSubmit)="logValue($event)" #treeForm>
  <ec-input [field]="treeForm.form.getField('name')" [group]="treeForm.group"></ec-input>
  <ec-input [field]="treeForm.form.getField('height')" [group]="treeForm.group"></ec-input>
  <ec-input [field]="treeForm.form.getField('fruits')"
            [group]="treeForm.group"></ec-input>
  <button type="submit" [disabled]="treeForm.group?.invalid"
          [class.disabled]="treeForm.group?.invalid">
    Na los
  </button>
</ec-form>

<pre>
{{treeForm.group?.value | json}}
</pre>

<h3>By Object</h3>
<p>You can also generate a form by just passing an object to the value input.
  The form will analyze the object's properties and determine which form inputs should be shown by
  type.</p>
<!--<ec-form [config]="mocked.lists.songs.config" [item]="mocked.lists.songs.id(0)" #songForm></ec-form>-->

<ec-form [value]="mocked.products[0]" #productForm (onSubmit)="logValue($event)"></ec-form>
