.ec-list {
  line-height: em(24);

  .ec-list-item-cell {
    padding: rem(8);
  }
}

// full for .ec-list-header in list-header.component.html
.ec-list-header {
  .ec-list-item {
    .ec-list-item-cell {
      font-size: .875em;
    }
  }
}

// full styles for .ec-list-group in list.component.html
.ec-list-group {
  .ec-list-group-header {
    .ec-list-item-cell {
      &.ec-list-group-name {
      }
    }
  }
}
