$size: 30px;
$shadow: 1px;
$factor: 1.6;
$transitionTime: .15s;
$transitionType: ease-in-out;
:host {
  .ec-toggle {
    display: block;
    background-color: #cccccc;
    height: $size;
    width: $size*$factor;
    position: relative;
    box-shadow: inset 0 0 5px 1px darkgray;
    overflow: hidden;
    transition: background-color $transitionTime $transitionType;
    border-radius: $size;
    > .switch {
      display: block;
      position: absolute;
      border-radius: 50%;
      width: $size;
      height: $size;
      background-color: whitesmoke;
      border: 1px solid silver;
      left: 0;
      transition: left $transitionTime $transitionType;
    }

    &.active {
      background-color: seagreen;
      > .switch {
        left: $size*$factor - $size;
      }
    }
  }
}