:host {

  ec-pop {
    nav {
      position: absolute;
      right: 0;
      top: 0
    }
  }
  > button {
    z-index: 1001;
    float: right;
  }
  > ec-entry-list {
    background: red;
    ec-pagination {
      float: right;
    }
  }
}
