<h2 class="is-mega">ec-select</h2>

<div class="field-group">
  <label class="field-group__label">Default</label>
  <ec-select [list]="products" [(ngModel)]="values" #mySelect></ec-select>
  <a (click)="mySelect.focusSearchbar()">focus!</a>
</div>
<div class="field-group">
  <label class="field-group__label">Solo</label>
  <ec-select [solo]="true" [list]="products"></ec-select>
</div>
<div class="field-group">
  <label class="field-group__label">DisableRemove</label>
  <ec-select [solo]="true" [list]="products" [config]="{ disableRemove: true }"></ec-select>
</div>

<div class="spacer"></div>

<h3 class="is-mega">Actionbar</h3>

<div class="field-group">
  <label class="field-group__label">Simple</label>
  <ec-actionbar placeholder="Where do you want to go?" [actions]="actions"></ec-actionbar>
</div>
<div class="field-group">
  <label class="field-group__label">circular structure</label>
  <ec-actionbar [actions]="ottostart"></ec-actionbar>
</div>
<div class="field-group">
  <label class="field-group__label">async actionbar</label>
  <ec-actionbar [actions]="asyncActions" (enter)="enter($event)"></ec-actionbar>
</div>

<div class="spacer"></div>

<!-- <strong>Resource Actionbar</strong>
<ec-resource-actionbar></ec-resource-actionbar> -->
<ec-notifications></ec-notifications>
<pre class="demo-code"><code>{{values | json}}</code></pre>

<!-- 
<strong>Solo</strong>
<ec-select [list]="products" [solo]="true" #ecSelectSolo></ec-select>
<pre><code>{{ecSelectSolo.selection.getValue() | json}}</code></pre>

<strong>Primitive Solo</strong>
<ec-select [values]="['one','two','three']" #primitiveSelectSolo [solo]="true"></ec-select>
<pre><code>{{primitiveSelectSolo.selection.getValue() | json}}</code></pre>

<strong>Primitive</strong>
<ec-select [values]="['one','two','three']" #primitiveSelect></ec-select>
<pre><code>{{primitiveSelect.selection.getValue() | json}}</code></pre>

<strong>Transformed</strong>
<p>This Select has a transform function that hides the item "four", which cannot be removed.</p>
<ec-select [values]="['one','two','three','four']" [(ngModel)]="prefilledFour" [config]="customDisplayConfig"
    #customDisplay></ec-select>
<pre><code>{{customDisplay.selection.getValue() | json}}</code></pre>

<strong>With remove/add outputs</strong>
<ec-select [values]="['one','two','three']" (add)="toggle($event,primitiveSelect?.selection)" (remove)="toggle($event,primitiveSelect?.selection)"
    #outputSelect></ec-select>
<pre><code>{{outputSelect.selection.getValue() | json}}</code></pre>
<ec-tabs>
    <ec-tab label="Inside Tab" selected>
        <ec-select [values]="['one','two','three']"></ec-select>
    </ec-tab>
</ec-tabs>

<ec-notifications></ec-notifications> -->
