@keyframes loaderDefault {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ec-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: rem(16);

  &:after {
    content: '';
    display: block;
    height: em(24);
    width: em(24);
    border-radius: 50%;
    border: em(4) solid getColor(state, active);
    border-right-color: getColor(state, disabled);
    animation: loaderDefault 2s infinite ease-in-out;
  }
}
