.ec-loader_global {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  margin: 0;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: rem(-12);
    margin-top: rem(-12);
  }
}
