@keyframes loaderDefault {
  0% {
    transform: rotate(0);
    border-right-color: getColor(link);
  }

  50% {
    border-right-color: getColor(super);
  }

  100% {
    border-right-color: getColor(link);
    transform: rotate(360deg);
  }
}

.ec-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: rem(16);

  &::after {
    content: '';
    display: block;
    height: em(24);
    width: em(24);
    border-radius: 50%;
    border: em(4) solid getColor(divider);
    border-right-color: getColor(link);
    animation: loaderDefault 1s infinite linear;
  }
}
