<div class="menubar invert">
  <strong class="menubar__brand">ec.components</strong>
  <nav class="menu menu_dropbown">
    <ul class="menu__items">
      <li class="menu__item parent" tabindex="0">
        <a href="" class="btn clear invert">ui</a>
        <div class="sub-menu">
          <ul class="sub-menu__items">
            <li class="sub-menu__item level1 parent" tabindex="0">
              <a href="" class="btn clear">list</a>
              <div class="sub-menu">
                <ul class="sub-menu__items">
                  <li class="sub-menu__item level2">
                    <a href="" class="btn clear">basic</a>
                  </li>
                  <li class="sub-menu__item level2">
                    <a href="" class="btn clear">transforms</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sub-menu__item level1" tabindex="0">
              <a href="" class="btn clear">form</a>
            </li>
            <li class="sub-menu__item level1" tabindex="0">
              <a href="" class="btn clear">login</a>
            </li>
            <li class="sub-menu__item level1" tabindex="0">
              <a href="" class="btn clear">pop</a>
            </li>
            <li class="sub-menu__item level1" tabindex="0">
              <a href="" class="btn clear">tabs</a>
            </li>
            <li class="sub-menu__item level1" tabindex="0">
              <a href="" class="btn clear">select</a>
            </li>
            <li class="sub-menu__item level1" tabindex="0">
              <a href="" class="btn clear">mockups</a>
            </li>
            <li class="sub-menu__item level1" tabindex="0">
              <a href="" class="btn clear">datetime</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>

</div>

<ec-menu [routes]="demos"></ec-menu><!-- title="ec.components"  -->

<router-outlet></router-outlet>
<!--<h2>Horse:</h2>-->
<!--<a [routerLink]="[{outlets:{'horse':['test']}}]">Load Horse</a>-->

<!--<router-outlet name="horse"></router-outlet>-->
