<div data-grid>
  <div data-col='3 2-md' class="is-bordered-right">
    <ec-menu [routes]="demos" *ngIf="!hideMenu"></ec-menu>
  </div>
  <div data-col='9 10-md'>
    <div data-grid>
      <div data-col='8-sm 6-xxl' class="has-padding-top">
        <router-outlet></router-outlet>
      </div>
      <div data-col='4-sm 2-xxl' class="has-padding-top">
        <ec-github-sources [paths]="paths"></ec-github-sources>
        <ec-doclinks [links]="links" *ngIf="!hideMenu"></ec-doclinks>
      </div>
    </div>
  </div>
</div>