// @param {px} $ec-loader-size [24]
// @param {array} $ec-loader-overlay-style
// @param {px} $ec-loader-track-width [24]
// @param {color} $ec-loader-track-color [$divider-color]
// @param {color} $ec-loader-racer-color [$link]
// @param {duration} $ec-loader-racer-animation [loaderDefault]
// @param {duration} $ec-loader-racer-animation-speed [1s]
// @param {value} $ec-loader-racer-animation-behavior [infinite linear]
@keyframes loaderDefault {
  0% {
    transform: rotate(0);
    border-right-color: $ec-loader-racer-color;
  }

  50% {
    border-right-color: invert($ec-loader-racer-color);
  }

  100% {
    border-right-color: $ec-loader-racer-color;
    transform: rotate(360deg);
  }
}

.ec-loader {
  display: none;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 auto;

  &.is-active {
    display: flex;
  }

  &::after {
    @include inject-style($ec-loader-style);
    height: em($ec-loader-size);
    border: em($ec-loader-track-width) solid $ec-loader-track-color;
    border-right-color: $ec-loader-racer-color;
    animation: $ec-loader-racer-animation $ec-loader-racer-animation-speed $ec-loader-racer-animation-behavior;
    width: em($ec-loader-size);
    content: '';
    display: block;
    border-radius: 50%;
  }
}

@import 'ec-loader_global';
@import 'ec-loader_overlay';
