<h2>Auth Demo</h2>
<a class="btn" (click)="loginPop.show()">{{sdk.user?.email || 'Login'}}</a>
<ec-notifications class="toast"></ec-notifications>

<ec-pop #loginPop class="ec-pop_drawer-left" active="true">
  <a class="btn" (click)="loginPop.hide()">
    <ec-icon name="close-x-big"></ec-icon>
  </a>

  <section *ngIf="sdk.user">
    <p>
      <strong>Logged in as {{sdk.user.email}}</strong>
    </p>
    <button (click)="auth.logout()">Logout</button>
    <pre>
    {{sdk.user | json}}
    </pre>
  </section>
  <section *ngIf="!sdk.user">
    <h2>general login</h2>
    <ec-login (success)="log($event)"></ec-login>
    <h2>public login</h2>
    <ec-login [api]="sdk.api" (success)="log($event)"></ec-login>
    <h2>admin login</h2>
    <ec-login [api]="sdk.session" (success)="log($event)"></ec-login>

    <h2>general password reset</h2>
    <ec-password-reset (success)="log($event)"></ec-password-reset>
    <h2>public password reset</h2>
    <ec-password-reset [api]="sdk.api" (success)="log($event)"></ec-password-reset>
    <h2>ec password reset</h2>
    <ec-password-reset [api]="sdk.session" (success)="log($event)"></ec-password-reset>
  </section>
</ec-pop>