<h2>Auth Demo</h2>
<ec-notifications class="toast"></ec-notifications>
<div *ngIf="sdk.user">
  <h3>Logged in as {{sdk.user.email}}</h3>
  <a class="btn" (click)="auth.logout()">Logout</a>
    <pre>
        {{sdk.user | json}}
      </pre>
</div>
<section *ngIf="!sdk.user">
  <h3>Login</h3>
  <div class="well-small">
    <h6>general login</h6>
    <ec-login (success)="log($event)"></ec-login>
  </div>
  <div class="well-small">
    <h6>public login</h6>
    <ec-login [api]="sdk.api" (success)="log($event)"></ec-login>
  </div>
  <div class="well-small">
    <h6>admin login</h6>
    <ec-login [api]="sdk.session" (success)="log($event)"></ec-login>
  </div>
  <div class="well-small">
    <h6>general password reset</h6>
    <ec-password-reset (success)="log($event)"></ec-password-reset>
  </div>
  <div class="well-small">
    <h6>public password reset</h6>
    <ec-password-reset [api]="sdk.api" (success)="log($event)"></ec-password-reset>
  </div>
  <div class="well-small">
    <h6>ec password reset</h6>
    <ec-password-reset [api]="sdk.session" (success)="log($event)"></ec-password-reset>
  </div>
</section>