:host {
  &.other {
    color: #cccccc;
  }
  ul {
    margin: 0;
    padding: 0;

    &.days {
      font-weight: bold;
    }

    &.calendar {
      &:after {
        clear: left;
        content: '';
        display: block;
      }
    }

    &.calendar, &.days {
      //padding: 1em;
      user-select: none;
      list-style: none;

      li {
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        width: 14.2%;
        float: left;

        &:nth-child(7n+1) {
          clear: left;
        }

        &.other {
          color: #cccccc;
        }
        &.today {
          color: #f06;
          font-weight: bolder;
        }
        &.selected {
          background-color: #97c2fc;
          font-weight: bolder;
        }
      }
    }
  }
}