<h2>Tabs</h2>

<ec-tabs> 
  <ec-tab label="Bench">
    <img src="https://unsplash.it/300/400">
  </ec-tab>
  <ec-tab label="Dog">
    <img src="https://unsplash.it/200/300">
  </ec-tab>
  <ec-tab label="Town" selected>
    <img src="https://unsplash.it/400/500">
  </ec-tab>
  <ec-tab label="Desert">
    <img src="https://unsplash.it/200/100">
  </ec-tab>
  <ec-tab label="foo" route="foo">
    <img src="https://unsplash.it/200/100">
  </ec-tab>
  <ec-tab label="bar" route="bar">
    <img src="https://unsplash.it/200/100">
  </ec-tab>
</ec-tabs>