<h2>Resource Select</h2>
<ec-resource-select relation="dataManager" [api]="sdk?.datamanager" [(ngModel)]="multi"
    [config]="{methods:['put','get']}">
</ec-resource-select>
<span *ngIf="multi?.length">{{multi?.length}} items selected</span>
<ec-resource-select relation="dataManager" [api]="sdk?.datamanager" [solo]="true" [(ngModel)]="solo">
</ec-resource-select>
<span *ngIf="solo">selected: {{solo}}</span>
<ec-notifications class="toast"></ec-notifications>
<h3>Without buttons</h3>
<ec-resource-select [config]="{disableListPop:true,disableCreatePop:true}" relation="dataManager"
    [api]="sdk?.datamanager" [solo]="true"></ec-resource-select>

<h3>Accounts</h3>
<ec-resource-select relation="dmAccount" [api]="datamanager" *ngIf="datamanager"></ec-resource-select>

<h3>Roles</h3>
<ec-resource-select relation="role" [api]="datamanager" *ngIf="datamanager"></ec-resource-select>

<h3>With config</h3>
<ec-resource-select relation="model" [api]="datamanager" *ngIf="datamanager"
    [config]="{disableCreatePop:true,disableRemove:true}">

</ec-resource-select>
<!-- <h3>Asset Tags</h3>
<ec-resource-select relation="tags" [api]="sdk.api"></ec-resource-select> -->
<h3>Tag Select</h3>
<ec-tag-select></ec-tag-select>
