.ec-entry-list-pop {
  .toast-header {
    flex-direction: column;
    align-items: stretch;

    .toast-dismiss {
      align-self: flex-end;
    }

    .toast-header {
      width: 100%;
    }

    .ec-searchbar {
      /* margin: getSpace(2) 0; */
    }
  }

  .toast-footer {
    .ec-pagination {
      margin: 0;
    }
  }
}
