// @param {array} $ec-datetime-picker-style
.ec-datetime-picker {
  position: relative;
  @include inject-style($ec-datetime-picker-style);
}

// @param {color} $ec-datetime-select-background [$dropdown-options-background]
// @param {px} $ec-datetime-select-max-width [320]
// @param {array} $ec-datetime-select-padding [$dropdown-options-padding]
// @param {array} $ec-datetime-select-radius [$dropdown-options-radius]
// @param {[1-24] | false} ec-datetime-select-elevation [$dropdown-options-elevation]
// @param {array} $ec-datetime-select-style
.ec-datetime-select {
  .ec-calendar {
    position: absolute;
    top: 100%;
    z-index: 10;
    width: 100%;
    @include inject-style($ec-datetime-select-style);
    max-width: rem($ec-datetime-select-max-width);
    padding: array-magic($ec-datetime-select-padding);
    border-radius: array-magic($ec-datetime-select-radius);
    background: $ec-datetime-select-background;
    @if $ec-datetime-select-elevation {
      @include elevation($ec-datetime-select-elevation);
    }
  }
}
