<button (click)="loginPop.show()">{{sdk.user?.email || 'Login'}}</button>

<ec-pop #loginPop class="fullscreen" active="true">
  <button (click)="loginPop.hide()" style="float:right">
    <i class="ec-icon close"></i>
  </button>

  <section *ngIf="sdk.user">
    <p><strong>Logged in as {{sdk.user.email}}</strong></p>
    <button (click)="sdk.logout()">Logout</button>
    <pre>
    {{sdk.user | json}}
    </pre>
  </section>
  <section *ngIf="!sdk.user">
    <h2>general login</h2>
    <ec-login (success)="sdk.login($event)"></ec-login>
    <h2>public login</h2>
    <ec-login (success)="pub.login($event)"></ec-login>
    <h2>admin login</h2>
    <ec-login (success)="admin.login($event)"></ec-login>
  </section>
</ec-pop>

