:host .ec-vc-toolbar {
    height: 100px;
    background-color: cornflowerblue;
    padding: 5px;
}

:host .ec-vc-editor {
    border: 2px dashed navajowhite;
    padding: 10px;
    /*white-space: pre-wrap;*/
}