.ec-resource-list-pop {
    .ec-pop-header {
      flex-direction: column;
      align-items: stretch;
  
      .ec-pop__dismiss {
        align-self: flex-end;
      }
  
      .ec-list-header {
        width: 100%;
      }
  
      .ec-searchbar {
        margin: getSpace(2) 0;
      }
    }
  
    .ec-pop-footer {
      .ec-pagination {
        margin: 0;
      }
    }
  }
  