.ec-pop-container {
  .ec-pop.ec-resource-pop {
    width: 100%;

    @media (min-width: getBreakpoint(sm)) {
      min-width: rem(480);
      width: auto;
    }

    .ec-pop-body {
      padding: rem($base-spacing);
    }
  }
}
