<!-- <ec-entry-select model="muffin" #entrySelect [(ngModel)]="selectedMuffins"></ec-entry-select> -->

<h2 class="is-mega">ec-entry-select</h2>
<div class="field-group">
  <label class="field-group__label">solo</label>
  <ec-entry-select model="muffin" [config]="{ popColumns: 12 }" [solo]="true"></ec-entry-select>
</div>

<div class="field-group">
  <label class="field-group__label">default usage</label>
  <ec-entry-select model="muffin" #entrySelect [(ngModel)]="selectedMuffins"></ec-entry-select>
</div>

<div *ngIf="entrySelect.selection?.items?.length">
  {{ selectedMuffins.length }} items in ngModel <strong>Manual iteration over selected entry items</strong>
  <ul>
    <li class="pill" *ngFor="let entry of entrySelect.selection?.items">{{ entry.resolve('name') }}</li>
  </ul>
  <strong>selected IDs:</strong>
  <pre>{{ entrySelect.selection?.getValue() | json }}</pre>
</div>
<div class="field-group">
  <label class="field-group__label">with disableSearchbar</label>
  <ec-entry-select model="muffin" [solo]="true" [config]="{ disableSearchbar: true }"></ec-entry-select>
</div>

<div class="field-group">
  <label class="field-group__label">solo with disableListPop</label>
  <ec-entry-select model="muffin" [solo]="true" [config]="{ disableListPop: true }"></ec-entry-select>
</div>

<div class="field-group">
  <label class="field-group__label">with disableListPop + disableSearchbar</label>
  <ec-entry-select model="muffin" [config]="{ disableListPop: true, disableSearchbar: true }"></ec-entry-select>
</div>

<div class="field-group">
  <label class="field-group__label">solo with deleteOnRemove + safeDelete</label>
  <ec-entry-select model="muffin" [solo]="true" [config]="{ deleteOnRemove: true, safeDelete: true }"></ec-entry-select>
</div>

<div class="field-group">
  <label class="field-group__label">solo with deleteOnRemove</label>
  <ec-entry-select
    model="muffin"
    [solo]="true"
    [config]="{ deleteOnRemove: true, safeDelete: false }"
  ></ec-entry-select>
</div>

<div class="field-group">
  <label class="field-group__label">with display transformation</label>
  <ec-entry-select model="muffin" [config]="customDisplay"></ec-entry-select>
</div>

<div class="field-group">
  <label class="field-group__label">with add/remove outputs</label>
  <ec-entry-select model="muffin" (add)="toggle($event)" (remove)="toggle($event)"></ec-entry-select>
</div>

<ec-notifications></ec-notifications>

<ec-tabs>
  <ec-tab label="Inside Tab" selected>
    <div class="field-group">
      <ec-entry-select [solo]="true" model="muffin"></ec-entry-select>
    </div>
  </ec-tab>
</ec-tabs>
