@import 'list-header/list-header.component';
@import 'list-items/list-items.component';

.ec-list {

  .ec-list__select {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: initial;
  }
}

.ec-list-cell {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: 1;
  flex-basis: 100/12*1%;

  &.ec-list-field {
    &_number {
      text-align: right;
      justify-content: flex-end;
    }
    &_json,
    &_string {
      flex-grow: 4;
    }

    &_tags {
      flex-grow: 4;
    }

    &_string,
    &_email,
    &_url {
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.ec-list-group {
  .ec-list-group-header {
    display: flex;

    .ec-list-group-header__title {
      width: 100%;
      text-align: center;
    }
  }
}

