.ec-list {

  .ec-list-row {
    display: flex;
  }

  .ec-list-cell {
    flex-grow: 1;
    flex-basis: 100/12*1%;
  }

  .ec-list__select {
    flex-grow: 0;
    flex-basis: 0;
  }
}

.ec-list-cell {
  display: flex;
  align-items: center;

  &.ec-list-field {
    &_number {
      text-align: right;
      justify-content: flex-end;
    }

    &_string {
      flex-grow: 4;
    }

    &_tags {
      flex-grow: 4;
    }
  }
}

.ec-list-header {
  display: flex;

  .ec-list-field-title {

  }

  .ec-list-field-sort {
    position: relative;
  }
}

.ec-list-body {
}

.ec-list-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 100%;

  > li {

  }
}

.ec-list-item {
  display: flex;
  min-width: 100%;
}

.ec-list-group {
  .ec-list-group-header {

    .ec-list-group-header__title {
      width: 100%;
      text-align: center;
    }
  }
}
