.ec-list_dense {
  font-size: .875em;

  .ec-list-cell {
    padding: .25em .5em;
  }

  .ec-list__select {
    padding: .25em;
  }

  .ec-list-field_filterable {
    .ec-list-field__filter-pop {
      .ec-pop-container {
        .ec-pop {
          padding: 0 .5em;
        }
      }
    }
  }
}