.ec-list {
  font-size: 1em;
  border: 1px solid getColor(divider);

  .ec-list-row {
    border-bottom: 1px solid getColor(divider);

    &:last-child {
      border-bottom: none;
    }
  }

  .ec-list-cell {
    display: flex;
    align-items: center;
    padding: .5em 1em;
    border-right: 1px solid getColor(divider);

    &:last-child {
      border-right: none;
    }
  }

  .ec-list__select {
    padding: .5em;
  }

  .ec-output_avatar {
    width: 2em;
    height: 2em;
  }
}

.ec-list-group {
  .ec-list-group-header {

    .ec-list-group-header__title {
      font-weight: $bold;
      text-align: center;
      align-items: center;
      padding: em(8) 0;
    }
  }
}

.ec-list-header {
  background-color: getColor(background, lightest);
  font-size: em(14);

  .ec-list-cell {
    justify-content: space-between;
    border-bottom: 1px solid getColor(divider);

    .ec-list-field__title {
      flex-grow: 1;
    }
  }

  .btn {
    @extend %btn%small, .btn.clear !optional;
    margin: 0;
  }
}

.ec-list-items {
  .ec-list-row {
  }
}

.ec-list-item {
  transition: all .4s;

  &:hover {
    background-color: getColor(state, hover);
  }
}

.ec-list-field {
  &_sortable {
    &_active {
      font-weight: $bold;
    }
  }

  &_filterable {
    position: relative;

    .ec-list-field__filter-control {
      .btn {
        @extend .btn.clear !optional;
      }
    }

    .ec-list-field__filter-pop {
      .ec-pop-container {
        .ec-pop {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0 1em !important;
          background-color: getColor(background);
          align-items: center;
          z-index: 10;

          .ec-list-field-filter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: 100%;
          }

          .ec-list-field-filter__dismiss {
            @extend %btn, %btn%small;
            align-self: center;
            margin: 0;
          }

          ec-input {
            display: inline-block;
            flex-grow: 1;
            align-self: center;

            .input {
              margin: 0;
            }
          }
        }


        &.visible {
          .ec-pop {
            display: flex !important;
          }
        }
      }
    }
  }
}