.ec-list {
  font-size: 14px;

  .ec-list-row {
    border-bottom: 1px solid getColor(divider);

    &:last-child {
      border-bottom: none;
    }
  }

  .ec-list-cell {
    display: flex;
    align-items: center;
    padding: em(8);

    &:last-child {
      border-right: none;
    }
  }

  .ec-list__select {
    padding: em(8);
  }

  .ec-output_avatar {
    width: em(32);
    height: em(32);
  }
}

.ec-list-group {
  .ec-list-group-header {
    .ec-list-group-header__title {
      font-weight: $bold;
      text-align: center;
      align-items: center;
      padding: em(8) 0;
    }
  }
}

.ec-list-header {
  .ec-list-cell {
    justify-content: space-between;
    border-bottom: 1px solid getColor(divider);
    font-weight: $bold;

    .ec-list-field__title {
      flex-grow: 1;
    }
  }
}

.ec-list-items {
  .ec-list-row {
  }
}

.ec-list-item {
  transition: all .4s;

  &:hover {
    background-color: getColor(state, hover);
  }
}

.ec-list-field {
  &_sortable {
    &_active {
      font-weight: $bold;
    }
  }

  &_filterable {
    position: relative;

    .ec-list-field__filter-control {

    }

    .ec-list-field__filter-pop {
      .ec-pop-container {
        .ec-pop {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0 1em !important;
          background-color: getColor(background);
          align-items: center;
          z-index: 10;

          .ec-list-field-filter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: 100%;
          }

          .ec-list-field-filter__dismiss {
            align-self: center;
          }

          ec-input {
            display: inline-block;
            flex-grow: 1;
            align-self: center;

            .input {
              margin: 0;
            }
          }
        }


        &.visible {
          .ec-pop {
            display: flex !important;
          }
        }
      }
    }
  }
}
