@keyframes notification {
  0% {
    transform: translateX(rem(80));
    opacity: 0;
  }

  80% {
    transform: translateX(rem(-16));
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

// @param {color} $ec-notification-background [$background]
// @param {array} $ec-notification-padding [8 16]
// @param {array} $ec-notification-spacing [4]
// @param {px} $ec-notification-max-width [320]
// @param {array} $ec-notification-radius [$xui-overlay-radius]
// @param {px} $ec-notification-font-size [$base-font-size * 0.875]
// @param {array} $ec-notification-shadow [0 8 16 -4px rgba(#000, 0.2)]
// @param {px} $ec-notification-flag-width [8]
// @param {value} $ec-notification-animation [notification 0.2s]
// @param {array} $ec-notification-style
.ec-notifications {
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
}

.ec-notification {
  flex-direction: column;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
  user-select: none;
  width: 100%;
  border-left-style: solid;
  @include inject-style($ec-notification-style);
  font-size: em($ec-notification-font-size);
  background: $ec-notification-background;
  padding: array-magic($ec-notification-padding);
  box-shadow: array-magic($ec-notification-shadow);
  border-radius: array-magic($ec-notification-radius);
  margin: array-magic($ec-notification-spacing);
  max-width: rem($ec-notification-max-width);
  animation: $ec-notification-animation;
  border-left-width: rem($ec-notification-flag-width);

  &.is-active {
    display: flex;
  }

  // @param {px} $ec-notification-title-font-size [$ec-notification-font-size]
  .ec-notification__title {
    font-size: em($ec-notification-title-font-size, $ec-notification-font-size);
    line-height: 1.25em;
    margin: 0;
  }

  .ec-notification__message {
    line-height: 1.25em;
    margin: 0;
  }

  .ec-notification__dismiss {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: rem(4);
    top: rem(4);
    width: rem(24);
    height: rem(24);
    text-align: center;
    opacity: 0.6;
    color: set-contrast($ec-notification-background);

    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  // @param {color} $ec-notification-flag-info [$state-info]
  // @param {color} $ec-notification-flag-error [$state-error]
  // @param {color} $ec-notification-flag-success [$state-success]
  // @param {color} $ec-notification-flag-warning [$state-warning

  &.is-info {
    border-left-color: $ec-notification-flag-info;
  }

  &.is-error {
    border-left-color: $ec-notification-flag-error;
  }

  &.is-success {
    border-left-color: $ec-notification-flag-success;
  }

  &.is-warning {
    border-left-color: $ec-notification-flag-warning;
  }
}
