<h2>Form</h2>
<ec-tabs>
  <ec-tab label="Layout" selected>
    <ec-form [config]="layoutDemoConfig" (submitted)="logValue($event)"></ec-form>
  </ec-tab>
  <ec-tab label="ec-input">
    <div class="field-group">
      <label class="field-group__label">string {{ myString }} </label>
      <ec-input [config]="{ view: 'string' }" [(ngModel)]="myString"></ec-input>
    </div>
    <div class="field-group">
      <label class="field-group__label">number {{ myNumber }} </label>
      <ec-input [config]="{ view: 'number' }" [(ngModel)]="myNumber"></ec-input>
    </div>
    <div class="field-group">
      <label class="field-group__label">textarea {{ myTextarea }}</label>
      <ec-input [config]="{ view: 'textarea' }" [(ngModel)]="myTextarea"></ec-input>
    </div>
    <div class="field-group">
      <label class="field-group__label">color {{ myColor }}</label>
      <ec-input [config]="{ view: 'color' }" [(ngModel)]="myColor"></ec-input>
    </div>
    <div class="field-group ec-field-group_boolean">
      <label class="field-group__label">boolean {{ myBoolean }}</label>
      <ec-input [config]="{ view: 'boolean' }" [(ngModel)]="myBoolean"></ec-input>
    </div>
    <div class="field-group">
      <label class="field-group__label">email {{ myEmail }} </label>
      <ec-input [config]="{ view: 'email' }" [(ngModel)]="myEmail"></ec-input>
    </div>
    <div class="field-group">
      <label class="field-group__label">url {{ myUrl }} </label>
      <ec-input [config]="{ view: 'url' }" [(ngModel)]="myUrl"></ec-input>
    </div>
    <div class="field-group">
      <label class="field-group__label">toggle {{ myToggle }} </label>
      <ec-input [config]="{ view: 'toggle' }" [(ngModel)]="myToggle"></ec-input>
    </div>
    <div class="field-group">
      <label class="field-group__label">date {{ myDate }}</label>
      <ec-input [config]="{ view: 'date' }" [(ngModel)]="myDate"></ec-input>
    </div>
    <div class="field-group">
      <label class="field-group__label">select {{ mySelect }} </label>
      <ec-input [config]="{ view: 'select', values: ['a', 'b', 'c'] }" [(ngModel)]="mySelect"></ec-input>
    </div>
    <div class="field-group">
      <label class="field-group__label">select with labels {{ mySelect2 }} </label>
      <ec-input
        [config]="{
          view: 'select',
          values: [{ value: 'male', label: 'Männlich' }, { value: 'female', label: 'Weiblich' }]
        }"
        [(ngModel)]="mySelect2"
      ></ec-input>
    </div>
    <div class="field-group">
      <label class="field-group__label">not existing {{ myNan }} </label>
      <ec-input [config]="{ view: 'not_existing' }" [(ngModel)]="myNan"></ec-input>
    </div>
    <div class="field-group">
      <label class="field-group__label">with field object</label>
      <ec-input [field]="testField"></ec-input>
    </div>
  </ec-tab>
  <ec-tab label="empty">
    <p>
      If the ec-form element has no contents, the default form will be rendered, which is a list containing all fields
      and a submit button
    </p>
    <ec-form [config]="mocked.lists.trees.config" (submitted)="logValue($event)" #treeEmptyForm></ec-form>
  </ec-tab>
  <ec-tab label="prefilled">
    <ec-form [item]="mocked.lists.trees.id(0)" (submitted)="logValue($event)"></ec-form>
  </ec-tab>
  <ec-tab label="custom inputs">
    <p>
      As soon as you put something inside the ec-form element, the default content will be omitted. You can utilize the
      ec-input element to automatically render certain fields.
    </p>
    <ec-form [item]="mocked.lists.trees.id(0)" (submitted)="logValue($event)" #treeForm>
      <ec-input [field]="treeForm.form.getField('name')" [group]="treeForm.group"></ec-input>
      <ec-input [field]="treeForm.form.getField('height')" [group]="treeForm.group"></ec-input>
      <ec-input [field]="treeForm.form.getField('fruits')" [group]="treeForm.group"></ec-input>
      <button
        type="button"
        (click)="treeForm.submit()"
        [disabled]="treeForm.group?.invalid"
        [class.is-disabled]="treeForm.group?.invalid"
      >
        Na los
      </button>
    </ec-form>
    <pre><code>{{ treeForm.group?.value | json }}</code></pre>

    <h3>custom inputs without wrapper</h3>
    <div data-grid>
      <div data-col="6">
        <h4>empty</h4>
        <ec-form (submitted)="logValue($event)" [config]="customFormConfig"></ec-form>
      </div>
      <div data-col="6">
        <h4>with value</h4>
        <ec-form (submitted)="logValue($event)" [config]="customFormConfig" [value]="{ count: 2 }"></ec-form>
      </div>
    </div>
  </ec-tab>
</ec-tabs>
