.ec-select {
  display: flex;
  align-items: center;
  position: relative;

  .ec-select__placeholder {
    font-style: italic;
    color: getColor(text, light);
    flex-grow: 1;
    font-size: 1em;
    order: 2;

    &:hover {
      color: getColor(text);
    }
  }

  .ec-select-selected {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 0;
    order: 1;
  }

  .ec-select__toggle {
    display: flex;
    width: rem(24);
    align-self: stretch;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    order: 3;
    margin-left: rem(8);
    cursor: pointer;

    &:after {
      border: rem(4) solid transparent;
      border-top-color: getColor(text, lighter);
      content: '';
      width: rem(8);
      height: rem(8);
      margin-top: rem(4);
    }

    &:hover {
      &:after {
        border-top-color: getColor(text, light);
      }
    }
  }

  &.ec-select_solo {
    .ec-select-selected {
      li {
        width: 100%;

        span {
          display: flex;
          justify-content: space-between;

          a {
            flex-grow: 0;
          }
        }
      }
    }

    &.ec-select_dirty {
      .ec-select-selected {
        flex-grow: 1;
      }

      .ec-select__placeholder {
        display: none;
      }
    }
  }
}

@keyframes dropdownPopUp {
  0% {
    transform: scale(.8);
    transform-origin: top;
    opacity: 0;
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.ec-select-dropdown {
  .ec-pop-container {
    .ec-pop {
      animation: dropdownPopUp .2s;
      z-index: 10;
    }

    &.visible {
      .ec-pop {
        display: inherit;
        opacity: 1;
      }
    }
  }
}
