//scss-lint:disable SelectorDepth NestingDepth

.ec-select {
  @extend %select !optional;
  flex: 1;

  &.is-focus {
    &::after {
      z-index: 11;
      transform: rotate(180deg);
      margin-top: 0;
      margin-bottom: rem(4);
    }
  }
}

.ec-select-selected {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: rem(-2) rem(8) rem(-2) rem(-2);
  width: 100%;

  li {
    padding: rem(2);

    &.drag-placeholder {
      border: 1px dashed getColor(background, light);
      width: 80px;
      background: getColor(background, lighter);
      min-height: 20px;
    }

    &.is-dragged {
      opacity: 0.6;
    }

    .tag {
      @include set-theme-colors(getColor(link));

      a {
        padding-left: rem(4);
        margin-right: rem(-4);
      }

      &:only-child {
        margin: 0;
      }
    }
  }
}

.ec-select-options {
  .ec-list {
    .ec-list-header {
      display: none;
    }

    .ec-list__select {
      display: none;
    }

    .ec-list-item {
      @extend %select-option !optional;
      color: getColor(link);
      display: flex;
      width: 100%;
      padding: rem(8) rem(16);
      box-shadow: none;

      .ec-list-cell {
        padding: 0;
      }
    }
  }
}

.ec-select_solo {
  .ec-select-selected {
    flex-grow: 1;

    li {
      display: flex;
      flex: 1;

      span {
        display: flex;
        flex: 1;
        justify-content: space-between;

        a {
          color: getColor(text, lighter);
          padding-left: rem(4);

          &:hover {
            color: getColor(text, light);
          }
        }
      }
    }
  }

  &.ec-select_dirty {
    .ec-select__placeholder {
      display: none;
    }
  }
}

ec-pop.ec-select-options {
  .ec-pop {
    @extend %select-options !optional;
  }
}
