.ec-entry-select {
  @include flexbox;
  @include align-items(center);
  position: relative;
  @extend .input !optional;

  .ec-entry-select__placeholder {
    font-style: italic;
    color: getColor(text, light);
    @include flex-grow(1);
    font-size: 1em;
    @include order(2);
  }

  .ec-entry-select-selected {
    list-style: none;
    padding: 0;
    margin: 0;
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(center);
    @include flex-grow(0);
    @include order(1);
  }
}

.ec-select-dropdown {
  .ec-pop-container {
    @extend %dropdown-options !optional;
    z-index: 10;

    &.visible {
      display: inherit;
      opacity: 1;
    }
  }
}