<h2>Asset Crud</h2>
<ec-resource-select [api]="datamanager" relation="assetGroup" (changed)="selected($event)" [solo]="true" [config]="{methods:['get'],disableListPop:true}"></ec-resource-select>

<div *ngIf="group">
  <ec-upload-select [custom]="custom" [config]="{disableListPop:true}" [assetGroupID]="group.assetGroupID"></ec-upload-select>
  <div class="xui-toggle">
    <input id="ignoreDuplicates" type="checkbox" [(ngModel)]="custom">
    <label for="ignoreDuplicates">
      <div class="xui-toggle__switch"></div>
      Custom
    </label>
  </div>
  <ec-notifications class="toast"></ec-notifications>
  <ec-loader class="ec-loader" #loader></ec-loader>
  <ec-resource-crud [api]="group" relation="dmAsset" [config]="{size:12,methods:['get','put','delete'],disableSelectSwitch:true}"></ec-resource-crud>
</div>