<!-- <ec-resource-crud [api]="datamanager" relation="assetGroup" (columnClicked)="select($event)"></ec-resource-crud> -->
<ec-resource-select [api]="datamanager" relation="assetGroup" (change)="selected($event)" [solo]="true" [config]="{methods:['get']}"></ec-resource-select>

<ec-upload *ngIf="group" [assetGroup]="group.assetGroupID" [loader]="loader" [api]="api" [custom]="true"></ec-upload>

<ec-notifications class="toast"></ec-notifications>

<ec-loader class="ec-loader" #loader></ec-loader>

<div data-grid>
  <div *ngFor="let asset of assets" data-col="2-sm" class="has-margin-bottom is-relative">
    <img [ecImage]="asset" [api]="api" thumb="true" size="200" class="img_full is-lifted is-rounded">
    <a class="btn btn_round btn_outlined btn_warning is-absolute is-positioned-ne" (click)="delete(asset)">
      <ec-icon name="trash"></ec-icon>
    </a>
  </div>
</div>

<ec-file-list [api]="group" *ngIf="group"></ec-file-list>

<!-- <ec-resource-list [api]="group" relation="dmAsset" *ngIf="group"></ec-resource-list> -->
<!-- TODO: use when SDK renamed asset to dmAsset -->