<!-- <ec-resource-crud [api]="datamanager" relation="assetGroup" (columnClicked)="select($event)"></ec-resource-crud> -->
<ec-resource-select [api]="datamanager" relation="assetGroup" (change)="selected($event)" [solo]="true" [config]="{methods:['get'],disableListPop:true}"></ec-resource-select>

<div *ngIf="group">
  <ec-upload [assetGroupID]="group.assetGroupID" [loader]="loader" [api]="api" [custom]="custom"></ec-upload>
  <div class="xui-toggle">
    <input id="ignoreDuplicates" type="checkbox" [(ngModel)]="custom">
    <label for="ignoreDuplicates">
      <div class="xui-toggle__switch"></div>
      Custom
    </label>
  </div>
  <ec-notifications class="toast"></ec-notifications>
  <ec-loader class="ec-loader" #loader></ec-loader>
  <ec-resource-crud [api]="group" relation="dmAsset" [config]="{size:12,methods:['get','put','delete'],disableSelectSwitch:true}"></ec-resource-crud>
</div>
<!-- TODO: use when SDK renamed asset to dmAsset -->