// @param {array} $ec-select-border-width [$input-border]
// @param {em} $ec-select-font-size [$input-font-size]
// @param {em} $ec-select-line-height [$input-line-height]
// @param {em} $ec-select-min-height [$input-min-height]
// @param {color} $ec-select-selected-background [$tag-background]
// @param {color} $ec-select-selected-color [setContrast($ec-select-selected-background)]
// @param {number} $ec-select-selected-padding-ratio [$tag-padding-ratio]
// @param {px} $ec-select-selected-font-size [$tag-font-size]
// @param {px} $ec-select-selected-line-height [$tag-line-height]
// @param {px} $ec-select-selected-min-height [$tag-min-height]
// @param {value} $ec-select-selected-weight [$tag-weight]
// @param {rem} $ec-select-selected-radius [$tag-radius]

$padding: (($ec-select-min-height - $ec-select-line-height) / 2) - $ec-select-border-width;

.ec-select-selection {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: em($padding * -1, $ec-select-font-size) rem(-2);
  width: 100%;

  .ec-select-selected {
    width: auto;
    margin: rem(2);
    font-weight: $ec-select-selected-weight;
    background-color: $ec-select-selected-background;
    color: $ec-select-selected-color;
    border-radius: arrayMagic($ec-select-selected-radius);
    @include macro-metrics(
      $ec-select-selected-font-size,
      $ec-select-selected-line-height,
      $ec-select-selected-min-height,
      $padding-ratio: $ec-select-selected-padding-ratio
    );

    a {
      color: $ec-select-selected-color;
    }

    &:hover {
      background-color: setHover($ec-select-selected-background);
    }

    @extend %ec-select-selected-style !optional;
  }

  .is-draggable {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .is-dragged {
    opacity: 0.6;
    cursor: grabbing;
    z-index: 1;
  }

  .drag-placeholder {
    height: 100%;
    border: 1px dashed getColor(link);
    border-radius: arrayMagic($ec-select-selected-radius);
  }
}