// @param {px} $ec-select-min-height [$xui-select-min-height]
// @param {px} $ec-select-line-height [$xui-select-line-height]
// @param {px} $ec-select-border-width [$xui-select-border-width]
// @param {px} $ec-select-selection-gutter [2]

$_padding: (($ec-select-min-height - $ec-select-line-height) / 2) -
  $ec-select-border-width;

.ec-select-selection {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: em($_padding * -1, $ec-select-font-size)
    rem($ec-select-selection-gutter * -1);
  width: 100%;

  li {
    padding: 0 rem($ec-select-selection-gutter);
  }
}
