.ec-select-options {
  font-size: rem($base-font-size);

  .ec-list {
    .ec-list-header {
      display: none;
    }

    .ec-list-item__selector {
      display: none;
    }

    // @param {array} $ec-select-option-padding [8 16]
    // @param {color} $ec-select-option-color [$link]
    // @param {color} $ec-select-option-background [transparent]
    // @param {color} $ec-select-option-color [$ec-select-option-color]
    // @param {color} $ec-select-option-background [$state-hover]
    .ec-list-item {
      display: flex;
      width: 100%;
      box-shadow: none;
      outline: none;
      color: $ec-select-option-color;
      background-color: $ec-select-option-background;
      padding: arrayMagic($ec-select-option-padding);

      &:hover,
      &.is-selected {
        color: $ec-select-option-hover-color;
        background-color: $ec-select-option-hover-background;
      }
    }

    .ec-list-cell {
      padding: 0;
    }
  }

  .ec-pagination {
    margin: getSpace(2);

    .ec-pagination-size-select {
      display: none;
    }

    .ec-pagination-info {
      text-align: right;
    }
  }
}

// @param {color} $ec-select-options-background [$overlay-background]
// @param {array} $ec-select-options-padding [$overlay-padding]
// @param {array} $ec-select-options-radius [$overlay-radius]
// @param {array} $ec-select-options-shadow [$overlay-shadow]
ec-pop.ec-select-options {
  .ec-pop {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    width: 100%;
    margin: 0;
    margin-top: rem($ec-select-border-width);
    padding: arrayMagic($ec-select-options-padding);
    box-shadow: arrayMagic($ec-select-options-shadow);
    border-radius: arrayMagic($ec-select-options-radius);
    background-color: $ec-select-options-background;
  }
}
