//scss-lint:disable SelectorDepth NestingDepth
$padding: (($ec-select-min-height - $ec-select-line-height) / 2) -
  $ec-select-border-width;

.ec-select {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  border-style: solid;
  text-align: left;
  width: 100%;
  background-color: $ec-select-background;
  color: $ec-select-color;
  border-color: $ec-select-border-color;
  border-width: rem($ec-select-border-width);
  border-radius: arrayMagic($ec-select-radius);
  margin: arrayMagic($ec-select-spacing);
  @include macro-metrics(
    $ec-select-font-size,
    $ec-select-line-height,
    $ec-select-min-height,
    $padding-ratio: $ec-select-padding-ratio,
    $inline-styles: false
  );

  /// additional styles via config
  @extend %ec-select-style !optional;

  &.is-focus {
    &::after {
      z-index: 11;
      transform: rotate(180deg);
      margin-top: 0;
      margin-bottom: rem(4);
    }
  }

  &:focus,
  &:hover {
    box-shadow: inset 0 0 0 2px getColor(state, hover);

    .ec-select__placeholder {
      color: $ec-select-color;
    }
  }

  &.is-dirty {
    @include macro-metrics(
      $ec-select-font-size,
      $ec-select-line-height,
      $ec-select-min-height,
      $padding-ratio: 1,
      $inline-styles: false
    );
  }

  &.is-solo {
    @include macro-metrics(
      $ec-select-font-size,
      $ec-select-line-height,
      $ec-select-min-height,
      $padding-ratio: $ec-select-padding-ratio,
      $inline-styles: false
    );
  }
}

.ec-select__placeholder {
  color: $ec-select-placeholder;
}

.ec-select-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  width: 100%;

  a {
    opacity: 0.6;
    padding-left: rem(8);
    color: $ec-select-color;
  }

  &:hover {
    a {
      opacity: 1;
    }
  }
}

.ec-select-selection {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: em($padding * -1, $ec-select-font-size) rem(-2);
  width: 100%;

  .ec-select-selected {
    width: auto;
    margin: rem(2);
    font-weight: $ec-select-selected-weight;
    background-color: $ec-select-selected-background;
    color: $ec-select-selected-color;
    border-radius: rem($tag-radius);
    @include macro-metrics(
      $ec-select-selected-font-size,
      $ec-select-selected-line-height,
      $ec-select-selected-min-height,
      $padding-ratio: $ec-select-selected-padding-ratio
    );

    a {
      color: $ec-select-selected-color;
    }

    &:hover {
      background-color: setHover($ec-select-selected-background);
    }

    @extend %ec-select-selected-style !optional;
  }

  .is-draggable {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .is-dragged {
    opacity: 0.6;
    cursor: grabbing;
    z-index: 1;
  }

  .drag-placeholder {
    height: 100%;
    border: 1px dashed getColor(link);
    border-radius: rem($tag-radius);
  }
}

.ec-select-options {
  font-size: rem($base-font-size);

  .ec-list {
    .ec-list-header {
      display: none;
    }

    .ec-list-item__selector {
      display: none;
    }

    .ec-list-item {
      @extend %select-option !optional;
      color: getColor(link);
      display: flex;
      width: 100%;
      padding: rem(8) rem(16);
      box-shadow: none;
    }

    .ec-list-cell {
      padding: 0;
    }
  }

  .ec-pagination {
    flex-direction: column;

    .ec-pagination-size-select {
      display: none;
    }
  }
}

ec-pop.ec-select-options {
  .ec-pop {
    @extend %select-options !optional;
  }
}
