// @param {color} $ec-select-background [$input-background]
// @param {color} $ec-select-color [$input-color]
// @param {array} $ec-select-spacing [$input-spacing]
// @param {array} $ec-select-padding-ratio [$input-padding-ratio]
// @param {array} $ec-select-radius [$input-radius]
// @param {color} $ec-select-border-color [$input-border-color]
// @param {array} $ec-select-border-width [$input-border-width]
// @param {em} $ec-select-font-size [$input-font-size]
// @param {em} $ec-select-line-height [$input-line-height]
// @param {em} $ec-select-min-height [$input-min-height]
// @param {color} $ec-select-placeholder [$input-placeholder]

@import 'ec-select-selection';
@import 'ec-select-options';

//scss-lint:disable SelectorDepth NestingDepth
.ec-select {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  border-style: solid;
  text-align: left;
  width: 100%;
  background-color: $ec-select-background;
  color: $ec-select-color;
  border-color: $ec-select-border-color;
  border-width: rem($ec-select-border-width);
  margin: arrayMagic($ec-select-spacing);
  @include macro-metrics(
    $ec-select-font-size,
    $ec-select-line-height,
    $ec-select-min-height,
    $padding-ratio: $ec-select-padding-ratio,
    $inline-styles: false
  );

  border-radius: arrayMagic($ec-select-radius);

  @if $ec-select-round == true {
    border-radius: arrayMagic($ec-select-min-height / 2);
  }

  /// additional styles via config
  @extend %ec-select-style !optional;

  &.is-focus {
    &::after {
      z-index: 11;
      transform: rotate(180deg);
      margin-top: 0;
      margin-bottom: rem(4);
    }
  }

  &:focus,
  &:hover {
    box-shadow: inset 0 0 0 2px getColor(state, hover);

    .ec-select__placeholder {
      color: $ec-select-color;
    }
  }

  &.is-dirty {
    @include macro-metrics(
      $ec-select-font-size,
      $ec-select-line-height,
      $ec-select-min-height,
      $padding-ratio: 1,
      $inline-styles: false
    );
  }

  &.is-solo {
    @include macro-metrics(
      $ec-select-font-size,
      $ec-select-line-height,
      $ec-select-min-height,
      $padding-ratio: $ec-select-padding-ratio,
      $inline-styles: false
    );
  }
}

.ec-select__placeholder {
  color: $ec-select-placeholder;
}

.ec-select-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  width: 100%;

  a {
    opacity: 0.6;
    padding-left: rem(8);
    color: $ec-select-color;
  }

  &:hover {
    a {
      opacity: 1;
    }
  }
}
