//scss-lint:disable SelectorDepth NestingDepth
$padding: (($ec-select-min-height - $ec-select-line-height) / 2) - $ec-select-border-width;

.ec-select {
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
  border-style: solid;
  text-align: left;
  width: 100%;
  background-color: $ec-select-background;
  color: $ec-select-color;
  border-color: $ec-select-border-color;
  border-width: rem($ec-select-border-width);
  border-radius: arrayMagic($ec-select-radius);
  font-size: em($ec-select-font-size);
  line-height: em($ec-select-line-height, $ec-select-font-size);
  min-height: em($ec-select-min-height, $ec-select-font-size);
  padding: em($padding, $ec-select-font-size) em(($padding * $ec-select-padding-ratio), $ec-select-font-size);
  margin: arrayMagic($ec-select-spacing);

  /// additional styles via config
  @extend %ec-select-style !optional;

  &.is-focus {
    &::after {
      z-index: 11;
      transform: rotate(180deg);
      margin-top: 0;
      margin-bottom: rem(4);
    }
  }

  &:focus,
  &:hover {
    box-shadow: inset 0 0 0 2px getColor(state, hover);

    .ec-select__placeholder {
      color: $ec-select-color;
    }
  }

  &.is-dirty {
    padding: em($padding, $ec-select-font-size);
  }
}

.ec-select__placeholder {
  color: $ec-select-placeholder;
}

.ec-select-selected {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: em($padding * -1, $ec-select-font-size) rem(-2);
  width: 100%;

  li {
    // padding: rem(2);
  }

  .is-draggable {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .is-dragged {
    opacity: 0.6;
    cursor: grabbing;
    z-index: 1;
  }

  .drag-placeholder {
    height: 100%;
    border: 1px dashed getColor(link);
    border-radius: rem($tag-radius);
  }

  .tag {
    @include set-theme-colors(getColor(link));
    margin: rem(2);

    a {
      color: setContrast(getColor(link));
      opacity: 0.8;
      padding-left: rem(4);
    }
  }
}

.ec-select-options {
  .ec-list {
    .ec-list-header {
      display: none;
    }

    .ec-list-item__selector {
      display: none;
    }

    .ec-list-item {
      @extend %select-option !optional;
      color: getColor(link);
      display: flex;
      width: 100%;
      padding: rem(8) rem(16);
      box-shadow: none;
    }

    .ec-list-cell {
      padding: 0;
    }
  }
}

.ec-select.is-solo {
  .ec-select-selected {
    flex-grow: 1;

    li {
      display: flex;
      flex: 1;
    }

    span {
      display: flex;
      flex: 1;
      justify-content: space-between;

      a {
        color: getColor(text, lighter);
        padding-left: rem(4);

        &:hover {
          color: getColor(text, light);
        }
      }
    }
  }
}

ec-pop.ec-select-options {
  .ec-pop {
    @extend %select-options !optional;
  }
}
