<ec-menu title="ec.components" [routes]="demos"></ec-menu>

<!--<ul class="demo-menu">
  <li>
    <strong>ec.components</strong>
  </li>
  <li *ngFor="let demo of demos">
    <a [href]="demo.path">{{demo.data?.title||demo.path}}</a>
    <span *ngIf="!demo.path">{{demo.data?.title||demo.path}}</span>
    <ul *ngIf="demo.children">
      <li *ngFor="let child of demo.children">
        {{child.path}}
      </li>
    </ul>
  </li>
</ul>-->

<router-outlet></router-outlet>


<!--<h2>Mockups</h2>
<ec-mockup></ec-mockup>
-->