//
// EC-OUTPUT
// ------------------------------------------------------

// @param {em} $ec-output-tag-font-size [.875]
$ec-output-tag-font-size: 0.875;

// @param {em} $ec-output-tags-font-size [$ec-output-tag-font-size]
$ec-output-tags-font-size: $ec-output-tag-font-size;

//
// EC-POP
// ------------------------------------------------------
// @param {array} $ec-pop-header-spacing [0]
$ec-pop-header-spacing: 0 !default;

//
// data/files
// ------------------------------------------------------------------------------------------------------------

//
// EC-DROPZONE
// ------------------------------------------------------
$ec-dropzone-background: getColor(link);
$ec-dropzone-color: setContrast(getColor(link));
