//
// ui/form
// ------------------------------------------------------------------------------------------------------------

%ec-btn-save-style {
  // add style...
}

%ec-btn-delete-style {
  // add style...
}

//
// EC-CALENDAR
// ------------------------------------------------------
// @param {array} $ec-calendar-spacing [0 0 16]
$ec-calendar-spacing: 0 0 16 !default;

// @param {px} $ec-calendar-title-size [$base-font-size]
// @param {value} $ec-calendar-title-weight [$is-bold]
// @param {color} $ec-calendar-title-color [getColor(text, light)]
$ec-calendar-title-size: $base-font-size !default;
$ec-calendar-title-weight: $is-bold !default;
$ec-calendar-title-color: getColor(text, light) !default;

// @param {array} $ec-calendar-controls-spacing [0 4]
$ec-calendar-controls-spacing: 0 4 !default;

%ec-calendar-controls-style {
  // put additional styles here...
}

// @param {px} $ec-calendar-weekdays-size [$base-font-size * 0.875]
// @param {value} $ec-calendar-weekdays-weight [$is-bold]
// @param {color} $ec-calendar-month-weekdays-color [getColor(text, light)]
$ec-calendar-weekdays-size: $base-font-size * 0.875 !default;
$ec-calendar-weekdays-weight: $is-bold !default;
$ec-calendar-weekdays-color: getColor(text, light) !default;

// @param {color} $ec-calendar-day-color [$text]
// @param {color} $ec-calendar-day-background [transparent]
$ec-calendar-day-color: $text !default;
$ec-calendar-day-background: transparent !default;

// @param {color} $ec-calendar-day-today-color [$link]
// @param {color} $ec-calendar-day-today-background [$state-hover]
$ec-calendar-day-today-color: $link !default;
$ec-calendar-day-today-background: $state-hover !default;

// @param {color} $ec-calendar-day-active-color [setContrast($link)]
// @param {color} $ec-calendar-day-active-background [$link]
$ec-calendar-day-active-color: setContrast($link) !default;
$ec-calendar-day-active-background: $link !default;

// @param {color} $ec-calendar-day-hover-color [$link]
// @param {color} $ec-calendar-day-hover-background [$state-hover]
$ec-calendar-day-hover-color: $link !default;
$ec-calendar-day-hover-background: $state-hover !default;

// @param {color} $ec-calendar-day-other-color [$text-lighter]
// @param {color} $ec-calendar-day-other-background [transparent]
$ec-calendar-day-other-color: $text-lighter !default;
$ec-calendar-day-other-background: transparent !default;

//
// EC-OUTPUT
// ------------------------------------------------------

// EC-OUTPUT-ASSET
// @param {array} $ec-output-asset-padding [8 16]
// @param {px} $ec-output-asset-radius [$tag-radius]
// @param {color} $ec-output-asset-background [$background-lighter]
// @param {px} $ec-output-asset-font-size [$tag-small-font-size]
// @param {px} $ec-output-asset-line-height [$tag-small-line-height]
$ec-output-asset-padding: 8 16 !default;
$ec-output-asset-radius: $tag-radius !default;
$ec-output-asset-background: $background-lighter !default;
$ec-output-asset-font-size: $tag-small-font-size !default;
$ec-output-asset-line-height: $tag-small-line-height !default;

%ec-output-asset-style {
  // add styles...
}

// EC-OUTPUT-AVATR
// @param {px} $ec-output-avatar-size [32]
// @param {array} $ec-output-avatar-border [2 solid $background]
$ec-output-avatar-size: 32 !default;
$ec-output-avatar-border: 2 solid $background !default;

%ec-output-avatar-style {
  // add styles...
}

// EC-OUTPUT-BOOLEAN
// @param {color} $ec-output-boolean-color [$text-lightest]
// @param {color} $ec-output-boolean-true-color [$text]
$ec-output-boolean-color: $text-lightest !default;
$ec-output-boolean-true-color: $text !default;

%ec-output-boolean-style {
  // add styles...
}

// EC-OUTPUT-COLOR
// @param {px} $ec-output-color-size [20]
// @param {array} $ec-output-color-border [0]
$ec-output-color-size: 20 !default;
$ec-output-color-border: 0 !default;

%ec-output-color-style {
  // add styles...
}

// EC-OUTPUT-TAG
// @param {em} $ec-output-tag-font-size [$base-font-size * 0.875]
$ec-output-tag-font-size: $base-font-size * 0.875 !default;

// EC-OUTPUT-TAGS
// @param {em} $ec-output-tags-font-size [$ec-output-tag-font-size]
$ec-output-tags-font-size: $ec-output-tag-font-size !default;

//
// EC-INPUT
// ------------------------------------------------------
// @param {array} $ec-input-errors-spacing [8 0 0]
// @param {em} $ec-input-errors-size [$base-font-size * 0.875]
// @param {color} $ec-input-errors-color [$state-error]
$ec-input-errors-spacing: 8 0 0 !default;
$ec-input-errors-size: $base-font-size * 0.875 !default;
$ec-input-errors-color: $state-error !default;

//
// ui/list
// ------------------------------------------------------------------------------------------------------------

//
// EC-INPUT
// ------------------------------------------------------
// @param {px} $ec-list-header-size [$base-font-size * 0.875]
// @param {value} $ec-list-header-weight [$is-bold]
// @param {color} $ec-list-header-color [$text-light]
// @param {color} $ec-list-header-background [$background]
// @param {array} $ec-list-header-padding [0]
// @param {array} $ec-list-header-spacing [0 0 8]
$ec-list-header-size: $base-font-size * 0.875 !default;
$ec-list-header-weight: $is-bold !default;
$ec-list-header-color: $text-light !default;
$ec-list-header-background: $background !default;
$ec-list-header-padding: 0 !default;
$ec-list-header-spacing: 0 0 8 !default;

%ec-list-header-style {
  // add style here....
}

// @param {color} $ec-list-filterable-control-color [$ec-list-header-color]
$ec-list-filterable-control-color: $ec-list-header-color;

// @param {color} $ec-list-item-background [transparent]
// @param {array} $ec-list-item-padding [0]
// @param {array} $ec-list-item-spacing [0]

$ec-list-item-background: transparent !default;
$ec-list-item-padding: 0 !default;
$ec-list-item-spacing: 0 !default;

%ec-list-item-style {
  // add style here....
}

// @param {color} $ec-list-item-clickable-color [$link]
// @param {color} $ec-list-item-clickable-background [$state-hover]
$ec-list-item-clickable-color: $link !default;
$ec-list-item-clickable-background: $state-hover !default;

%ec-list-item-clickable-style {
  // add style here....
}

// @param {color} $ec-list-item-selected-color [$ec-list-item-clickable-color]
// @param {color} $ec-list-item-selected-background [$ec-list-item-clickable-background]
$ec-list-item-selected-color: $ec-list-item-clickable-color !default;
$ec-list-item-selected-background: $ec-list-item-clickable-background !default;

%ec-list-item-selected-style {
  // add style here....
}

// @param {px} $ec-list-cell-size [$base-font-size]
// @param {value} $ec-list-cell-weight [$is-normal]
// @param {color} $ec-list-cell-color [$text]
// @param {array} $ec-list-cell-padding [8]
$ec-list-cell-size: $base-font-size !default;
$ec-list-cell-weight: $is-normal !default;
$ec-list-cell-color: $text !default;
$ec-list-cell-padding: 8 !default;

//
// EC-PAGINATION
// ------------------------------------------------------
// @param {array} $ec-pagination-spacing [8 0]
$ec-pagination-spacing: 8 0 !default;

// @param {number} $ec-pagination-item-padding-ratio [0]
// @param {array} $ec-pagination-item-spacing [$btn-spacing]
// @param {variable} $ec-pagination-item-font-family [$btn-font-family]
// @param {number} $ec-pagination-item-font-size [$btn-font-size]
// @param {number} $ec-pagination-item-line-height [$btn-line-height]
// @param {number} $ec-pagination-item-min-height [$btn-min-height]
// @param {value} $ec-pagination-item-weight [$btn-weight]
// @param {rem} $ec-pagination-item-big-radius [$btn-radius]
$ec-pagination-item-padding-ratio: 0 !default;
$ec-pagination-item-spacing: $btn-spacing !default;
$ec-pagination-item-font-family: $btn-font-family;
$ec-pagination-item-font-size: $btn-font-size !default;
$ec-pagination-item-line-height: $btn-line-height !default;
$ec-pagination-item-min-height: $btn-min-height !default;
$ec-pagination-item-weight: $btn-weight !default;
$ec-pagination-item-radius: $btn-radius !default;

// @param {color} $ec-pagination-item-background [transparent]
// @param {color} $ec-pagination-item-color [$link]
// @param {color} $ec-pagination-item-active-background [transparent]
// @param {color} $ec-pagination-item-active-color [setHover($link)]
// @param {color} $ec-pagination-item-disabled-background [transparent]
// @param {color} $ec-pagination-item-disabled-color [setHover($link)]
$ec-pagination-item-background: transparent;
$ec-pagination-item-color: $link;
$ec-pagination-item-active-background: $state-hover;
$ec-pagination-item-active-color: setHover($link);
$ec-pagination-item-disabled-background: transparent;
$ec-pagination-item-disabled-color: $state-disabled;


// @param {boolean} $ec-pagination-item-round [$btn-round]
$ec-pagination-item-round: $btn-round !default;

%ec-pagination-item-style {
  // put additional styles here...
}

// @param {px} $ec-pagination-info-size [$base-font-size * 0.875]
// @param {color} $ec-pagination-info-color [$link]
$ec-pagination-info-size: $base-font-size * 0.875 !default;
$ec-pagination-info-color: $text-light;

%ec-pagination-info-style {
  // put additional styles here...
}

//
// EC-POP
// ------------------------------------------------------
// @param {color} $ec-pop-background [$background]
// @param {color} $ec-pop-color [$text]
// @param {array} $ec-pop-spacing [$base-spacing]
// @param {array} $ec-pop-radius [$overlay-radius]
// @param {array} $ec-pop-shadow [$overlay-shadow]
$ec-pop-background: $background !default;
$ec-pop-color: $text !default;
$ec-pop-spacing: $base-spacing !default;
$ec-pop-radius: $overlay-radius !default;
$ec-pop-shadow: $overlay-shadow !default;

%ec-pop-style {
  // add styles..
}

// @param {array} $ec-pop-header-spacing [0]
// @param {array} $ec-pop-header-padding [8]
$ec-pop-header-spacing: 0 !default;
$ec-pop-header-padding: 8 !default;

%ec-pop-header-style {
  // add styles..
}

// @param {array} $ec-pop-body-spacing [0]
// @param {array} $ec-pop-body-padding [8]
$ec-pop-body-spacing: 0 !default;
$ec-pop-body-padding: 8 !default;

%ec-pop-body-style {
  // add styles..
}

// @param {array} $ec-pop-footer-spacing [0]
// @param {array} $ec-pop-footer-padding [8]
$ec-pop-footer-spacing: 0 !default;
$ec-pop-footer-padding: 8 !default;

%ec-pop-footer-style {
  // add styles..
}

//
// EC-POP_DIALOG
// ------------------------------------------------------
// @param {color} $ec-pop-dialog-background [$ec-pop-background]
// @param {color} $ec-pop-dialog-color [$ec-pop-color]
// @param {array} $ec-pop-dialog-spacing [$base-spacing]
// @param {array} $ec-pop-dialog-radius [$ec-pop-radius]
// @param {array} $ec-pop-dialog-shadow [$ec-pop-shadow]
// @param {px} $ec-pop-dialog-min-width [320]
$ec-pop-dialog-background: $ec-pop-background !default;
$ec-pop-dialog-color: $ec-pop-color !default;
$ec-pop-dialog-spacing: $ec-pop-spacing !default;
$ec-pop-dialog-radius: $ec-pop-radius !default;
$ec-pop-dialog-shadow: $ec-pop-shadow !default;
$ec-pop-dialog-min-width: 320 !default;

%ec-pop-dialog-style {
  // add styles..
}

//
// EC-POP_FULLSCREEN
// ------------------------------------------------------
// @param {color} $ec-pop-fullscreen-background [$ec-pop-background]
// @param {color} $ec-pop-fullscreen-color [$ec-pop-color]
// @param {array} $ec-pop-fullscreen-spacing [$base-spacing]
// @param {array} $ec-pop-fullscreen-radius [$ec-pop-radius]
// @param {array} $ec-pop-fullscreen-shadow [$ec-pop-shadow]
$ec-pop-fullscreen-background: $ec-pop-background !default;
$ec-pop-fullscreen-color: $ec-pop-color !default;
$ec-pop-fullscreen-spacing: $ec-pop-spacing !default;
$ec-pop-fullscreen-radius: $ec-pop-radius !default;
$ec-pop-fullscreen-shadow: $ec-pop-shadow !default;

%ec-pop-fullscreen-style {
  // add styles..
}

//
// ui/select
// ------------------------------------------------------------------------------------------------------------

//
// EC-SELECT
// ------------------------------------------------------
// @param {color} $ec-select-background [$input-background]
// @param {color} $ec-select-color [$input-color]
// @param {array} $ec-select-spacing [$input-spacing]
// @param {array} $ec-select-padding-ratio [$input-padding-ratio]
// @param {array} $ec-select-radius [$input-radius]
// @param {color} $ec-select-border-color [$input-border-color]
// @param {array} $ec-select-border-width [$input-border-width]
// @param {em} $ec-select-font-size [$input-font-size]
// @param {em} $ec-select-line-height [$input-line-height]
// @param {em} $ec-select-min-height [$input-min-height]
$ec-select-background: $input-background !default;
$ec-select-color: $input-color !default;
$ec-select-spacing: $input-spacing !default;
$ec-select-padding-ratio: $input-padding-ratio !default;
$ec-select-radius: $input-radius !default;
$ec-select-border-color: $input-border-color !default;
$ec-select-border-width: $input-border-width !default;
$ec-select-font-size: $input-font-size !default;
$ec-select-line-height: $input-line-height !default;
$ec-select-min-height: $input-min-height !default;

// @param {color} $ec-select-placeholder [$input-placeholder]
$ec-select-placeholder: $input-placeholder !default;

%ec-select-style {
  // put additional styles here...
}

//
// EC-SELECT-SELECTED
// ------------------------------------------------------
// @param {color} $ec-select-selected-background [$tag-background]
// @param {color} $ec-select-selected-color [setContrast($ec-select-selected-background)]
// @param {number} $ec-select-selected-padding-ratio [$tag-padding-ratio]
// @param {px} $ec-select-selected-font-size [$tag-font-size]
// @param {px} $ec-select-selected-line-height [$tag-line-height]
// @param {px} $ec-select-selected-min-height [$tag-min-height]
// @param {value} $ec-select-selected-weight [$tag-weight]
// @param {rem} $ec-select-selected-radius [$tag-radius]
$ec-select-selected-background: $link !default;
$ec-select-selected-color: setContrast($ec-select-selected-background) !default;
$ec-select-selected-padding-ratio: $tag-padding-ratio !default;
$ec-select-selected-font-size: $tag-font-size !default;
$ec-select-selected-line-height: $tag-line-height !default;
$ec-select-selected-min-height: $tag-min-height !default;
$ec-select-selected-weight: $tag-weight !default;
$ec-select-selected-radius: $tag-radius !default;

// @param {boolean} $ec-select-selected-round [$tag-round]
$ec-select-selected-round: $tag-round !default;

%ec-select-selected-style {
  // put additional styles here...
}

//
// data/files
// ------------------------------------------------------------------------------------------------------------

//
// EC-DROPZONE
// ------------------------------------------------------
// @param {color} $ec-dropzone-background [getColor(link)]
// @param {color} $ec-dropzone-color [setContrast(getColor(link))]
$ec-dropzone-background: getColor(link) !default;
$ec-dropzone-color: setContrast(getColor(link)) !default;
