//
// ui/form
// ------------------------------------------------------------------------------------------------------------

%ec-btn-save-style {
  // add style...
}

%ec-btn-delete-style {
  // add style...
}

//
// EC-CALENDAR
// ------------------------------------------------------
// @param {em} $ec-output-tag-font-size [1]
// @param {value} $ec-calendar-title-weight [$is-bold]
// @param {color} $ec-calendar-title-color [getColor(text, light)]
$ec-calendar-title-size: 1 !default;
$ec-calendar-title-weight: $is-bold !default;
$ec-calendar-title-color: getColor(text, light) !default;

%ec-calendar-controls-style {
  // put additional styles here...
}

// @param {em} $ec-calendar-weekdays-size [.875]
// @param {value} $ec-calendar-weekdays-weight [$is-bold]
// @param {color} $ec-calendar-month-weekdays-color [getColor(text, light)]
$ec-calendar-weekdays-size: 0.875 !default;
$ec-calendar-weekdays-weight: $is-bold !default;
$ec-calendar-weekdays-color: getColor(text, light) !default;

// @param {color} $ec-calendar-day-color [$text]
// @param {color} $ec-calendar-day-background [transparent]
$ec-calendar-day-color: $text !default;
$ec-calendar-day-background: transparent !default;

// @param {color} $ec-calendar-day-today-color [$link]
// @param {color} $ec-calendar-day-today-background [$state-hover]
$ec-calendar-day-today-color: $link !default;
$ec-calendar-day-today-background: $state-hover !default;

// @param {color} $ec-calendar-day-active-color [setContrast($link)]
// @param {color} $ec-calendar-day-active-background [$link]
$ec-calendar-day-active-color: setContrast($link) !default;
$ec-calendar-day-active-background: $link !default;

// @param {color} $ec-calendar-day-hover-color [$link]
// @param {color} $ec-calendar-day-hover-background [$state-hover]
$ec-calendar-day-hover-color: $link !default;
$ec-calendar-day-hover-background: $state-hover !default;

// @param {color} $ec-calendar-day-other-color [$text-lighter]
// @param {color} $ec-calendar-day-other-background [transparent]
$ec-calendar-day-other-color: $text-lighter !default;
$ec-calendar-day-other-background: transparent !default;

//
// EC-OUTPUT
// ------------------------------------------------------
// @param {array} $ec-output-asset-padding [8 16]
// @param {px} $ec-output-asset-radius [$tag-radius]
// @param {color} $ec-output-asset-background [$background-lighter]
// @param {px} $ec-output-asset-font-size [$tag-small-font-size]
// @param {px} $ec-output-asset-line-height [$tag-small-line-height]
$ec-output-asset-padding: 8 16 !default;
$ec-output-asset-radius: $tag-radius !default;
$ec-output-asset-background: $background-lighter !default;
$ec-output-asset-font-size: $tag-small-font-size !default;
$ec-output-asset-line-height: $tag-small-line-height !default;

// @param {em} $ec-output-tag-font-size [.875]
$ec-output-tag-font-size: 0.875 !default;

// @param {em} $ec-output-tags-font-size [$ec-output-tag-font-size]
$ec-output-tags-font-size: $ec-output-tag-font-size !default;

//
// EC-INPUT
// ------------------------------------------------------
// @param {array} $ec-input-errors-spacing [8 0 0]
// @param {em} $ec-input-errors-size [.875]
// @param {color} $ec-input-errors-color [$state-error]
$ec-input-errors-spacing: 8 0 0 !default;
$ec-input-errors-size: 0.875 !default;
$ec-input-errors-color: $state-error !default;

//
// ui/list
// ------------------------------------------------------------------------------------------------------------
// @param {px} $ec-list-header-size [$base-font-size * 0.875]
// @param {value} $ec-list-header-weight [$is-bold]
// @param {color} $ec-list-header-color [$text-light]
// @param {color} $ec-list-header-background [transparent]
// @param {array} $ec-list-header-padding [0]
// @param {array} $ec-list-header-spacing [0 0 8]
$ec-list-header-size: $base-font-size * 0.875 !default;
$ec-list-header-weight: $is-bold !default;
$ec-list-header-color: $text-light !default;
$ec-list-header-background: transparent !default;
$ec-list-header-padding: 0 !default;
$ec-list-header-spacing: 0 0 8 !default;

%ec-list-header-style {
  // add style here....
}

// @param {px} $ec-list-item-size [$base-font-size]
// @param {value} $ec-list-item-weight [$bold]
// @param {color} $ec-list-item-color [$text]
// @param {color} $ec-list-item-background [transparent]
// @param {array} $ec-list-item-padding [0]
// @param {array} $ec-list-item-spacing [0]
$ec-list-item-size: $base-font-size !default;
$ec-list-item-weight: $is-bold !default;
$ec-list-item-color: $text !default;
$ec-list-item-background: transparent !default;
$ec-list-item-padding: 0 !default;
$ec-list-item-spacing: 0 !default;

%ec-list-item-style {
  // add style here....
}

// @param {array} $ec-list-cell-padding [8]
$ec-list-cell-padding: 8 !default;



//
// EC-POP
// ------------------------------------------------------
// @param {color} $ec-pop-background [$background]
// @param {color} $ec-pop-color [$text]
// @param {array} $ec-pop-spacing [$base-spacing]
// @param {array} $ec-pop-radius [$overlay-radius]
// @param {array} $ec-pop-shadow [$overlay-shadow]
$ec-pop-background: $background;
$ec-pop-color: $text;
$ec-pop-spacing: $base-spacing;
$ec-pop-radius: $overlay-radius;
$ec-pop-shadow: $overlay-shadow;

%ec-pop-style {
  // add styles..
}

// @param {array} $ec-pop-header-spacing [0]
// @param {array} $ec-pop-header-padding [8]
$ec-pop-header-spacing: 0 !default;
$ec-pop-header-padding: 8 !default;

%ec-pop-header-style {
  // add styles..
}

// @param {array} $ec-pop-body-spacing [0]
// @param {array} $ec-pop-body-padding [8]
$ec-pop-body-spacing: 0 !default;
$ec-pop-body-padding: 8 !default;

%ec-pop-body-style {
  // add styles..
}

// @param {array} $ec-pop-footer-spacing [0]
// @param {array} $ec-pop-footer-padding [8]
$ec-pop-footer-spacing: 0 !default;
$ec-pop-footer-padding: 8 !default;

%ec-pop-footer-style {
  // add styles..
}

//
// EC-POP_DIALOG
// ------------------------------------------------------
// @param {color} $ec-pop-dialog-background [$ec-pop-background]
// @param {color} $ec-pop-dialog-color [$ec-pop-color]
// @param {array} $ec-pop-dialog-spacing [$base-spacing]
// @param {array} $ec-pop-dialog-radius [$ec-pop-radius]
// @param {array} $ec-pop-dialog-shadow [$ec-pop-shadow]
// @param {px} $ec-pop-dialog-min-width [320]
$ec-pop-dialog-background: $ec-pop-background;
$ec-pop-dialog-color: $ec-pop-color;
$ec-pop-dialog-spacing: $ec-pop-spacing;
$ec-pop-dialog-radius: $ec-pop-radius;
$ec-pop-dialog-shadow: $ec-pop-shadow;
$ec-pop-dialog-min-width: 320;

%ec-pop-dialog-style {
  // add styles..
}

//
// EC-POP_FULLSCREEN
// ------------------------------------------------------
// @param {color} $ec-pop-fullscreen-background [$ec-pop-background]
// @param {color} $ec-pop-fullscreen-color [$ec-pop-color]
// @param {array} $ec-pop-fullscreen-spacing [$base-spacing]
// @param {array} $ec-pop-fullscreen-radius [$ec-pop-radius]
// @param {array} $ec-pop-fullscreen-shadow [$ec-pop-shadow]
$ec-pop-fullscreen-background: $ec-pop-background;
$ec-pop-fullscreen-color: $ec-pop-color;
$ec-pop-fullscreen-spacing: $ec-pop-spacing;
$ec-pop-fullscreen-radius: $ec-pop-radius;
$ec-pop-fullscreen-shadow: $ec-pop-shadow;

%ec-pop-fullscreen-style {
  // add styles..
}

//
// ui/select
// ------------------------------------------------------------------------------------------------------------

//
// EC-SELECT
// ------------------------------------------------------
// @param {color} $ec-select-background [$input-background]
// @param {color} $ec-select-color [$input-color]
// @param {array} $ec-select-spacing [$input-spacing]
// @param {array} $ec-select-padding-ratio [$input-padding-ratio]
// @param {array} $ec-select-radius [$input-radius]
// @param {color} $ec-select-border-color [$input-border-color]
// @param {array} $ec-select-border [$input-border]
$ec-select-background: $input-background !default;
$ec-select-color: $input-color !default;
$ec-select-spacing: $input-spacing !default;
$ec-select-padding-ratio: $input-padding-ratio !default;
$ec-select-radius: $input-radius !default;
$ec-select-border-color: $input-border-color !default;
$ec-select-border-width: $input-border-width !default;

// @param {em} $ec-select-font-size [$input-font-size]
// @param {em} $ec-select-line-height [$input-line-height]
// @param {em} $ec-select-min-height [$input-min-height]
$ec-select-font-size: $input-font-size !default;
$ec-select-line-height: $input-line-height !default;
$ec-select-min-height: $input-min-height !default;

// @param {color} $ec-select-placeholder [$input-placeholder]
$ec-select-placeholder: $input-placeholder !default;

%ec-select-style {
  // put additional styles here...
}

//
// EC-SELECT-SELECTED
// ------------------------------------------------------
// @param {color} $ec-select-selected-background [$tag-background]
// @param {color} $ec-select-selected-color [setContrast($ec-select-selected-background)]
// @param {number} $ec-select-selected-padding-ratio [$tag-padding-ratio]
// @param {px} $ec-select-selected-font-size [$tag-font-size]
// @param {px} $ec-select-selected-line-height [$tag-line-height]
// @param {px} $ec-select-selected-min-height [$tag-min-height]
// @param {value} $ec-select-selected-weight [$tag-weight]
// @param {rem} $ec-select-selected-radius [$tag-radius]
$ec-select-selected-background: $link !default;
$ec-select-selected-color: setContrast($ec-select-selected-background) !default;
$ec-select-selected-padding-ratio: $tag-padding-ratio !default;
$ec-select-selected-font-size: $tag-font-size !default;
$ec-select-selected-line-height: $tag-line-height !default;
$ec-select-selected-min-height: $tag-min-height !default;
$ec-select-selected-weight: $tag-weight !default;
$ec-select-selected-radius: $tag-radius !default;

// @param {boolean} $ec-select-selected-round [$tag-round]
$ec-select-selected-round: $tag-round !default;

%ec-select-selected-style {
  // put additional styles here...
}

//
// data/files
// ------------------------------------------------------------------------------------------------------------

//
// EC-DROPZONE
// ------------------------------------------------------
// @param {color} $ec-dropzone-background [getColor(link)]
// @param {color} $ec-dropzone-color [setContrast(getColor(link))]
$ec-dropzone-background: getColor(link) !default;
$ec-dropzone-color: setContrast(getColor(link)) !default;
