<div data-grid *ngIf="!hideMenu">
  <div data-col="3 2-md" class="is-bordered-right">
    <ec-menu [routes]="demos"></ec-menu>
  </div>
  <div data-col="9 10-md">
    <div data-grid>
      <div data-col="8-sm 6-xxl">
        <router-outlet></router-outlet>
      </div>
      <div data-col="4-sm 2-xxl">
        <ec-github-sources [paths]="paths"></ec-github-sources>
        <ec-doclinks [links]="links"></ec-doclinks>
      </div>
    </div>
  </div>
</div>
<div *ngIf="hideMenu">
  <router-outlet *ngIf="hideMenu"></router-outlet>
  <ec-github-sources [paths]="paths"></ec-github-sources>
</div>
