<div data-container>
  <ec-notifications class="ec-notifications"></ec-notifications>
  <ec-tabs>
    <ec-tab label="Simple">
      <ec-entry-form model="muffin" [config]="formConfig"></ec-entry-form>
    </ec-tab>
    <ec-tab label="Dynamic Fields">
      <ec-entry-form model="muffin" [config]="formConfig" #simpleMuffin></ec-entry-form>
      <ec-pop class="ec-pop ec-pop_dialog" #fieldPop>
        <ec-form [config]="fieldForm" (submitted)="addField($event,simpleMuffin,fieldPop)"></ec-form>
      </ec-pop>
      <a (click)="fieldPop.show()">add field</a>
    </ec-tab>
    <ec-tab label="with config">
      <ec-entry-form model="muffin" [config]="formConfig"></ec-entry-form>
    </ec-tab>
    <ec-tab label="complex">
      <ec-entry-form model="field_test"></ec-entry-form>
    </ec-tab>
    <ec-tab label="with entry">
      <ec-entry-form model="muffin" [entry]="myMuffin.entry" ecEntry entryId="SkXEhDZ5yW" #myMuffin="ecEntry"></ec-entry-form>
    </ec-tab>
    <ec-tab label="with complex entry">
      <ec-entry-form model="field_test" [entry]="fieldTest.entry" ecEntry entryId="H1f3tKR85f" #fieldTest="ecEntry"></ec-entry-form>
    </ec-tab>
    <ec-tab label="custom">
      <ec-entry-form model="muffin" #muffinForm>
        <ec-input [field]="muffinForm.form?.getField('name')" [group]="muffinForm.group"></ec-input>
        <ec-input [field]="muffinForm.form?.getField('amazement_factor')" [group]="muffinForm.group"></ec-input>
        <button type="button" (click)="muffinForm.submit()" [disabled]="muffinForm.group?.invalid" [class.is-disabled]="muffinForm.group?.invalid">
          Na los
        </button>
      </ec-entry-form>
    </ec-tab>
  </ec-tabs>
</div>