%ec-toast {
  background: getColor(background);
  position: fixed;
  z-index: 9999;
}

.ec-pop_toast-top {
  > .ec-pop-container {
    > .ec-pop {
      @extend %ec-toast;
      width: 100vw;
      top: 0;
      left: 0;
      box-shadow: 0 4px 8px rgba(#000, 0.2), 0 4px 16px rgba(#000, 0.2);
    }
  }
}

.ec-pop_toast-bottom {
  > .ec-pop-container {
    > .ec-pop {
      @extend %ec-toast;
      width: 100vw;
      bottom: 0;
      left: 0;
      box-shadow: 0 -4px 8px rgba(#000, 0.2), 0 -4px 16px rgba(#000, 0.2);
    }
  }
}
