.ec-pop__dismiss {
  @extend %btn !optional;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  opacity: 0.6;
  color: $ec-pop-fullscreen-color;

  &:only-child {
    margin-left: auto;
  }

  &:hover {
    opacity: 1;
  }
}
