// @param {array} $ec-pop-fullscreen-spacing [$base-spacing]
.ec-pop_fullscreen {
  > .ec-pop-container {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: arrayMagic($ec-pop-fullscreen-spacing);

    // @param {color} $ec-pop-fullscreen-background [$ec-pop-background]
    // @param {color} $ec-pop-fullscreen-color [$ec-pop-color]
    // @param {array} $ec-pop-fullscreen-radius [$ec-pop-radius]
    // @param {array} $ec-pop-fullscreen-shadow [$ec-pop-shadow]
    // @param {value} $ec-pop-fullscreen-animation [popfadeIn]
    // @param {time} $ec-pop-fullscreen-animation-speed [0.4s]
    // @param {value} $ec-pop-fullscreen-animation-behavior [forwards]
    // @param {array} $ec-pop-fullscreen-style
    > .ec-pop {
      @include inject-style($ec-pop-fullscreen-style);
      animation: $ec-pop-fullscreen-animation $ec-pop-fullscreen-animation-speed
        $ec-pop-fullscreen-animation-behavior;
      box-shadow: arrayMagic($xui-overlay-shadow);
      border-radius: arrayMagic($ec-pop-fullscreen-radius);
      background: $ec-pop-fullscreen-background;
      color: $ec-pop-fullscreen-color;
      width: 100%;
      height: 100%;
    }
  }
}
