// @param {array} $ec-pop-dialog-spacing [$base-spacing]
.ec-pop_dialog {
  > .ec-pop-container {
    padding: arrayMagic($ec-pop-dialog-spacing);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;

    &.is-visible {
      display: flex;
    }

    // @param {color} $ec-pop-dialog-background [$ec-pop-background]
    // @param {color} $ec-pop-dialog-color [$ec-pop-color]
    // @param {array} $ec-pop-dialog-radius [$ec-pop-radius]
    // @param {array} $ec-pop-dialog-shadow [$ec-pop-shadow]
    // @param {px} $ec-pop-dialog-min-width [320]
    // @param {value} $ec-pop-dialog-animation [dialogAppear]
    // @param {time} $ec-pop-dialog-animation-speed [0.4s]
    // @param {value} $ec-pop-dialog-animation-behavior [forwards]
    // @param {array} $ec-pop-dialog-style
    > .ec-pop {
      @include inject-style($ec-pop-dialog-style);
      box-shadow: arrayMagic($ec-pop-dialog-shadow);
      border-radius: arrayMagic($ec-pop-dialog-radius);
      background: $ec-pop-dialog-background;
      color: $ec-pop-dialog-color;

      @media (min-width: ($ec-pop-dialog-min-width + 2 * $ec-pop-dialog-spacing * 1px)) {
        min-width: rem($ec-pop-dialog-min-width);
      }
    }
  }
}
