.ec-pop__dismiss {
  @extend %btn !optional;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  color: set-contrast($ec-pop-fullscreen-background);

  &:only-child {
    margin-left: auto;
  }

  &:hover {
    color: set-contrast($ec-pop-fullscreen-background);
  }
}
