%ec-drawer {
  background: get-color(background);
  z-index: 9999;
  position: absolute;
}

%ec-drawer-side {
  width: rem(280);

  @media (min-width: bp(md)) {
    width: rem(320);
  }

  @media (min-width: bp(lg)) {
    min-width: rem(320);
    width: auto;
  }
}

.ec-pop_drawer-left {
  > .ec-pop-container {
    > .ec-pop {
      @extend %ec-drawer;
      @extend %ec-drawer-side;
      height: 100%;
      top: 0;
      left: 0;
      box-shadow: 4px 0 8px rgba(#000, 0.2), 4px 0 16px rgba(#000, 0.2);
    }
  }
}

.ec-pop_drawer-right {
  > .ec-pop-container {
    > .ec-pop {
      @extend %ec-drawer;
      @extend %ec-drawer-side;
      height: 100%;
      top: 0;
      right: 0;
      box-shadow: -4px 0 8px rgba(#000, 0.2), -4px 0 16px rgba(#000, 0.2);
    }
  }
}

.ec-pop_drawer-top {
  > .ec-pop-container {
    > .ec-pop {
      @extend %ec-drawer;
      width: 100%;
      top: 0;
      left: 0;
      box-shadow: 0 4px 8px rgba(#000, 0.2), 0 4px 16px rgba(#000, 0.2);
    }
  }
}

.ec-pop_drawer-bottom {
  > .ec-pop-container {
    > .ec-pop {
      @extend %ec-drawer;
      width: 100%;
      bottom: 0;
      left: 0;
      box-shadow: 0 -4px 8px rgba(#000, 0.2), 0 -4px 16px rgba(#000, 0.2);
    }
  }
}
