.ec-pagination {
  user-select: none;
  display: flex;
  margin: rem(8) 0;

  &__item {
    @extend .btn, .btn.clear !optional;
    @include border-radius(rem($btn-radius));
    width: rem($btn-min-height);
    padding-left: 0;
    padding-right: 0;

    &.active {
      @extend .btn.active !optional;
    }
  }
}

.ec-pagination-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  .ec-pagination-control {
    &.disabled {
      .ec-pagination__item {
        color: getColor(state, disabled);
      }
    }

    &_first {
    }

    &_prev {
    }

    &_next {
    }

    &_last {
    }
  }
}

.ec-pagination-pages {
  overflow: hidden;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
}

