// @param {array} $ec-input-errors-spacing [8 0 0]
// @param {em} $ec-input-errors-size [$base-font-size * 0.875]
// @param {color} $ec-input-errors-color [$state-error]
// @param {array} $ec-input-errors-style
.ec-input-errors {
  @include inject-style($ec-input-errors-style);
  margin: arrayMagic($ec-input-errors-spacing);
  font-size: arrayMagic($ec-input-errors-size, xem);
  color: $ec-input-errors-color;
  list-style: none;
  padding: 0;
}
