// @param {array} $ec-input-errors-spacing [8 0 0]
// @param {em} $ec-input-errors-size [.875]
// @param {color} $ec-input-errors-color [$state-error]

.ec-input-errors {
  list-style: none;
  padding: 0;
  margin: arrayMagic($ec-input-errors-spacing);
  font-size: arrayMagic($ec-input-errors-size, em);
  color: $ec-input-errors-color;
}
