.allunset {
  all: inherit;
  font-family: sans-serif;

  //* {
  //  box-sizing: inherit;
  //  margin: inherit;
  //  padding: inherit;
  //  font-family: inherit;
  //  font-size: inherit;
  //  line-height: inherit;
  //  vertical-align: inherit;
  //}

  address, blockquote, center, div, figure, figcaption, footer, form, header, hr, legend, p, pre {
    display: block;
  }

  blockquote, figure, p, pre {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  blockquote, figure {
    margin-left: 40px;
    margin-right: 40px;
  }

  address {
    font-style: italic;
  }

  pre {
    font-family: monospace;
    white-space: pre;
  }

  form {
    margin-bottom: 1em;
  }

  cite, dfn, em, i, var {
    font-style: italic;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, tt {
    font-family: monospace;
  }

  big {
    font-size: larger;
  }

  small {
    font-size: smaller;
  }

  sub {
    vertical-align: sub;
  }

  sup {
    vertical-align: super;
  }

  sub, sup {
    line-height: normal;
    font-size: smaller;
  }

  :link {
    color: #0000EE;
  }

  :visited {
    color: #551A8B;
  }

  :link, :visited {
    text-decoration: underline;
  }

  :focus {
    outline: auto;
  }

  mark {
    background: yellow;
    color: black;
  }

  abbr[title], acronym[title] {
    text-decoration: dotted underline;
  }

  ins, u {
    text-decoration: underline;
  }

  del, s, strike {
    text-decoration: line-through;
  }

  article, aside, h1, h2, h3, h4, h5, h6, nav, section {
    display: block;
  }

  h1 {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-size: 2.00em;
    font-weight: bold;
  }

  h2 {
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-size: 1.50em;
    font-weight: bold;
  }

  h3 {
    margin-top: 1.00em;
    margin-bottom: 1.00em;
    font-size: 1.17em;
    font-weight: bold;
  }

  h4 {
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    font-size: 1.00em;
    font-weight: bold;
  }

  h5 {
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    font-size: 0.83em;
    font-weight: bold;
  }

  h6 {
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    font-size: 0.67em;
    font-weight: bold;
  }

  article, aside, nav, section {
    h1 {
      margin-top: 0.83em;
      margin-bottom: 0.83em;
      font-size: 1.50em;
    }

    article, aside, nav, section {
      h1 {
        margin-top: 1.00em;
        margin-bottom: 1.00em;
        font-size: 1.17em;
      }

      article, aside, nav, section {
        h1 {
          margin-top: 1.33em;
          margin-bottom: 1.33em;
          font-size: 1.00em;
        }

        article, aside, nav, section {
          h1 {
            margin-top: 1.67em;
            margin-bottom: 1.67em;
            font-size: 0.83em;
          }

          article, aside, nav, section {
            h1 {
              margin-top: 2.33em;
              margin-bottom: 2.33em;
              font-size: 0.67em;
            }
          }
        }
      }
    }
  }

  dir, dd, dl, dt, ol, ul {
    display: block;
  }

  li {
    display: list-item;
  }

  dir, dl, ol, ul {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  dir {
    dir, dl, ol, ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  dl {
    dir, dl, ol, ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  ol {
    dir, dl, ol, ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  ul {
    dir, dl, ol, ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  dd {
    margin-left: 40px;
  }

  dir, ol, ul {
    padding-left: 40px;
  }

  ol {
    list-style-type: decimal;
  }

  dir, ul {
    list-style-type: disc;
  }

  dir {
    dir, ul {
      list-style-type: circle;
    }
  }

  ol {
    dir, ul {
      list-style-type: circle;
    }
  }

  ul {
    dir, ul {
      list-style-type: circle;
    }
  }

  dir {
    dir {
      dir, ul {
        list-style-type: square;
      }
    }
    ol {
      dir, ul {
        list-style-type: square;
      }
    }
    ul {
      dir, ul {
        list-style-type: square;
      }
    }
  }

  ol {
    dir {
      dir, ul {
        list-style-type: square;
      }
    }
    ol {
      dir, ul {
        list-style-type: square;
      }
    }
    ul {
      dir, ul {
        list-style-type: square;
      }
    }
  }

  ul {
    dir {
      dir, ul {
        list-style-type: square;
      }
    }
    ol {
      dir, ul {
        list-style-type: square;
      }
    }
    ul {
      dir, ul {
        list-style-type: square;
      }
    }
  }

  table {
    display: table;
  }

  caption {
    display: table-caption;
  }

  colgroup {
    display: table-column-group;
    &[hidden] {
      display: table-column-group;
    }
  }

  col {
    display: table-column;
    &[hidden] {
      display: table-column;
    }
  }

  thead {
    display: table-header-group;
    &[hidden] {
      display: table-header-group;
    }
  }

  tbody {
    display: table-row-group;
    &[hidden] {
      display: table-row-group;
    }
  }

  tfoot {
    display: table-footer-group;
    &[hidden] {
      display: table-footer-group;
    }
  }

  tr {
    display: table-row;
    &[hidden] {
      display: table-row;
    }
  }

  td, th, td[hidden], th[hidden] {
    display: table-cell;
  }

  colgroup[hidden], col[hidden], thead[hidden], tbody[hidden], tfoot[hidden], tr[hidden], td[hidden], th[hidden] {
    visibility: collapse;
  }

  table {
    box-sizing: border-box;
    border-spacing: 2px;
    border-collapse: separate;
    text-indent: initial;
  }

  td {
    padding: 1px;
  }

  th {
    padding: 1px;
    font-weight: bold;
  }

  thead, tbody, tfoot, table > tr {
    vertical-align: middle;
  }

  tr, td, th {
    vertical-align: inherit;
  }

  table, td, th {
    border-color: gray;
  }

  thead, tbody, tfoot, tr {
    border-color: inherit;
  }

  table {
    font-weight: initial;
    font-style: initial;
    font-variant: initial;
    font-size: initial;
    line-height: initial;
    white-space: initial;
    text-align: initial;
  }

  input, select, option, optgroup, button, textarea, keygen {
    text-indent: initial;
  }

  textarea {
    white-space: pre-wrap;
  }

  input {
    &[type="radio"], &[type="checkbox"], &[type="reset"], &[type="button"], &[type="submit"] {
      box-sizing: border-box;
    }
  }

  select, button, input:not([type=image]), textarea {
    box-sizing: border-box;
  }

  hr {
    color: gray;
    border-style: inset;
    border-width: 1px;
    margin: 0.5em auto;
  }

  fieldset {
    margin-left: 2px;
    margin-right: 2px;
    border: groove 2px ThreeDFace;
    padding: 0.35em 0.625em 0.75em;
  }

  legend {
    padding-left: 2px;
    padding-right: 2px;
  }

  iframe {
    border: 2px inset;
  }

  video {
    object-fit: contain;
  }
}