[data-col*="pull4sm"] {
  @media (min-width: $bpSm) {
    right: 100 / 12 * 4 *1%;
  }
}

[data-col*="push8sm"] {
  @media (min-width: $bpSm) {
    left: 100 / 12 * 8 *1%;
  }
}

[data-col*="pull3sm"] {
  @media (min-width: $bpSm) {
    right: 100 / 12 * 3 *1%;
  }
}

[data-col*="push9sm"] {
  @media (min-width: $bpSm) {
    left: 100 / 12 * 9 *1%;
  }
}