<h2>ec-entry-select</h2>
<h3>usage without form</h3>
<ec-entry-select model="muffin" [config]="{size:3}" #entrySelect></ec-entry-select>
<div *ngIf="entrySelect.selection?.items?.length">
  <strong>Manual iteration over selected entry items</strong>
  <ul>
    <li class="pill" *ngFor="let entry of entrySelect.selection?.items">
      {{entry.resolve('name')}}
    </li>
  </ul>
  <strong>selected IDs:</strong>
  <pre>{{entrySelect.selection?.getValue() | json}}</pre>
</div>
<b>solo</b>
<ec-entry-select model="muffin" [config]="{size:3}" [solo]="true" #soloEntry></ec-entry-select>
<pre>{{soloEntry.selection?.getValue()}}</pre>
<h3>Usage with form</h3>
<ec-entry-form model="field_test" #fieldTest>
  <ec-entry-select *ngIf="fieldTest.group"
                   [formControl]="fieldTest.group?.get('entries')"
                   model="muffin"></ec-entry-select>
  <ec-input [field]="fieldTest.form?.getField('entries')" [group]="fieldTest.group"></ec-input>
</ec-entry-form>