// @param {color} $ec-asset-list-pop-background [inherit]
// @param {color} $ec-asset-list-pop-color [inherit]
// @param {array} $ec-asset-list-pop-style
.ec-asset-list-pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: grid;
  align-content: start;
  grid-template-areas: 'header' 'body';
  grid-template-rows: auto 1fr;
  @include inject-style($ec-asset-list-pop-style);
  background: $ec-asset-list-pop-background;
  color: $ec-asset-list-pop-color;
}

.ec-asset-list-pop-header {
  grid-area: header;
  padding: rem(16) rem(16);

  .ec-asset-upload {
    margin-bottom: rem(16);
  }
}

.ec-asset-list-pop-body {
  grid-area: body;
  @include is-scrollable(y, contain);

  .ec-list-body {
    padding: rem(16);
  }

  .ec-pagination {
    padding: rem(8) rem(16);
    margin: 0;
  }
}
