@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

$body-font: 'Rubik', sans-serif;
$headings-font: 'Rubik', sans-serif;

$is-light: 300;
$is-normal: 400;
$is-medium: 500;
$is-bold: 700;

$base-font-size: 14;

$background: #fff;
$text: #2a3d54;
$link: #2fce6f;
$super: #ee1e47;
$minor: rgba($link, 0.2);

$btn-weight: $is-medium;

$form-group-spacing: 0 0 16;

$xui-tabs-nav-spacing: 0 0 16;
$xui-tabs-nav-item-gutter: 8;
$xui-tabs-nav-item-padding: 8 16;
$xui-tabs-nav-item-radius: 20;
$xui-tabs-nav-item-background: rgba($link, 0.1);
$xui-tabs-nav-item-color: $text;
$xui-tabs-nav-item-weight: $is-medium;
$xui-tabs-nav-item-style: (
  line-height: 24px,
  font-size: 12px,
);

$xui-tabs-nav-item-hover-background: rgba($link, 0.1);
