/// @font-face
/// ------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700;Open+Sans:400,700');

/// @param {value} $body-font
/// @param {value} $headings-font
$body-font: 'Open Sans', sans-serif;
$headings-font: 'Roboto Mono', sans-serif;

/// @param {number} $base-font-size [1em]
$base-font-size: 14px;
