<h2>Icons</h2>
<div data-grid>
  <div data-col="6@sm">
    <div class="input-group">
      <div class="input-group__addon">
        <ec-icon name="search"></ec-icon>
      </div>
      <input type="text" placeholder="search for icon class..." class="input" [(ngModel)]="query" />
    </div>
  </div>
  <div data-col="6@sm">
    <nav class="xui-select" tabindex="0">
      <div class="xui-select__placeholder">Set auswählen</div>
      <span class="xui-select__caret"></span>
      <ul class="xui-select-options">
        <li class="xui-select-option" *ngFor="let set of sets" tabindex="0">
          <a (click)="useSet(set.set)"> {{ set.label }} </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="spacer"></div>
<ul class="is-hidden">
  <li *ngFor="let set of sets">
    <a (click)="useSet(set.set)"> {{ set.label }} </a>
  </li>
</ul>
<ul data-grid="small-gutter">
  <li *ngFor="let icon of iconService.registry | iconPipe: query" data-col="3">
    <div class="is-margin-bottom-3 is-padding-3 is-theme-lightest" style="font-size: 1.5em;">
      <ec-icon [name]="icon.name">{{ icon.name }}</ec-icon>
    </div>
  </li>
</ul>
<ec-notifications></ec-notifications>
