form {
  display: block;
  margin: auto;
  .field-errors {
    display: none;
  }
  &.submitted {
    .field-errors {
      display: block;
    }

    input.ng-dirty.ng-invalid {
      border-right: 4px solid lightcoral;
    }

  }
  p.error {
    color: lightcoral;
  }
}