// @param {px} $ec-output-tags-font-size [$ec-output-tag-font-size]

.ec-output-tags {
  list-style: none;
  margin: -2px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: arrayMagic($ec-output-tags-font-size, em);

  li {
    padding: 2px;
  }
}
