// @param {px} $ec-output-color-size [20]
// @param {array} $ec-output-color-border [0]

.ec-output-color__sample {
  display: block;
  border-radius: 50%;
  width: arrayMagic($ec-output-color-size, xem);
  height: arrayMagic($ec-output-color-size, xem);
  border: arrayMagic($ec-output-color-border);
}

.ec-output-color__property {
  display: none;
}
