// @param {array} $ec-output-tags-spacing [0 -2]
// @param {array} $ec-output-tags-gutter [2]
// @param {array} $ec-output-tags-style
.ec-output-tags {
  @include inject-style($ec-output-tags-style);
  margin: arrayMagic($ec-output-tags-spacing);
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    padding: arrayMagic($ec-output-tags-gutter);
  }
}
