// @param {array} $ec-output-avatars-spacing [0]
// @param {array} $ec-output-avatars-gutter [0 -4 0 0]
// @param {array} $ec-output-avatars-style
.ec-output-avatars {
  @include inject-style($ec-output-avatars-style);
  margin: arrayMagic($ec-output-avatars-spacing);
  list-style: none;
  padding: 0;
  display: flex;

  li {
    margin: arrayMagic($ec-output-avatars-gutter);
  }
}
