.ec-output-asset {
  border-radius: rem($ec-output-asset-radius);
  padding: arrayMagic($ec-output-asset-padding);
  font-size: em($ec-output-asset-font-size);
  line-height: em($ec-output-asset-line-height, $ec-output-asset-font-size);
  background-color: $ec-output-asset-background;
  display: inline-flex;
  align-items: center;
  opacity: .2;

  .ec-icon {
    font-size: 1em;
    line-height: 1em;

    &::before {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &.is-true {
    opacity: 1;
  }
}

