// @param {array} $ec-list-empty-style
// @param {color} $ec-list-empty-background [getColor(background, lightest)]
// @param {color} $ec-list-empty-color [inherit]
// @param {array} $ec-list-empty-padding [8]
// @param {array} $ec-list-empty-spacing [4 0]
// @param {array} $ec-list-empty-radius [4]

.ec-list-empty {
  @include inject-style($ec-list-empty-style);
  background: $ec-list-empty-background;
  color: $ec-list-empty-color;
  padding: arrayMagic($ec-list-empty-padding);
  margin: arrayMagic($ec-list-empty-spacing);
  border-radius: arrayMagic($ec-list-empty-radius);
}
