// @param {px} $ec-list-cell-size [$base-font-size]
// @param {value} $ec-list-cell-weight [$is-normal]
// @param {color} $ec-list-cell-color [$text]
// @param {array} $ec-list-cell-padding [8]
// @param {array} $ec-list-cell-style
.ec-list-cell {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: 1;
  @include inject-style($ec-list-cell-style);
  color: $ec-list-cell-color;
  font-size: array-magic($ec-list-cell-size, xem);
  font-weight: $ec-list-cell-weight;
  padding: array-magic($ec-list-cell-padding);

  &.is-hidden {
    display: none;
  }

  &_number {
    text-align: right;
    justify-content: flex-end;
  }

  &_string,
  &_email,
  &_url {
    overflow: hidden;
    white-space: nowrap;
  }
}

.ec-list-item__selector {
  flex: none;
}
