// @param {px} $ec-list-header-size [$base-font-size * 0.875]
// @param {value} $ec-list-header-weight [$is-bold]
// @param {color} $ec-list-header-color [$text-light]
// @param {color} $ec-list-header-background [transparent]
// @param {array} $ec-list-header-padding [0]
// @param {array} $ec-list-header-spacing [0 0 8]
// @param {array} $ec-list-header-style
.ec-list-header {
    display: flex;
    @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(48px, 1fr));
    }
    position: relative;
    @include inject-style($ec-list-header-style);
    background: $ec-list-header-background;
    padding: arrayMagic($ec-list-header-padding);
    margin: arrayMagic($ec-list-header-spacing);
    .ec-list-cell {
        overflow: initial;
        font-size: arrayMagic($ec-list-header-size, xem);
        font-weight: $ec-list-header-weight;
        color: $ec-list-header-color;
    }
}