.ec-list-column-filter {
  font-size: rem($base-font-size);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: array-magic($ec-list-cell-padding);

  > span {
    color: $ec-list-header-color;
    font-size: em($ec-list-header-size);
    opacity: 0.8;
    transition: all 0.2s;
  }

  &:hover {
    > span {
      opacity: 1;
    }
  }

  .dropdown-option {
    opacity: 0.4;

    &.is-active {
      opacity: 1;
    }
  }
}
