ec-pop {
    &.ec-pop_fullscreen {
    .ec-pop-container {
      .ec-pop {
        width: 100vw;
        height: 100vh;
        background-color: getColor(background);
        overlay-y: auto;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
      }
    }
  }
}