ec-pop {
  &.pop {
    .ec-pop-container {
      position: fixed;

      .ec-pop {
        z-index: 9999;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: getColor(background);
        @include border-radius(rem($pop-radius));
        overlay-y: auto;
      }
    }
  }

  &.pop-fullscreen {
    .ec-pop-container {
      .ec-pop {
        width: 100vw;
        height: 100vh;
        background-color: getColor(background);
        overlay-y: auto;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
      }
    }
  }
}