%ec-toast {
  background-color: getColor(background);
}

ec-pop {
  &.ec-pop_toast-top {
    .ec-pop-container {
      .ec-pop {
        @extend %ec-drawer;
        @extend %pop-slide-down;
        width: 100vw;
        top: 0;
        left: 0;
      }
    }
  }

  &.ec-pop_toast-bottom {
    .ec-pop-container {
      .ec-pop {
        @extend %ec-drawer;
        @extend %pop-slide-up;
        width: 100vw;
        bottom: 0;
        left: 0;
      }
    }
  }
}
