ec-pop, ec-entry-pop, ec-asset-list-pop {
  &.ec-pop_dialog {
    > .ec-pop-container {
      > .ec-pop {
        background-color: getColor(background);
        border-radius: rem($pop-radius);
        @extend %dialog-appear;
        box-shadow: 0 4px 8px rgba(black, .2), 0 4px 16px rgba(black, .2);
      }
    }
  }
}
