%ec-toast {
  background-color: getColor(background);
}

ec-pop, ec-entry-pop {
  &.ec-pop_toast-top {
    > .ec-pop-container {
      > .ec-pop {
        @extend %ec-drawer;
        @extend %slide-in-down;
        width: 100vw;
        top: 0;
        left: 0;
        @include box-shadow(0 4px 8px getColor(shadow), 0 4px 16px getColor(shadow));
      }
    }
  }

  &.ec-pop_toast-bottom {
    > .ec-pop-container {
      > .ec-pop {
        @extend %ec-drawer;
        @extend %slide-in-up;
        width: 100vw;
        bottom: 0;
        left: 0;
        @include box-shadow(0 -4px 8px getColor(shadow), 0 -4px 16px getColor(shadow));
      }
    }
  }
}
