%ec-drawer {
  background-color: getColor(background);
}

%ec-drawer-side {
  width: rem(280);

  @media (min-width: getBreakpoint(md)){
    width: rem(320);
  }

  @media (min-width: getBreakpoint(lg)){
    min-width: rem(320);
    width: auto;
  }
}

ec-pop, ec-entry-pop, ec-asset-list-pop {
  &.ec-pop_drawer-left {
    > .ec-pop-container {
      > .ec-pop {
        @extend %ec-drawer;
        @extend %ec-drawer-side;
        @extend %slide-in-right;
        box-shadow: 4px 0 8px getColor(shadow), 4px 0 16px getColor(shadow);
      }
    }
  }

  &.ec-pop_drawer-right {
    > .ec-pop-container {
      > .ec-pop {
        @extend %ec-drawer;
        @extend %ec-drawer-side;
        @extend %slide-in-left;
        box-shadow: -4px 0 8px getColor(shadow), -4px 0 16px getColor(shadow);
      }
    }
  }

  &.ec-pop_drawer-top {
    > .ec-pop-container {
      > .ec-pop {
        @extend %ec-drawer;
        @extend %slide-in-down;
        box-shadow: 0 4px 8px getColor(shadow), 0 4px 16px getColor(shadow);
      }
    }
  }

  &.ec-pop_drawer-bottom {
    > .ec-pop-container {
      > .ec-pop {
        @extend %ec-drawer;
        @extend %slide-in-up;
        box-shadow: 0 -4px 8px getColor(shadow), 0 -4px 16px getColor(shadow);
      }
    }
  }
}
