.ec-pop_overlay {
  > .ec-pop-container {
    background-color: getColor(background, backdrop);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    @extend %pop-fade-in;
  }
}
