.ec-pop {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .ec-pop-header {
    flex-grow: 0;
  }

  .ec-pop-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: rem($pop-body-padding);
  }

  .ec-pop-footer {
    flex-grow: 0;
    padding: rem($pop-body-padding/2) rem($pop-body-padding);
  }
}

.ec-pop__dismiss {
  @extend %btn !optional;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  right: rem(2);
  top: rem(2);
  z-index: 1;
  color: getColor(text, lighter);
  animation: all .2s;

  &:hover {
    color: getColor(text, light);
  }
}
