// slide to the right animation
// -----------------------------------------

@include keyframes(slideInRight) {
  0% {
    @include transform(translateX(-100%));
  }

  100% {
    @include transform(unset);
  }
}

%slide-in-right {
  @include animation(slideInRight .4s forwards)
}

// slide to the left animation
// -----------------------------------------

@include keyframes(slideInLeft) {
  0% {
    @include transform(translateX(100%));
  }

  100% {
    @include transform(unset);
  }
}

%slide-in-left {
  @include animation(slideInLeft .4s forwards)
}

// slide up animation
// -----------------------------------------

@include keyframes(slideInUp) {
  0% {
    @include transform(translateY(100%));
  }

  100% {
    @include transform(unset);
  }
}

%slide-in-up {
  @include animation(slideInUp .4s forwards)
}

// slide down animation
// -----------------------------------------

@include keyframes(slideInDown) {
  0% {
    @include transform(translateY(-100%));
  }

  100% {
    @include transform(unset);
  }
}

%slide-in-down {
  @include animation(slideInDown .4s forwards)
}

// fade in animation
// -----------------------------------------

@include keyframes(popfadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

%pop-fade-in {
  @include animation(popfadeIn .4s forwards)
}

// appear animation - fade and slide
// -----------------------------------------

@include keyframes(dialogAppear) {
  0% {
    opacity: 0;
    margin-top: rem(48);
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

%dialog-appear {
  @include animation(dialogAppear .4s forwards)
}