%ec-drawer {
  background-color: getColor(background);
}

ec-pop {
  &.ec-pop_drawer-left {
    > .ec-pop-container {
      > .ec-pop {
        @extend %ec-drawer;
        @extend %slide-in-right;
        height: 100vh;
        top: 0;
        left: 0;
        @include box-shadow(4px 0 8px getColor(shadow), 4px 0 16px getColor(shadow));
      }
    }
  }

  &.ec-pop_drawer-right {
    > .ec-pop-container {
      > .ec-pop {
        @extend %ec-drawer;
        @extend %slide-in-left;
        height: 100vh;
        top: 0;
        right: 0;
        @include box-shadow(-4px 0 8px getColor(shadow), -4px 0 16px getColor(shadow));
      }
    }
  }

  &.ec-pop_drawer-top {
    > .ec-pop-container {
      > .ec-pop {
        @extend %ec-drawer;
        @extend %slide-in-down;
        width: 100vw;
        top: 0;
        left: 0;
        @include box-shadow(0 4px 8px getColor(shadow), 0 4px 16px getColor(shadow));
      }
    }
  }

  &.ec-pop_drawer-bottom {
    > .ec-pop-container {
      > .ec-pop {
        @extend %ec-drawer;
        @extend %slide-in-up;
        width: 100vw;
        bottom: 0;
        left: 0;
        @include box-shadow(0 -4px 8px getColor(shadow), 0 -4px 16px getColor(shadow));
      }
    }
  }
}
