.ec-pop {
  @include flexbox;
  @include flex-direction(column);

  .ec-pop-header {
    @include flex-grow(0);
  }

  .ec-pop-body {
    @include flex-grow(1);
    overflow-y: auto;
    padding: rem($pop-body-padding);
  }

  .ec-pop-footer {
    @include flex-grow(0);
    padding: rem($pop-body-padding/2) rem($pop-body-padding);
  }
}

ec-pop {
  @include theme-modifier('.ec-pop');
}