// @param {array} $ec-output-tags-spacing [0 -2]
// @param {array} $ec-output-tags-gutter [2]
// @param {array} $ec-output-tags-style
.ec-output-tags {
  list-style: none;
  padding: 0;
  display: flex;
  @include inject-style($ec-output-tags-style);
  margin: array-magic($ec-output-tags-spacing);

  li {
    padding: array-magic($ec-output-tags-gutter);
  }
}
