// @param {px} $ec-output-color-size [20]
// @param {array} $ec-output-color-border [0]
// @param {array} $ec-output-color-style
.ec-output-color__sample {
  display: block;
  border-radius: 50%;
  @include inject-style($ec-output-color-style);
  width: array-magic($ec-output-color-size, xem);
  height: array-magic($ec-output-color-size, xem);
  border: array-magic($ec-output-color-border);
}

.ec-output-color__property {
  display: none;
}
