// @param {array} $ec-output-tags-spacing [0 -2]
// @param {array} $ec-output-tags-gutter [2]
// @param {array} $ec-output-tags-style
.ec-output-tags {
  display: flex;
  overflow: hidden;
  list-style: none;
  white-space: nowrap;
  padding: 0;
  @include inject-style($ec-output-tags-style);
  margin: arrayMagic($ec-output-tags-spacing);

  li {
    padding: arrayMagic($ec-output-tags-gutter);
  }
}
