// @param {px} $ec-output-avatar-size [32]
// @param {array} $ec-output-avatar-border [2 solid $background]
// @param {array} $ec-output-avatar-style

.ec-output-avatar {
  border-radius: 50%;
  overflow: hidden;
  @include inject-style($ec-output-avatar-style);
  width: array-magic($ec-output-avatar-size, xem);
  height: array-magic($ec-output-avatar-size, xem);
  border: array-magic($ec-output-avatar-border, xem);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
