<div data-container>
  <h2>Modal</h2>
  <p>ec-modal is an ec-pop with extended styling options.</p>

  <a class="btn" (click)="myModal.toggle()">toggle modal</a>
  <ec-modal [mode]="modalMode" [backdrop]="modalBackdrop" [columns]="modalColumns" [animation]="modalAnimate" #myModal>
    <header *ngIf="showHeader">
      <h4>I am a {{ myModal.type }}</h4>
    </header>
    <p>This is my body. You can change my settings below</p>
    <div class="form-group">
      <label>
        <input class="input" type="checkbox" (ngModelChange)="updateMarkup()" [(ngModel)]="modalBackdrop" /> with
        backdrop
      </label>
    </div>
    <div class="form-group">
      <label>
        <input class="input" type="checkbox" (ngModelChange)="updateMarkup()" [(ngModel)]="showHeader" /> show header
      </label>
    </div>
    <div class="form-group">
      <label>
        <input class="input" type="checkbox" (ngModelChange)="updateMarkup()" [(ngModel)]="showFooter" /> show footer
      </label>
    </div>
    <div class="form-group">
      <label
        >mode
        <select class="input" (ngModelChange)="updateMarkup()" [(ngModel)]="modalMode">
          <option>dialog</option>
          <option>deck</option>
          <option>deck opens-right</option>
          <option>overlay</option>
          <option>toast</option>
          <option>toast opens-bottom</option>
          <option>snackbar</option>
          <option>snackbar opens-bottom</option>
          <option>does-not-exist</option>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label
        >animation
        <select class="input" (ngModelChange)="updateMarkup()" [(ngModel)]="modalAnimate">
          <option></option>
          <option>fadeIn 4</option>
          <option>popIn 4</option>
          <option>flipLeft 4</option>
          <option>flipRight 4</option>
          <option>slideLeft 4</option>
          <option>slideRight 4</option>
          <option>slideUp 4</option>
          <option>slideDown 4</option>
          <option>ambulance 4</option>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label
        >columns
        <input
          class="input"
          type="number"
          min="1"
          max="12"
          [(ngModel)]="modalColumns"
          (ngModelChange)="updateMarkup()"
        />
      </label>
    </div>
    <p><a (click)="showMarkup = !showMarkup">toggle markup</a></p>
    <code *ngIf="showMarkup">
      <pre>
          {{ modalMarkup }}
        </pre
      >
    </code>
    <p><a (click)="showFillText = !showFillText">toggle filltext to test scrolling behaviour</a></p>
    <div *ngIf="showFillText">
      <p>
        Before they sold out vegan hashtag letterpress quinoa glossier retro pitchfork PBR&B microdosing fam. Everyday
        carry skateboard lo-fi mixtape ramps heirloom drinking vinegar hammock four dollar toast +1 direct trade woke
        schlitz. Iceland fingerstache succulents 90's beard twee bitters thundercats church-key. Poutine hashtag umami
        enamel pin raclette. Seitan selvage cray chillwave microdosing.
      </p>
      <p>
        Tote bag small batch fanny pack next level air plant VHS forage whatever. Activated charcoal af portland fam,
        farm-to-table craft beer umami keffiyeh hell of. Farm-to-table actually everyday carry paleo, portland
        letterpress copper mug salvia locavore lomo vice whatever pug. Polaroid normcore literally vexillologist PBR&B
        edison bulb, art party chicharrones YOLO echo park +1 street art snackwave vegan.
      </p>
      <p>
        Cronut crucifix lumbersexual enamel pin, bicycle rights mumblecore leggings lyft. 90's hoodie cornhole,
        skateboard photo booth aesthetic mlkshk jianbing cray hexagon tumeric actually sustainable cronut polaroid.
        Try-hard disrupt affogato, artisan roof party hoodie iceland XOXO godard knausgaard put a bird on it skateboard
        tumblr four dollar toast. Blog craft beer chartreuse pitchfork. Heirloom tacos shoreditch, bushwick kickstarter
        godard vinyl narwhal pinterest cliche ramps deep v. Kogi tumeric whatever vape keytar four dollar toast
        sustainable mumblecore twee mustache adaptogen plaid 3 wolf moon snackwave.
      </p>
    </div>
    <footer *ngIf="showFooter">this is my footer</footer>
  </ec-modal>

  <h3>Ways to define</h3>
  <p>There are multiple ways to define the modal template</p>

  <a class="btn" (click)="testModalA.toggle()">ng-container</a>
  <ec-modal #testModalA>
    <ng-container ngProjectAs="header"> <p>This is my header</p> </ng-container>
    <ng-container>
      <p>
        This modal uses ng-container with ngProjectAs.<br />
        Advantage: No extra wrapper.<br />
        Disadvantage: Ugly definition.
      </p>
    </ng-container>
    <ng-container ngProjectAs="footer"> <p>This is my footer</p> </ng-container>
  </ec-modal>

  <a class="btn" (click)="testModalB.toggle()">ng-template</a>
  <ec-modal #testModalB [header]="header" [body]="body" [footer]="footer">
    <ng-template #header> <p>Header</p> </ng-template>
    <ng-template #body>
      <p>
        This modal uses ng-template + the template inputs.<br />
        Advantage: No extra wrapper + cleaner definition.<br />
        Disadvantage: need unique template variable names for each definition.
      </p>
    </ng-template>
    <ng-template #footer> <p>Footer</p> </ng-template>
  </ec-modal>

  <a class="btn" (click)="testModalC.toggle()">classes</a>
  <ec-modal #testModalC>
    <div class="modal-header"><p>Header</p></div>
    <p>
      This modal uses modal-* classes for content projection.<br />
      Advantage: cleanest definitoin<br />
      Disadvantage: Extra wrappers for header and footer
    </p>
    <div class="modal-footer"><p>Footer</p></div>
  </ec-modal>

  <a class="btn" (click)="testModalD.toggle()">header/footer</a>
  <ec-modal #testModalD>
    <header><p>Header</p></header>
    <p>
      This modal uses header and footer for content projection. Everything that is not inside a header or footer tag
      will be projected to the body.<br />
      Advantage: cleaner definition (HTML5 elements)<br />
      Disadvantage: Extra wrappers for header and footer
    </p>
    <footer><p>Footer</p></footer>
  </ec-modal>
</div>
