ec-pop {

  // default animation
  // -----------------------------------------

  > .ec-pop-container {
    opacity: 0;
    display: none;

    > .ec-pop {
      opacity: 0;
      display: none;
    }

    &.visible {
      opacity: 1;
      display: inherit;

      > .ec-pop {
        opacity: 1;
        display: inherit;
      }
    }
  }

  // basic drawer style
  // -----------------------------------------

  &.ec-pop_dialog {
    > .ec-pop-container {
      position: fixed;
      z-index: 9999;
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      &.visible {
        display: flex !important;
      }

      > .ec-pop {
      }
    }
  }

  // basic drawer style
  // -----------------------------------------

  %basic-drawer {
    z-index: 9999;
  }

  &.ec-pop_drawer-left {
    > .ec-pop-container {
      position: fixed;
      z-index: 9999;

      > .ec-pop {
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
      }
    }
  }

  &.ec-pop_drawer-right {
    > .ec-pop-container {
      position: fixed;
      z-index: 9999;

      > .ec-pop {
        position: fixed;
        height: 100vh;
        top: 0;
        right: 0;
      }
    }
  }

  &.ec-pop_drawer-top {
    > .ec-pop-container {
      position: fixed;
      z-index: 9999;

      > .ec-pop {
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
      }
    }
  }

  &.ec-pop_drawer-bottom {
    > .ec-pop-container {
      position: fixed;
      z-index: 9999;

      > .ec-pop {
        position: fixed;
        width: 100vw;
        bottom: 0;
        left: 0;
      }
    }
  }


  // basic fullscreen styles
  // -----------------------------------------

  &.ec-pop_fullscreen {
    > .ec-pop-container {
      z-index: 9999;

      > .ec-pop {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
      }
    }
  }

  // basic toast styles
  // -----------------------------------------

  %basic-toast {
    position: fixed;
    z-index: 9999;
  }

  &.ec-pop_toast-top {
    > .ec-pop-container {
      > .ec-pop {
        @extend %basic-toast;
        width: 100vw;
        top: 0;
        left: 0;
      }
    }
  }

  &.ec-pop_toast-bottom {
    > .ec-pop-container {
      > .ec-pop {
        @extend %basic-toast;
        width: 100vw;
        bottom: 0;
        left: 0;
      }
    }
  }
}