/*
:host {
  > .ec-pop-container {
    > .ec-pop {
      visibility: hidden;
      overflow: auto;
      z-index: 1001;
      display: none;
    }
    &.visible > .ec-pop {
      display: block;
    }
    &:not(.visible) > .ec-pop {
      visibility: hidden;
    }
    &.visible > .ec-pop {
      visibility: visible;
    }
  }
  &.fade {
    .ec-pop-container {
      .ec-pop {
        opacity: 0;
        transition: all .3s linear;
      }
      &.visible .ec-pop {
        opacity: 1;
      }
    }
  }

  &.modal {
    .ec-pop-container {
      position: relative;
      .ec-pop {
        width: 60vw;
        height: 60vh;
        background-color: white;
        padding: 10px;
        position: fixed;
        top: -60vh;
        left: 50%;
        border: 1px solid slategray;
        transform: translateX(-50%);
        transition: all .3s ease-in;
      }
      &.visible .ec-pop {
        top: 0;
      }
    }
  }

  &.fullscreen {
    > .ec-pop-container {
      > .ec-pop {
        width: 100vw;
        height: 100vh;
        background-color: white;
        padding: 10px;
        position: fixed;
        top: 0;
        opacity: 0;
        transition: all .3s ease-in;
      }
      &.visible > .ec-pop {
        opacity: 1;
      }
    }
  }

  &.sidebar-left {
    > .ec-pop-container {
      > .ec-pop {
        width: 50vw;
        top: 0;
        height: 100vh;
        background-color: white;
        border-right: 1px solid slategray;
        padding: 10px;
        position: fixed;
        left: -50vw;
        transition: all .3s ease-in;
      }
      &.visible > .ec-pop {
        left: 0;
      }
    }
  }

  &.sidebar-right {
    > .ec-pop-container {
      > .ec-pop {
        width: 50vw;
        top: 0;
        height: 100vh;
        background-color: white;
        border-left: 1px solid slategray;
        padding: 10px;
        position: fixed;
        right: -50vw;
        transition: all .3s ease-in;
      }
      &.visible > .ec-pop {
        right: 0;
      }
    }
  }

  &.popdown, &.dropdown {
    position: absolute;
    top: 0;
    width: 100%;
    > .ec-pop-container {
      > .ec-pop {
        position: absolute;
        width: 100%;
        display: none;
        top: 0;
        //border: 1px solid gainsboro;
        padding: 0;
        //border-radius: 5px;
        background: white;
        z-index: 1001;
        //min-height: 100px;
        min-width: 100px;
      }
      &.visible > .ec-pop {
        display: block;
      }
    }
  }
}
*/
