<h3>ResourceDeletePop Demo</h3>
<p>Press the trash icon to open the confirm pop.</p>
<div class="well">
    <a (click)="muffinPop.create()" class="btn">create muffin</a>
</div>
<ul ecEntries model="muffin" #muffins="ecEntries" [options]="{size:10}">
    <li *ngFor="let muffin of muffins.items">
        {{muffin.name}}
        <a (click)="pop.confirm(muffin)">
            <ec-icon name="trash"></ec-icon>
        </a>
    </li>
</ul>
<ec-resource-delete-pop relation="entry" #pop safetyWord="jajaklar"></ec-resource-delete-pop>
<ec-notifications class="toast"></ec-notifications>

<ec-entry-pop model="muffin" #muffinPop class="dialog"></ec-entry-pop>
<ec-loader class="ec-loader ec-loader_global"></ec-loader>