@import './styles/test-config';
@import '~x.ui/scss/x.ui';
@import '../packages/style/scss/components';
@import './styles/shame';
// @import './styles/dark-theme';
@import './styles/light-theme';

.demo-code {
  color: var(--text);
  display: block;
  overflow-x: auto;
  padding: rem(16);
  background: var(--background-lightest);
  border-radius: rem(4);
}
