@import 'config';
@import '~x.ui/src/x.ui.scss';
@import '~@ec.components/style/scss/components';

.demo-menu {
    padding: rem(16);
    a {
        color: getColor(text);
    }
    ul {
        list-style: none;
        margin: 0 0 rem(16);
        padding: rem(8);
        li {
            padding: rem(8) 0;
        }
    }
}