:host .ec-vc-toolbar ul {
    margin: 0;
    padding: 0;
}

:host .ec-vc-toolbar ul.disabled {
    opacity: 0.3;
}

:host .ec-vc-toolbar li {
    display: inline-block;
    margin: 3px;
}

:host .ec-vc-toolbar li a:hover {
}

:host .ec-vc-toolbar li a {
    background-color: lightgreen;
    display: block;
    width: 80px;
    height: 20px;
    padding: 5px;
}

:host .ec-vc-toolbar li a.active {
    background-color: yellowgreen;
}