.ec-input-color {
  display: flex;
  align-items: center;
}

.ec-input-color__preview {
  position: relative;
  width: rem($input-min-height);
  height: rem($input-min-height);
  margin-right: rem(8);
  border-radius: array-magic($input-radius);
  background-color: $input-background;

  [type='color'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &:hover {
    opacity: 0.9;
  }
}
