.ec-asset-select {
  margin: rem(8) 0;
}

.ec-asset-selected {
  margin: rem(8) 0;

  .ec-asset-selected__item {
    padding-bottom: rem(16);

    &.is-dragged {
      opacity: 0.6;
    }
  }
}

.ec-asset-card {
  border-radius: array-magic(2);
  position: relative;
  border: 1px solid get-color(divider);
  transition: all 0.2s;
  width: 100%;
  padding-top: 100%;

  img {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    max-width: 80%;
    width: auto;
    max-height: 80%;
    height: auto;
  }

  .ec-asset-card-controls {
    position: absolute;
    right: rem(4);
    top: rem(4);
    z-index: 10;
    display: none;
    opacity: 0;

    &__remove {
      @extend %btn !optional;
      background: get-color(background);
    }
  }

  &:hover {
    img {
      mix-blend-mode: multiply;
    }

    .ec-asset-card-controls {
      display: inherit;
      opacity: 1;
    }
  }
}
