.ec-asset-list {
  .ec-list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(16);
  }

  .ec-list-item {
    padding: 8px;
    flex-direction: column;
  }

  .ec-list-cell {
    padding: 0;
  }

  .ec-output-date {
    font-size: 0.825em;
  }

  .ec-list-cell_preview {
    display: block;
    margin: 0 0 rem(8);
  }

  .ec-list-cell_title {
    flex: initial;
  }
}
