.ec-asset-upload {
  padding: rem(16);
  margin: rem(4) 0;
  text-align: center;
  border: 2px dashed get-color(divider);
  transition: all 0.2s;

  [type='file'] {
    @extend %is-hidden-input;
  }
}
