.ec-asset-list {
  .ec-list-items {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .ec-list-item {
    width: 100 / 3 * 1%;
    flex-direction: column;
    padding: 8px;
  }

  .ec-list-cell_preview {
    flex-shrink: 0;
  }

  .ec-list-cell_title {
    flex: initial;
  }
}
