<div data-container>
  <h2>Notifications</h2>
  <p>
    Just add the ec-notifications tag anywhere in your template and emit notifications via NotificationService. You will
    also receive notifications from components like form.
  </p>
  <h3>Options</h3>
  <ec-form
    [item]="options"
    #optionsForm
    (submitted)="emit(optionsForm.group.value)"
    [silent]="true"
    [submitButton]="false"
  ></ec-form>
  <a class="btn" (click)="optionsForm.submit()">EMIT</a> <a class="btn" (click)="hide()">HIDE</a>

  <pre><code>{{optionsForm.group?.value | json}}</code></pre>
  <ec-notifications [time]="optionsForm.getValue('time')"></ec-notifications>
</div>
