<div data-container>
  <h2>Dialog</h2>
  <div data-grid>
    <div data-col='3'>
      <h3 class="is-h6">simple dialog</h3>
      <div class="btn" (click)="myDialogSimple.toggle()">open</div>
      <pre><code>markup code here</code></pre>
    </div>
    <div data-col='3'>
      <h3 class="is-h6">dialog with backdrop</h3>
      <div class="btn" (click)="myDialogBackdrop.toggle()">open</div>
      <pre><code>markup code here</code></pre>
    </div>
    <div data-col='3'>
      <h3 class="is-h6">custom width dialog</h3>
      <div class="btn" (click)="myDialogCustom.toggle()">open</div>
      <pre><code>markup code here</code></pre>
    </div>
    <div data-col='3'>
      <h3 class="is-h6">nested dialog</h3>
      <div class="btn" (click)="myDialogNested.toggle()">open</div>
      <pre><code>markup code here</code></pre>
    </div>
  </div>

  <ec-pop #myDialogSimple class="dialog">
    <h4>I'm a dialog without backdrop</h4>
  </ec-pop>

  <ec-pop #myDialogCustom class="dialog" data-col="8">
    <h4>I'm a dialog with a custom width using <code>data-col</code></h4>
  </ec-pop>

  <ec-pop #myDialogNested class="dialog">
    <h4>I'm a nested dialog</h4>
    <div class="btn" (click)="myDialogChild.toggle()">open child</div>
    <ec-pop #myDialogChild class="dialog" data-col="8">
      <h5>I'm a child dialog</h5>
    </ec-pop>
  </ec-pop>

  <ec-pop #myDialogBackdrop class="dialog-wrapper">
    <div class="dialog">
      <h4>I'm a dialog</h4>
    </div>
  </ec-pop>

  <div class="spacer"></div>

  <h2>Overlay</h2>

  <div data-grid>
    <div data-col='3'>
      <h3 class="is-h6">There can only be one kind of overlay.</h3>
      <div class="btn" (click)="myOverlay.toggle()">open overlay</div>
    </div>
  </div>

  <ec-pop #myOverlay class="overlay" data-animate="flipRight 8">
    <h5>I'm a overlay</h5>
  </ec-pop>

  <div class="spacer"></div>

  <h2>Deck</h2>

  <div data-grid>
    <div data-col='3'>
      <h3 class="is-h6">deck opens-left</h3>
      <div class="btn" (click)="myDeckLeft.toggle()">open deck</div>
    </div>
    <div data-col='3'>
      <h3 class="is-h6">deck opens-right</h3>
      <div class="btn" (click)="myDeckRight.toggle()">open deck</div>
    </div>
    <div data-col='3'>
      <h3 class="is-h6">deck opens-left with backdrop</h3>
      <div class="btn" (click)="myDeckLeftBackdrop.toggle()">open deck</div>
    </div>
    <div data-col='3'>
      <h3 class="is-h6">deck opens-right with backdrop</h3>
      <div class="btn" (click)="myDeckRightBackdrop.toggle()">open deck</div>
    </div>
  </div>

  <ec-pop #myDeckLeft class="deck opens-left" data-animate="slideRight 4">
    <h5>I'm a deck</h5>
  </ec-pop>

  <ec-pop #myDeckRight class="deck opens-right" data-animate="slideLeft 4" data-col="8">
    <h5>I'm a deck</h5>
  </ec-pop>

  <ec-pop #myDeckLeftBackdrop class="deck-wrapper">
    <div class="deck opens-left" data-animate="slideRight 4">
      <h5>I'm a deck</h5>
    </div>
  </ec-pop>
  
  <ec-pop #myDeckRightBackdrop class="deck-wrapper">
    <div class="deck opens-right" data-animate="slideLeft 4">
      <h5>I'm a deck</h5>
    </div>
  </ec-pop>

  <h2>Toast</h2>

  <div data-grid>
    <div data-col='3'>
      <h3 class="is-h6">toast opens-top</h3>
      <div class="btn" (click)="myToastTop.toggle()">open toast</div>
    </div>
    <div data-col='3'>
      <h3 class="is-h6">toast opens-bottom</h3>
      <div class="btn" (click)="myToastBottom.toggle()">open toast</div>
    </div>
    <div data-col='3'>
      <h3 class="is-h6">toast opens-top with backdrop</h3>
      <div class="btn" (click)="myToastTopBackdrop.toggle()">open toast</div>
    </div>
    <div data-col='3'>
      <h3 class="is-h6">toast opens-bottom with backdrop</h3>
      <div class="btn" (click)="myToastBottomBackdrop.toggle()">open toast</div>
    </div>
  </div>

  <ec-pop #myToastTop class="toast opens-top" data-animate="slideDown 4">
    <h5>I'm a toast</h5>
  </ec-pop>

  <ec-pop #myToastBottom class="toast opens-bottom" data-animate="slideUp 4">
    <h5>I'm a toast</h5>
  </ec-pop>

  <ec-pop #myToastTopBackdrop class="toast-wrapper">
    <div class="toast opens-top" data-animate="slideDown 4">
      <h5>I'm a toast</h5>
    </div>
  </ec-pop>
  
  <ec-pop #myToastBottomBackdrop class="toast-wrapper">
    <div class="toast opens-bottom" data-animate="slideUp 4">
      <h5>I'm a toast</h5>
    </div>
  </ec-pop>

  <div class="spacer"></div>

  <!-- <h4>Standard markup for ec-pop content</h4>
  <pre><code>{{markup}}</code></pre>
  <div class="bumper"></div>
  <h4>ec-pop styles</h4>
  <ec-pop-trigger #outer>
    <header class="ec-pop-header">
      <button (click)="outer.pop.hide()" class="btn">
        <ec-icon name="close-x-big"></ec-icon>
      </button>
      <h2>.{{outer.popClass}}</h2>
    </header>
    <div class="ec-pop-body">
      <img src="https://unsplash.it/300">
      <ec-pop-trigger #inner>
        <header class="ec-pop-header">
          <h2>.{{inner.popClass}}</h2>
          <button (click)="inner.pop.hide()" class="btn">
            <ec-icon name="close-x-big"></ec-icon>
          </button>
        </header>
        <div class="ec-pop-body">
          <p>This pop is nested!</p>
          <img src="https://unsplash.it/200">
        </div>
        <footer class="ec-pop-footer">
          <strong>Nested Footer</strong>
        </footer>
      </ec-pop-trigger>
    </div>
    <footer class="ec-pop-footer">
      <strong>Footer</strong>
    </footer>
  </ec-pop-trigger>
  <div class="bumper"></div>
  <h4>ec-pop in list-header</h4>
  <ec-list-header [list]="listHeader"></ec-list-header> -->
</div>