////
/// label - 1.0.0
/// @author Bernhard Ruoff

.label {
  font-size: rem(14);
  line-height: rem(24);
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  padding: 0 rem(8);
  margin: rem(4);
  background-color: getColor(base, minor);
  color: setColor(getColor(base, minor));
  @include border-radius(rem($btn-radius));

  &.light,
  &.inactive {
    background-color: getColor(base, minor);
    color: getColor(text, light);
  }

  &.notification {
    background-color: getColor(state, info);
    color: setColor(getColor(state, info), getColor(text, light), white);
  }

  &.active {
    background-color: getColor(base, link);
    color: setColor(getColor(base, link), getColor(text, light), white);
  }

  &.super {
    background-color: getColor(base, super);
    color: setColor(getColor(base, super), getColor(text, light), white);
  }
}