@keyframes ecTabSlide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// @param {color} $ec-tabs-background [$xui-tabs-background]
// @param {array} $ec-tabs-spacing [$xui-tabs-spacing]
// @param {array} $ec-tabs-padding [$xui-tabs-padding]
// @param {array} $ec-tabs-style [$xui-tabs-style]
.ec-tabs {
  @include inject-style($ec-tabs-style);
  background: $ec-tabs-background;
  margin: arrayMagic($ec-tabs-spacing);
  padding: arrayMagic($ec-tabs-padding);
}

// @param {color} $ec-tabs-nav-background [$xui-tabs-nav-background]
// @param {array} $ec-tabs-nav-spacing [$xui-tabs-nav-spacing]
// @param {array} $ec-tabs-nav-padding [$xui-tabs-nav-padding]
// @param {array} $ec-tabs-nav-style [$xui-tabs-nav-style]
.ec-tabs-nav {
  @include inject-style($ec-tabs-nav-style);
  background: $ec-tabs-nav-background;
  margin: arrayMagic($ec-tabs-nav-spacing);
  padding: arrayMagic($ec-tabs-nav-padding);

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @supports (display: flex) {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}

// @param {array} $ec-tabs-nav-items-gutter [$xui-tabs-nav-item-gutter]
.ec-tabs-nav-item {
  padding: arrayMagic($ec-tabs-nav-items-gutter);
  position: relative;
  text-align: center;

  @supports not (display: flex) {
    display: inline-block;
  }

  // @param {array} $ec-tabs-nav-item-padding [$xui-tabs-nav-item-padding]
  // @param {value} $ec-tabs-nav-item-radius [$xui-tabs-nav-item-radius]
  // @param {value} $ec-tabs-nav-item-weight [$xui-tabs-nav-item-weight]
  // @param {color} $ec-tabs-nav-item-background [$xui-tabs-nav-item-background]
  // @param {color} $ec-tabs-nav-item-color [$xui-tabs-nav-item-color]
  // @param {array} $ec-tabs-nav-item-style [$xui-tabs-nav-item-style]
  a {
    @include inject-style($ec-tabs-nav-item-style);
    border-radius: arrayMagic($ec-tabs-nav-item-radius);
    background: $ec-tabs-nav-item-background;
    color: $ec-tabs-nav-item-color;
    font-weight: $ec-tabs-nav-item-weight;
    padding: arrayMagic($ec-tabs-nav-item-padding);
    cursor: pointer;
    display: block;
    text-align: center;

    // @param {color} $ec-tabs-nav-item-hover-background [$xui-tabs-nav-item-hover-background]
    // @param {color} $ec-tabs-nav-item-hover-color [$xui-tabs-nav-item-hover-color]
    // @param {array} $ec-tabs-nav-item-hover-style [$xui-tabs-nav-item-hover-style]
    &:hover {
      @include inject-style($ec-tabs-nav-item-hover-style);
      background: $ec-tabs-nav-item-hover-background;
      color: $ec-tabs-nav-item-hover-color;
    }
  }

  // @param {color} $ec-tabs-nav-item-active-background [$xui-tabs-nav-item-active-background]
  // @param {color} $ec-tabs-nav-item-active-color [$xui-tabs-nav-item-active-color]
  // @param {array} $ec-tabs-nav-item-active-style [$xui-tabs-nav-item-active-style]
  .is-selected {
    a {
      @include inject-style($ec-tabs-nav-item-active-style);
      background: $ec-tabs-nav-item-active-background;
      color: $ec-tabs-nav-item-active-color;
    }
  }
}

// @param {color} $ec-tab-background [$xui-tab-background]
// @param {array} $ec-tab-spacing [$xui-tab-spacing]
// @param {array} $ec-tab-padding [$xui-tab-padding]
// @param {array} $ec-tab-style [$xui-tab-style]
// @param {value} $ec-tab-animation [ecTabSlide]
// @param {time} $ec-tab-animation-speed [0.4s]
// @param {value} $ec-tab-animation-behavior [forwards]
.ec-tab {
  @include inject-style($ec-tab-style);
  background: $ec-tab-background;
  margin: arrayMagic($ec-tab-spacing);
  padding: arrayMagic($ec-tab-padding);
  animation: $ec-tab-animation $ec-tab-animation-speed $ec-tab-animation-behavior;
}
