.ec-datetime-picker {
  position: relative;
  display: block;

  .datetime-select {
    //position: absolute;
    background-color: white;
    z-index: 100;
    margin-bottom: 1em;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

    header {
      ul {
        display: table;
        width: 100%;

        li {
          display: table-cell;
          text-align: center;
          &:nth-child(3) {
            font-weight: bold;
          }
          h6 {
            margin: 0;
          }
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;

      &.days {
        font-weight: bold;
      }
      &.days {
        padding: 0;
        user-select: none;
        list-style: none;

        li {
          cursor: pointer;
          text-align: center;
          line-height: 30px;
          width: 14.2%;
          float: left;

          &:nth-child(7n+1) {
            clear: left;
          }

          &.other {
          }
        }
      }
    }
  }
}