.ec-heatmap .ec-calendar-month-days {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  
    li {
      width: 100 / 7 * 1%;
      text-align: center;
    }
  }
  