.ec-resource-list-pop {
  align-items: flex-start;

  .modal__header {
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 0;
  }

  .ec-searchbar {
    padding: 0 80px;
    margin: 0 0 16px;
  }

  .ec-list-header {
    margin: 0;
  }

  .ec-pagination {
    margin: 0;
    background: none;
  }
}
