//scss-lint:disable SelectorDepth NestingDepth

.ec-resource-list {
  .ec-list-header {
    display: none;
  }

  .ec-list-items {
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
  }

  .ec-list-item {
    flex-direction: column;
    padding: 0 0 rem(8);
    width: 100 / 4 * 1%;
    background: getColor(background, lighter);
    border-right: rem(1) solid #fff;
    border-bottom: rem(1) solid #fff;

    &:hover {
      background: getColor(background, light);

      .ec-list-cell {
        color: inherit;
      }
    }

    .ec-list-cell {
      padding: 0 rem(8);
      font-size: rem(12);
      align-items: initial;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: initial;
    }

    .ec-list-cell_preview {
      flex-shrink: 0;
      padding: rem(8);
    }
  }
}
